<div class="modal-header">
    <h2>{{modal_title}}</h2>
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
          Date: <input id="Date_search" type="text" placeholder="Search by Date" /><br>        
            <table class="table table-sm table-bordered dataTable table_list" id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                <thead>
                  <tr>
                    {% for header in table_headers %}
                      <th>{{header}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    {% for header in table_headers %}
                      <th>{{header}}</th>
                    {% endfor %}
                  </tr>
                </tfoot>
                <tbody>
                  {% for items in items_list %}
                  <tr role="row">                     
                    {% for item in items %}
                      {% if item.href %}
                        <td><a href="{{item.href}}">{%if item.is_strong%} <strong>{{item.display}}</strong> {% else %} {{item.display}} {%endif%}</a></td>
                      {% else %}
                        <td>{%if item.is_strong%}<strong>{{item}}</strong>{% else %} {{item}} {% endif%}</td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                  {% endfor %}           
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-white" data-dismiss="modal">Cerrar</button>
    
</div>

<script>
  $.fn.dataTableExt.afnFiltering.push(
    function( oSettings, aData, iDataIndex ) {
        var iFini = document.getElementById('fini').value;
        var iFfin = document.getElementById('ffin').value;
        var iStartDateCol = 6;
        var iEndDateCol = 7;
 
        iFini=iFini.substring(6,10) + iFini.substring(3,5)+ iFini.substring(0,2);
        iFfin=iFfin.substring(6,10) + iFfin.substring(3,5)+ iFfin.substring(0,2);
 
        var datofini=aData[iStartDateCol].substring(6,10) + aData[iStartDateCol].substring(3,5)+ aData[iStartDateCol].substring(0,2);
        var datoffin=aData[iEndDateCol].substring(6,10) + aData[iEndDateCol].substring(3,5)+ aData[iEndDateCol].substring(0,2);
 
        if ( iFini === "" && iFfin === "" )
        {
            return true;
        }
        else if ( iFini <= datofini && iFfin === "")
        {
            return true;
        }
        else if ( iFfin >= datoffin && iFini === "")
        {
            return true;
        }
        else if (iFini <= datofini && iFfin >= datoffin)
        {
            return true;
        }
        return false;
    }
);

    
</script>