<form method="POST" action="{{url_post}}" class="js-edit-form" autocomplete="off">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h5 class="modal-title">Modificar {{instance}}</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            {% for field in form.visible_fields %}
            {% if field.field.widget.input_type == 'text' or field.field.widget.input_type == 'select' and not field.field.widget.attrs.class == 'wysiwyg' %}
                <div class="col-md-6">
                <div class="form-group">
                    {{field.label_tag}}
                    {% if field.field.widget.attrs.data_group %}
                    <div class="input-group">
                        <span class="input-group-prepend">
                        <span class="input-group-text">{{field.field.widget.attrs.data_group}}</span>
                        </span>
                        {{field}}
                    </div>
                    {% else %}
                    {{field}}
                    {% endif %}
                    {% if field.help_text %}
                    <span class="form-text text-muted">{{field.help_text}}</span>
                    {% endif %}
                </div>
                </div>
            {% elif field.field.widget.input_type == 'checkbox' %}
                <div class="col-md-2">
                <br>
                {{field.label}}
                <div class="form-check form-check-switchery">  
                    <label class="form-check-label">
                    {{field}}
                    {% if field.help_text %}
                        <span class="form-text text-muted">{{field.help_text}}</span>
                    {% endif %}
                    </label>
                </div>       
                </div>   
                {% else %}
                <div class="col-md-6">
                    <div class="form-group">
                    {{field.label_tag}}
                    {{field}}
                    {% if field.help_text %}
                        <span class="form-text text-muted">{{field.help_text}}</span>
                    {% endif %}
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
<script>
    $(document).ready(function(){
        $(".select2").select2({width: '100%'});
  });
</script>
<style>
    .select2-container--open {
        z-index: 9999999
    }
</style>
