{% for field in form %}
    {% for error in field.errors %}
      {% if field.field.widget.input_type != "file" %}
        $("#{{field.auto_id}}").parent().addClass('has-error');
        $("#{{field.auto_id}}").addClass('has-error');
        $("#{{field.auto_id}}").after("<span class='help-block help-block-error'>{{error}}</span>");
      {% else %}
        $("#{{field.auto_id}}").parent().addClass('has-error');
        $("#{{field.auto_id}}").addClass('has-error');
        $("#{{field.auto_id}}").parent().after("<br><span class='help-block help-block-error form-text text-danger'>{{error}}</span>");
      {% endif %}
    {% endfor %}
  {% endfor %}