 {% if form.errors %}
   <div class="alert alert-warning">
     <button class="close" data-close="alert"></button><i class="icon fa fa-warning"></i> Tiene algunos errores. Favor de verificarlos 
   </div>
 {% endif %}
 