{% load thumbnail %}

<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div>
                <div class="hr-line-dashed"></div>
                <div class="file-manager">
                    {{ gallery_formset.management_form }}
                    {% for gallery in gallery_formset %}
                      <div class="gallery-formset">
                        <div class="form-group form-md-line-input">
                          <label class="control-label">{{gallery.image.label}}:</label>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-success btn-file">
                                  <span class="fileinput-new">Seleccionar</span>
                                  <span class="fileinput-exists">Cambiar</span>
                                  {{ gallery.image }}
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                            </div> 
                        </div>
                      </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        </div>
    </div>
    <div class="col-lg-9 animated fadeInRight box_gallery">
      <div class="row"><br>
        <div class="col-lg-12 box_gallery">
          {% if obj_gallery %}
            {% for gallery in obj_gallery %}
              <div class="file-box" id="box_{{gallery.id}}">
                <div class="file">
                  <span class="corner"></span>
                  <div class="image">
                    {% thumbnail gallery.image '200x100' crop='center' as img %}
                      <img src="{{img.url}}" class="img-responsive">
                    {% endthumbnail %}
                  </div>
                  <div class="file-name">
                    <b>Tamaño: {{ gallery.image.size|filesizeformat}}</b><br>
                    <small>Creado: {{gallery.created|date:"d F Y"}}</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button title="Eliminar" data-url="{{namespace}}" data-id="{{gallery.pk}}" class="btn btn-white btn-sm js-item-delete" type="button">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
