<div class="light">
    <div class="portlet light portlet-fit portlet-form ">
      <form id="form_delete" method="post" action="{% url url_post obj.pk %}" class="js-confirm-form">
        {% csrf_token %}
        <div class="modal-header">
          <h4 class="modal-title">Confirmar</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="lead text-center">¿Desea confirmar el registro?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
      </form>
    </div>
  </div>