<div class="light">
  <div class="portlet light portlet-fit portlet-form ">
    <form id="form_delete" method="post" action="{% url url_post obj_cancel.pk %}" class="js-delete-form">
      {% csrf_token %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Confirmar</h4>
      </div>
      <div class="modal-body">
        <p class="lead text-center">¿Está seguro que desea cancelar el registro?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-danger">Cancelar</button>
      </div>
    </form>
  </div>
</div>