
<div class="row bg-gray-100" id="id_mail_form">
    <div class="col-lg-12">
        <form method="POST" action="" class="create-form" autocomplete="off">
            {% csrf_token %}
            {% include 'core/snippets/form_messages.html' with form=mail_form %}
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Para: </label>
                    <div class="col-sm-10">
                        <input id="id_to_mail" class="form-control" value="{{to_mail}}" type="text" name="to_mail" required="">
                    </div>
                </div>
                <div class="form-group row" aria-hidden="true">
                    <label class="col-sm-2 col-form-label"> De: </label>
                    <div class="col-sm-10">
                        <input id="id_from_mail" class="form-control" value="{{from_mail}}" type="text" name="from_mail" required="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> {{mail_form.subject.label}} </label>
                    <div class="col-sm-10">
                        {{mail_form.subject}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">{{mail_form.message.label}}</label>
                    <div class="col-sm-12">
                        {{mail_form.message}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12">
                    <div class="text-right">                
                        <button class="btn btn-sm btn-success" type="submit"><i class="fas fa-reply text-white-50"></i>Enviar</button>
                        <button id="id_close" type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
