<!-- Pagination Bootstrap style -->
<!-- usage example: -->
{% comment %}{% include 'core/snippets/pagination.html' with obj_list=query_instance %}{% endcomment %} 
{% if obj_list.has_other_pages %}
  <ul class="pagination">
    {% if obj_list.has_previous %}
      <li><a href="?page=1" aria-label="Prev"><span>&laquo;</span></a></li>
      <li><a href="?page={{obj_list.previous_page_number}}">{{obj_list.previous_page_number}}</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% comment %}
    {% for i in obj_list.paginator.page_range %}
      {% if obj_list.number == i %}
        <li class="active"><span>{{i}}<span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{i}}">{{i}}</a></li>
      {% endif %}
    {% endfor %}
    {% endcomment %}
    <li class="active"><span>{{obj_list.number}}</span></li>

    {% if obj_list.has_next %}
      <li><a href="?page={{obj_list.next_page_number}}">{{obj_list.next_page_number}}</a></li>
      <li><a href="?page={{obj_list.paginator.num_pages}}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}