{% load thumbnail %}

<div id="tab-2" class="tab-pane">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-stripped table-bordered">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Precio Base</th>
                <th>Precio Venta</th>
                <th>Diseño {% if campaign_obj %}<small>Click en la imagen para ampliarla</small>{% endif %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% if campaign_obj %}
                {% for item in campaign_obj %}
                  <tr id="box_{{item.pk}}">
                    <td>{{item.product}}</td>
                    <td class="price_buy"><h4>$ {{item.product.price}}</h4></td>
                    <td class="price_sell"><h4>$ {{item.price}}</h4></td>
                    <td>
                      <div class="lightBoxGallery">
                        <a href="{{item.image.url}}" title="{{item.product.name}}" data-gallery="">
                          {% thumbnail item.image '80x80' crop='center' as img %}
                            <img src="{{img.url}}">
                          {% endthumbnail %}
                        </a>
                      </div>
                    </td>
                    <td>
                      <button title="Eliminar" data-url="{{namespace}}" data-id="{{item.pk}}" class="btn btn-white btn-sm js-item-delete" type="button">
                        <i class="fa fa-trash"></i>
                      </button>
                  </td>
                </tr>
                {% endfor %}
              {% endif %}
              
              {{ products_formset.management_form }}
              {% for item in products_formset %}
                <tr class="product-formset">
                  <td>
                    <div class="form-group">{{item.product}}</div>
                  </td>
                  <td class="price_sell"><h4>$ 0.00</h4></td>
                  <td class="total_buy">
                    <div class="form-group">
                      <div class="input-group m-b">
                        <span class="input-group-addon">$</span> 
                        {{item.price}}
                      </div>
                    </div>
                  </td>
                  <td>
                   <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-success btn-file"><span class="fileinput-new">Subir diseño</span>
                    <span class="fileinput-exists">Cambiar</span>{{item.image}}</span>
                    <span class="fileinput-filename"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                  </div>                  
                  </td>
                  <td>
                    <button title="Eliminar" data-url="{{namespace}}" class="btn btn-white btn-sm js-product-delete" type="button">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>