{% extends 'base.html' %}

{% block subtitle %}Matchs{% endblock subtitle %}

{% block header %} {% if match_obj %} Editar {% else %} Crear {% endif %} Match {% endblock header %}

{% block headerbutton %}
  <a href="{% url 'matchs:match_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block customcss %}
{% endblock customcss %}


{% block content %}
<div class="col-xl-12">
    <form role="form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'core/snippets/form_messages.html' with form=match_form %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Matchs</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{match_form.equipment.label}}">{{match_form.equipment.label}}</label>
                            {{match_form.equipment}}
                            {% for error in match_form.equipment.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{match_form.commodity.label}}">{{match_form.commodity.label}}</label>
                            {{match_form.commodity}}
                            {% for error in match_form.commodity.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{match_form.source_region.label}}">{{match_form.source_region.label}}</label>
                            {{match_form.source_region}}
                            {% for error in match_form.source_region.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{match_form.source_path.label}}">{{match_form.source_path.label}}</label>
                            {{match_form.source_path}}
                            {% for error in match_form.source_path.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{match_form.target_region.label}}">{{match_form.target_region.label}}</label>
                            {{match_form.target_region}}
                            {% for error in match_form.target_region.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>  
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="{{match_form.target_path.label}}">{{match_form.target_path.label}}</label>
                        {{match_form.target_path}}
                        {% for error in match_form.target_path.errors %}
                            <span class='help-block has-error help-block-error'>{{error}}</span>
                        {% endfor %}
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{match_form.customer.label}}">{{match_form.customer.label}}</label>
                            {{match_form.customer}}
                            {% for error in match_form.customer.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>  
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-right">
                            <button class="btn btn-sm btn-success" type="submit">Guardar</button>
                            <a href="{% url 'matchs:match_list' %}" class="btn btn-sm btn-white">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content%}

{% block customjs %}
    <script src="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
{% endblock customjs %}

{% block docready %}
    {% include 'core/snippets/form_validation.html' with form=match_form %}
    {% include 'core/snippets/messages_error.html' with form=match_form %}


   $(".select2").select2({width: '100%'});
{% endblock docready %}