<form method="POST" action="" class="create-form" autocomplete="off">{% csrf_token %}

    <div class="modal-header">
        <h2>Observaciones</h2>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="{{note_form.options.label}}">{{note_form.options.label}}</label>
                    {{note_form.options}}
                    {% for error in note_form.options.errors %}
                        <span class='help-block has-error help-block-error'>{{error}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="{{note_form.note.label}}">{{note_form.note.label}}</label>
                    {{note_form.note}}
                    {% for error in note_form.note.errors %}
                        <span class='help-block has-error help-block-error'>{{error}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>

</form>

