{% extends 'base.html' %}

{% block subtitle %}Matchs{% endblock subtitle %}

{% block header %}Lista de matchs{% endblock header %}

{% block headerbutton %}
<div>
    {% with perm='can_add_'|add:app_name %}   
        {% if perm in permissions or user.is_superuser %}
        <a href="{% url 'matchs:match_add' %}" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Agregar match</a>
        {% endif %}
    {% endwith %}
    <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-secondary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Regresar</span>
    </a>
</div>
{% endblock headerbutton %}

         
{% block subheader %}{% endblock subheader %}

{% block customcss %}
    <link href="{{STATIC_URL}}plugins/timeline/timeline.css" rel="stylesheet">
{% endblock customcss %}

{% block content %}

{% load thumbnail %}

<div class="col-xl-12">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Buscar match..">
            </div>
        </div>
    </div>
    
    <div class="row" id="matchs">
    {% for item in match_list %}
        <div class="mb-4 col-sm-12 cards-col">
            <div class="card shadow table_list">
                <div class="card-header d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Match</h6>
                    <div>
                        <a href="{% url 'matchs:match_detail' item.match_detail.pk %}" class="btn btn-sm btn-info btn-circle">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        {% with perm='can_delete_'|add:app_name %}   
                            {% if perm in permissions or user.is_superuser %}
                            <button data-url="{% url 'matchs:match_delete' item.match_detail.pk %}" title="Eliminar" class="btn btn-sm btn-danger btn-circle js-view-delete">
                                <i class="fa fa-trash"></i>
                            </button>
                            {% endif %}
                        {% endwith %}
                    </div>
                
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-4 row no-gutters align-items-center">
                                <div class="col-sm-9">
                                    <div class="h5 font-weight-bold text-gray-800">
                                        {{item.match_detail.source_path}} a  {{item.match_detail.target_path}}
                                    </div>
                                </div>
                                <div class="col-sm-3 small">
                                    <a class="float-right">{{item.match_detail.created|date:"d \d\e F \d\e\l Y"}}</a>
                                    <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">{{item.match_detail.source_path}} <i class="fas fa-long-arrow-alt-right"></i>  {{match.target_path}}</div> -->
                                </div>
                            </div>

                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Cliente</div>
                                    <div class="lead">{{item.match_detail.customer.alias}}</div>
                                </div>
                                <div class="col-auto">
                                {% if item.match_detail.customer.picture %}
                                    {% thumbnail item.match_detail.customer.picture '60x60' crop='center' as img %}<img src="{{img.url}}" class="rounded-circle">{% endthumbnail %}
                                {% else %}
                                    <img class="rounded-circle" width="60" src="{{STATIC_URL}}img/user.png">
                                {% endif %}
                                </div>
                            </div>

                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Mercancia</div>
                                    <div class="lead">{{item.match_detail.commodity.name}}</div>
                                </div>
                                <div class="col-auto">
                                {% if item.match_detail.commodity.picture %}
                                    {% thumbnail item.match_detail.commodity.picture '60x60' crop='center' as img %}<img src="{{img.url}}" class="rounded-circle">{% endthumbnail %}
                                {% else %}
                                    <img class="rounded-circle" width="60" src="{{STATIC_URL}}img/commodity.png">
                                {% endif %}
                                </div>
                            </div>

                            <div class="mb-4 row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Equipo</div>
                                    <div class="lead">{{item.match_detail.equipment.equipment}}</div>
                                </div>
                                <div class="col-auto">
                                {% if item.match_detail.equipment.picture %}
                                    {% thumbnail item.match_detail.equipment.picture '60x60' crop='center' as img %}<img src="{{img.url}}" class="rounded-circle">{% endthumbnail %}
                                {% else %}
                                    <img class="rounded-circle" width="60" src="{{STATIC_URL}}img/equipment.png">
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-sm-6 small">
                            {% if item.match_notes %}
                                {% for notification in item.match_notes %}
                                <ul class="timeline">
                                    <li>
                                        {% if notification.mail %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <i class="fas fa-envelope"></i>
                                                <span><strong>{{notification.carrier.alias}}</strong></span>
                                                <span class="float-right">{{notification.mail.created}}</span>
                                            </div>
                                        </div>
                                        <p>{{notification.mail.message}}</p>
                                        {% else %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <i class="fas fa-eye"></i>
                                                <label><strong>{{notification.carrier.alias}}</strong></label>
                                                <span class="float-right">{{notification.created}}</span>
                                            </div>
                                        </div>
                                        <p>{{notification.get_options_display}}</p>
                                        {% endif %}
                                    </li>
                                </ul>
                                {% endfor %}
                            {% else %}
                                <p class="text-center">Sin actividad!</p>
                                
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{item.match_detail.progress}}%" aria-valuenow="{{item.match_detail.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, cards, cardContainer, h5, title, i;
        input = document.getElementById("myFilter");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("matchs");
        cards = cardContainer.getElementsByClassName("cards-col");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-body div.h5");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>


<div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
  </div>
</div>

{% endblock content %}


{% block docready %}


{% endblock docready %}