{% extends 'base.html' %}

{% block subtitle %}Matchs{% endblock subtitle %}

{% block header %}Detalles{% endblock header %}

{% block headerbutton %}
    <a href="{% url 'matchs:match_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Regresar</span>
    </a>
{% endblock headerbutton %}

         
{% block subheader %}{% endblock subheader %}

{% block customcss %}
    <link href="{{STATIC_URL}}plugins/switchery/switchery.min.css" rel="stylesheet">
{% endblock customcss %}

{% block content %}

{% load user_agents %}
{% load thumbnail %}


<div class="col-xl-4 col-lg-5 mb-4">
    <div class="card shadow">
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Match</h6>
        
        </div>
        <div class="card-body">
            
            <div class="mb-4 row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{match_obj.source_path}} <i class="fas fa-long-arrow-alt-right"></i>  {{match_obj.target_path}}</div>
                </div>
            </div>

            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">Cliente</div>
                    <div class="lead">{{match_obj.customer.alias}}</div>
                </div>
                <div class="col-auto">
                {% if match_obj.customer.picture %}
                    {% thumbnail match_obj.customer.picture '60x60' crop='center' as img %}<img src="{{img.url}}" class="rounded-circle">{% endthumbnail %}
                {% else %}
                    <img class="rounded-circle" width="60" src="{{STATIC_URL}}img/user.png">
                {% endif %}
                </div>
            </div>

            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">Mercancia</div>
                    <div class="lead">{{match_obj.commodity.name}}</div>
                </div>
                <div class="col-auto">
                {% if match_obj.commodity.picture %}
                    {% thumbnail match_obj.commodity.picture '60x60' crop='center' as img %}<img src="{{img.url}}" class="rounded-circle">{% endthumbnail %}
                {% else %}
                    <img class="rounded-circle" width="60" src="{{STATIC_URL}}img/commodity.png">
                {% endif %}
                </div>
            </div>

            <div class="mb-4 row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">Equipo</div>
                    <div class="lead">{{match_obj.equipment.equipment}}</div>
                </div>
                <div class="col-auto">
                {% if match_obj.equipment.picture %}
                    {% thumbnail match_obj.equipment.picture '60x60' crop='center' as img %}<img src="{{img.url}}" class="rounded-circle">{% endthumbnail %}
                {% else %}
                    <img class="rounded-circle" width="60" src="{{STATIC_URL}}img/equipment.png">
                {% endif %}
                </div>
            </div>

            <div class="progress mb-2">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{match_obj.progress}}%" aria-valuenow="{{match_obj.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>

{% if carrier_list or near_carriers or near_routes %}
<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Transportistas</h6>
            <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Opciones:</div>
                <a class="dropdown-item" href="#">Ver en mosaicos</a>
            </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            {% if carrier_list or near_carriers%}
            <h6 class="m-0 font-weight-bold text-primary">Interesados</h6>
            <br>
            <div class="table-responsive small">
                <table class="table table-sm table-bordered dataTable table_list" id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                    <thead>
                        <tr><th>Alias</th><th>Razon social</th><th>Estado</th><th>Viajes</th><th>Acciones</th></tr>
                    </thead>
                    <tfoot>
                        <tr><th>Alias</th><th>Razon social</th><th>Estado</th><th>Viajes</th><th>Acciones</th></tr>
                    </tfoot>
                    <tbody>
                        {% for carrier in carrier_list %}
                        <tr>                     
                        <td><strong><a href="#" data-url="{% url 'carriers:carrier_detail' carrier.carrier.pk %}" class="js-create">{{carrier.carrier.alias}}</a></td>
                        <td>{{carrier.carrier.business_name}}</td>
                        <td>{{carrier.carrier.city}}, {{carrier.carrier.region}}</td>
                        <td>
                            {% if carrier.carrier.carrier_route.all|length %} 
                                <button data-url="{% url 'carriers:carrier_routes' carrier.carrier.pk %}" type="button" class="btn btn-sm btn-primary js-create"> 
                                    {{carrier.carrier.carrier_route.all|length}}                            
                                </button>
                            {% else %}
                                Sin viajes
                            {% endif %}
                        </td>
                        <td>
                            {% if request|is_mobile %}
                                {% if carrier.contact.cellphone %}
                                <a class="btn btn-sm btn-primary btn-circle" href="tel:{{carrier.contact.cellphone}}"><i class="fas fa-phone"></i></a>
                                {% elif carrier.contact.phone %}
                                <a class="btn btn-sm btn-primary btn-circle" href="tel:{{carrier.contact.phone}}"><i class="fas fa-phone"></i></a>
                                {% endif %}
                            {% endif %}
                            <button data-url="{% url 'carriers:carrier_detail' carrier.carrier.pk %}" type="button" class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>     
                            <button data-url="{% url 'matchs:match_sendmail' match_obj.pk carrier.carrier.pk %}" type="button" class="btn btn-sm btn-warning btn-circle js-create">
                                <i class="fas fa-envelope"></i>
                            </button> 
                            <button data-url="{% url 'matchs:match_note' match_obj.pk carrier.carrier.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create">
                                <i class="fas fa-sticky-note"></i>
                            </button> 
                        </td>
                        </tr>
                        {% endfor %} 
                        {% for carrier in near_carriers %}
                            <tr>                     
                            <td><strong><a href="#" data-url="{% url 'carriers:carrier_detail' carrier.carrier.pk %}" class="js-create">{{carrier.carrier.alias}}</a></strong></td>
                            <td>{{carrier.carrier.business_name}}</td>
                            <td>{{carrier.carrier.city}}, {{carrier.carrier.region}}</td>
                            <td>
                                {% if carrier.carrier_route.all|length %} 
                                <button data-url="{% url 'carriers:carrier_routes' carrier.pk %}" type="button" class="btn btn-sm btn-primary js-create"> 
                                    {{carrier.carrier_route.all|length}}                            
                                </button>
                                {% else %}
                                    Sin viajes
                                {% endif %}
                            </td>
                            <td>
                                {% if request|is_mobile %}
                                    {% if carrier.contact.cellphone %}
                                    <a class="btn btn-sm btn-primary btn-circle" href="tel:{{carrier.contact.cellphone}}"><i class="fas fa-phone"></i></a>
                                    {% elif carrier.contact.phone %}
                                    <a class="btn btn-sm btn-primary btn-circle" href="tel:{{carrier.contact.phone}}"><i class="fas fa-phone"></i></a>
                                    {% endif %}
                                {% endif %}
                                <button data-url="{% url 'carriers:carrier_detail' carrier.carrier.pk %}" type="button" class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>     
                                <button data-url="{% url 'matchs:match_sendmail' match_obj.pk carrier.carrier.pk %}" type="button" class="btn btn-sm btn-warning btn-circle js-create">
                                    <i class="fas fa-envelope"></i>
                                </button> 
                                <button data-url="{% url 'matchs:match_note' match_obj.pk carrier.carrier.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create">
                                    <i class="fas fa-sticky-note"></i>
                                </button> 
                            </td>
                            </tr>
                        {% endfor %}          
                    </tbody>
                </table>
            </div>
            {% endif %}
            

            {% if routes_list %}
                {% if carrier_list or near_carriers %}
                <hr class="sidebar-divider">
                <h6 class="m-0 font-weight-bold text-primary">Rutas realizadas</h6>
                <br>
                {% endif %}
                <div class="table-responsive small">
                    <table class="table table-sm table-bordered dataTable table_list" id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                        <thead>
                        <tr role="row"><th>Alias</th><th>Viajes</th><th>Ruta</th><th>Acciones</th></tr>
                        </thead>
                        <tfoot>
                        <tr><th>Alias</th><th>Viajes</th><th>Ruta</th><th>Acciones</th></tr>
                        </tfoot>
                        <tbody>
                        {% for item in routes_list %}
                        <tr role="row">                     
                            <td><strong><a href="#" data-url="{% url 'carriers:carrier_detail' item.pk %}" class="js-create">{{item.alias}}</a></strong></td>
                            <td>
                                <button data-url="{% url 'carriers:carrier_routes' item.pk item.source_path.pk item.target_path.pk %}" type="button" class="btn btn-sm btn-primary js-create"> 
                                    {{item.travels}} 
                                </button>
                            </td>
                            <td>{{item.source_path}} <i class="fas fa-long-arrow-alt-right"></i> {{item.target_path}}</td>
                            <td>
                            {% if request|is_mobile %}
                                {% if item.contact.cellphone %}
                                <a class="btn btn-sm btn-primary btn-circle" href="tel:{{item.contact.cellphone}}"><i class="fas fa-phone"></i></a>
                                {% elif item.contact.phone %}
                                <a class="btn btn-sm btn-primary btn-circle" href="tel:{{item.contact.phone}}"><i class="fas fa-phone"></i></a>
                                {% endif %}
                            {% endif %}
                            <button data-url="{% url 'carriers:carrier_detail' item.pk %}" type="button" class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>     
                            <button data-url="{% url 'matchs:match_sendmail' match_obj.pk item.pk %}" type="button" class="btn btn-sm btn-warning btn-circle js-create">
                                <i class="fas fa-envelope"></i>
                            </button> 
                            <button data-url="{% url 'matchs:match_note' match_obj.pk item.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create">
                                <i class="fas fa-sticky-note"></i>
                            </button> 
                            </td>
                        </tr>
                        {% endfor %}           
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if near_carriers or near_routes %}
                {% if carrier_list or routes_list %}
                <hr class="sidebar-divider">
                {% endif %}

            <h6 class="m-0 font-weight-bold text-primary">Rutas cercanas</h6>
            <br>
            <div class="table-responsive small">
                <table class="table table-sm table-bordered dataTable table_list" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                    <thead>
                    <tr role="row"><th>Alias</th><th>Viajes</th><th>Ruta</th><th>Acciones</th></tr>
                    </thead>
                    <tfoot>
                    <tr><th>Alias</th><th>Viajes</th><th>Ruta</th><th>Acciones</th></tr>
                    </tfoot>
                    <tbody>
                    
                    {% for route in near_routes %}
                        <tr role="row">                     
                        <td class="sorting_1"><strong><a href="#" data-url="{% url 'carriers:carrier_detail' route.pk %}" class="js-create">{{route.alias}}</a></strong></td>
                        <td>
                            <button data-url="{% url 'carriers:carrier_routes' route.pk route.source_path.pk route.target_path.pk %}" type="button" class="btn btn-sm btn-primary js-create"> 
                                {{route.travels}} 
                            </button>
                        </td>
                        <td>{{route.source_path}} <i class="fas fa-long-arrow-alt-right"></i> {{route.target_path}}</td>
                        <td>
                            {% if request|is_mobile %}
                                {% if route.contact.cellphone %}
                                <a class="btn btn-sm btn-primary btn-circle" href="tel:{{route.contact.cellphone}}"><i class="fas fa-phone"></i></a>
                                {% elif route.contact.phone %}
                                <a class="btn btn-sm btn-primary btn-circle" href="tel:{{route.contact.phone}}"><i class="fas fa-phone"></i></a>
                                {% endif %}
                            {% endif %}
                            <button data-url="{% url 'carriers:carrier_detail' route.pk %}" type="button" class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>     
                            <button data-url="{% url 'matchs:match_sendmail' match_obj.pk route.pk %}" type="button" class="btn btn-sm btn-warning btn-circle js-create">
                                <i class="fas fa-envelope"></i>
                            </button> 
                            <button data-url="{% url 'matchs:match_note' match_obj.pk route.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create">
                                <i class="fas fa-sticky-note"></i>
                            </button> 
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table> 
            </div>
            {% endif %}     
        </div>
    </div>
</div>
{% endif %}



<div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
  </div>
</div>

{% endblock content %}

{% block customjs %}
    <script src="{{STATIC_URL}}plugins/switchery/switchery.min.js"></script>
{% endblock customjs %}

{% block docready %}
    $(".table_list").DataTable({
        "order": [[ 1, "desc" ]],
        "pageLength": 5
    });
{% endblock docready %}