<script src="{{STATIC_URL}}vendor/jquery/jquery.min.js"></script>
<script src="{{STATIC_URL}}plugins/jquery_formset/js/jquery_formset.js" type="text/javascript"></script>
<link href="{{STATIC_URL}}plugins/select2/select2.min.css" rel="stylesheet">
<script src="{{STATIC_URL}}plugins/select2/select2.full.min.js"></script>


<div class="table-responsive">
    <table class="table table-stripped">
        <thead>
        <tr>
            <th class="col-md-10">Mercancia</th>
            <th class="col-md-2"></th>
        </tr>
        </thead>
        <tbody>
        {% if items_list%}
            {% for item in items_list %}
            <tr id="box_{{item.pk}}">
                <td>{{item.commodity}}</td>
                <td>
                <button data-url="{{item.get_absolute_url}}" class="btn btn-sm btn-danger btn-circle js-item-delete" type="button">
                    <i class="fa fa-trash"></i>
                </button>
                </td>
            </tr>
            {% endfor %}

        {% endif %}
        
        {{ formset.management_form }}
        {% for item in formset %}
            <tr class="table-formset" id="id_commodity_formset">
                <td>
                    <div class="form-group">{{item.commodity}}</div>
                </td>
                <td>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<script>
    (function () {
        // init dynamic formset
        $('#id_commodity_formset').formset({
            added: function (row) {
                row.find('.select2').select2({width: '100%'});
            },
            prefix: '{{prefix_commodity}}',
            addText: 'Agregar mercancia',
            addCssClass: 'add-row btn btn-sm btn-primary',
            deleteText: '<i class="fa fa-trash"></i>',
            deleteCssClass: 'btn btn-sm btn-danger btn-circle  js-field-delete',
        });
    }());
</script>