{% extends 'base.html' %}

{% block subtitle %}Clientes{% endblock subtitle %}

{% block header %} {% if customer_obj %} Editar {% else %} Agregar {% endif %} Cliente {% endblock header %}

{% block headerbutton %}
  <a href="{% url 'customers:customer_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block customcss %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

{% endblock customcss %}



{% block content %}
<div class="col-lg-12">
    <form role="form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'core/snippets/form_messages.html' with form=customer_form %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Cliente</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{customer_form.business_name.label}}">{{customer_form.business_name.label}}</label>
                                    {{customer_form.business_name}}
                                    {% for error in customer_form.business_name.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{customer_form.alias.label}}">{{customer_form.alias.label}}</label>
                                    {{customer_form.alias}}
                                    {% for error in customer_form.alias.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{customer_form.address.label}}">{{customer_form.address.label}}</label>
                                    {{customer_form.address}}
                                    {% for error in customer_form.address.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="{{customer_form.postal_code.label}}">{{customer_form.postal_code.label}}</label>
                                    {{customer_form.postal_code}}
                                    {% for error in customer_form.postal_code.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="{{customer_form.tax_number.label}}">{{customer_form.tax_number.label}}</label>
                                    {{customer_form.tax_number}}
                                    {% for error in customer_form.tax_number.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row cities">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{customer_form.subregion.label}}">{{customer_form.subregion.label}}</label>
                                    {{customer_form.subregion}}
                                    {% for error in customer_form.subregion.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{customer_form.city.label}}">{{customer_form.city.label}}</label>
                                    {{customer_form.city}}
                                    {% for error in customer_form.city.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{customer_form.region.label}}">{{customer_form.region.label}}</label>
                                    {{customer_form.region}}
                                    {% for error in customer_form.region.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{customer_form.country.label}}">{{customer_form.country.label}}</label>
                                    {{customer_form.country}}
                                    {% for error in customer_form.country.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{customer_form.coordinator.label}}">{{customer_form.coordinator.label}}</label>
                                    {{customer_form.coordinator}}
                                    {% for error in customer_form.coordinator.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="{{customer_form.picture.label}}">{{customer_form.picture.label}}</label>
                                <br>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-sm btn-primary btn-file"><span class="fileinput-new">Subir imagen</span>
                                <span class="fileinput-exists">Cambiar</span>{{customer_form.picture}}</span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                </div> 
                            </div>
                            <div id='map' class="col-sm-12" style="height: 300px;"></div>
                        </div>
                    </div> 

                    <div id="interest_routes" class="col-sm-12"> 
                        <hr class="sidebar-divider"> 
                        <h6 class="m-0 font-weight-bold text-primary">Rutas</h6>
                        {% include 'customers/route_formset.html' with formset=routes_form items_list=interest_routes namespace='customers/' %}
                    </div>

                    <div class="col-sm-12">
                        <hr class="sidebar-divider">
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="m-0 font-weight-bold text-primary">
                                    Equipos
                                </h6>
                                {% include 'customers/equipment_formset.html' with formset=equipment_form items_list=equipments namespace='customers/' %}
                            </div>

                            <div class="col-sm-6">
                                <h6 class="m-0 font-weight-bold text-primary">
                                    Mercancias
                                </h6>
                                {% include 'customers/commodity_formset.html' with formset=commodity_form items_list=commodities namespace='customers/' %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <hr class="sidebar-divider">
                        <div class="row">
                            <div class="col-sm-6 border-left-primary">
                                <h6 class="m-0 font-weight-bold text-primary">
                                    Contacto administrativo
                                </h6>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="{{admin_contact_form.name.label}}">{{admin_contact_form.name.label}}</label>
                                        {{admin_contact_form.name}}
                                        {% for error in admin_contact_form.name.errors %}
                                            <span class='help-block has-error help-block-error'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="{{admin_contact_form.email.label}}">{{admin_contact_form.email.label}}</label>
                                        {{admin_contact_form.email}}
                                        {% for error in admin_contact_form.email.errors %}
                                            <span class='help-block has-error help-block-error'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="{{admin_contact_form.phone.label}}">{{admin_contact_form.phone.label}}</label>
                                        {{admin_contact_form.phone}}
                                        {% for error in admin_contact_form.phone.errors %}
                                            <span class='help-block has-error help-block-error'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="{{admin_contact_form.cellphone.label}}">{{admin_contact_form.cellphone.label}}</label>
                                        {{admin_contact_form.cellphone}}
                                        {% for error in admin_contact_form.cellphone.errors %}
                                            <span class='help-block has-error help-block-error'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6 border-left-info">
                                <h6 class="m-0 font-weight-bold text-primary">
                                    Contacto operativo
                                </h6>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="{{operative_contact_form.name.label}}">{{operative_contact_form.name.label}}</label>
                                        {{operative_contact_form.name}}
                                        {% for error in operative_contact_form.name.errors %}
                                            <span class='help-block has-error help-block-error'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="{{operative_contact_form.email.label}}">{{operative_contact_form.email.label}}</label>
                                        {{operative_contact_form.email}}
                                        {% for error in operative_contact_form.email.errors %}
                                            <span class='help-block has-error help-block-error'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="{{operative_contact_form.phone.label}}">{{operative_contact_form.phone.label}}</label>
                                        {{operative_contact_form.phone}}
                                        {% for error in operative_contact_form.phone.errors %}
                                            <span class='help-block has-error help-block-error'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="{{operative_contact_form.cellphone.label}}">{{operative_contact_form.cellphone.label}}</label>
                                        {{operative_contact_form.cellphone}}
                                        {% for error in operative_contact_form.cellphone.errors %}
                                            <span class='help-block has-error help-block-error'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>     
            </div>
            
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-sm btn-success" type="submit">Guardar</button>
                        <a href="{% url 'customers:customer_list' %}" class="btn btn-sm btn-white">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content%}

{% block customjs %}
    <script src="{{STATIC_URL}}js/customer.js?1"></script>
    <script src="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
{% endblock customjs %}

{% block docready %}
    {% include 'core/snippets/messages_error.html' with form=customer_form %}
    {% include 'core/snippets/form_validation.html' with form=customer_form %}

    $(".select2").select2({width: '100%'});
    $(".touchspin").TouchSpin({
        min: 1,
        max: 9999999,
        step: 1,
        buttondown_class: 'btn btn-light',
        buttonup_class: 'btn btn-light'
    });
    

    {% if customer_obj %}
        var _address = '{{customer_obj.address}}'.replace(/ /g, '%20');
        var address = _address.replace('#', '%23')
        $.ajax({
            url: 'https://api.mapbox.com/geocoding/v5/mapbox.places/'+ address + '%2C%20{{customer_obj.postal_code}}.json?access_token={{map_token}}',
            type: 'GET',
            success: function(data) {
                coordinates = data.features[0].geometry.coordinates;

                mapboxgl.accessToken = '{{map_token}}';
                var map = new mapboxgl.Map({
                    container: 'map',
                    center: coordinates,
                    zoom: 7,
                    style: 'mapbox://styles/mapbox/streets-v11'
                });
                var marker = new mapboxgl.Marker({
                    draggable: false
                }).setLngLat(coordinates).addTo(map);
                map.addControl(new mapboxgl.NavigationControl());
            ;}
        });

    {% else %}
    
        mapboxgl.accessToken = 'pk.eyJ1IjoiYmVycmV5b2wiLCJhIjoiY2s4cThsNGN0MDA5ZDNmcGgzOXY1NDBkeCJ9.1_0TqZta11NjNNfGgtJwWA';
        var map = new mapboxgl.Map({
            container: 'map',
            center: [-102.8379, 22.8627],
            zoom: 3,
            style: 'mapbox://styles/mapbox/streets-v11'
        });

        map.addControl(new mapboxgl.NavigationControl());

        var marker = new mapboxgl.Marker({
            draggable: false
        }).setLngLat([-102.8379, 22.8627]).addTo(map);
    {% endif %}
{% endblock docready %}