{% extends 'base.html' %}

{% block subtitle %}Clientes{% endblock subtitle %}

{% block header %}Lista de clientes{% endblock header %}

{% block headerbutton %}
<div>
  {% with perm='can_add_'|add:app_name %}
  {% if perm in permissions or user.is_superuser %}
  <a href="{% url 'customers:customer_add' %}" class="btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-plus text-white-50"></i> Agregar Cliente</a>
  {% endif %}
  {% endwith %}
  <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
</div>
{% endblock headerbutton %}


{% block subheader %}{% endblock subheader %}

{% block customcss %}
<link rel="stylesheet" href="{{STATIC_URL}}plugins/jquery_ui/jquery-ui.css">
{% endblock customcss %}

{% block content %}

{% load user_agents %}
{% load thumbnail %}


<!-- Informacion del cliente -->
<div class="col-xl-3">
  <div class="tab-content">
    {% for customer in customers_list %}
    <div id="info-{{forloop.counter}}" class="tab-pane {% if forloop.counter == 1 %}active {%endif%}">
      <div class="card shadow mb-4">
        <div class="card-header d-flex flex-row justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Informacion</h6>
          <div class="table_list">
            <button data-url="{% url 'customers:customer_detail' customer.pk %}" type="button"
              class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>
            {% with perm='can_edit_'|add:app_name %}
            {% if perm in permissions or user.is_superuser %}
            <a href="{% url 'customers:customer_edit' customer.pk %}" class="btn btn-sm btn-warning btn-circle">
              <i class="fas fa-edit"></i>
            </a>
            {% endif %}
            {% endwith %}
            {% with perm='can_delete_'|add:app_name %}
            {% if perm in permissions or user.is_superuser %}
            <button data-url="{% url 'customers:customer_delete' customer.pk %}" title="Eliminar"
              class="btn btn-sm btn-danger btn-circle js-view-delete">
              <i class="fa fa-trash"></i>
            </button>
            {% endif %}
            {% endwith %}
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              {% if customer.picture %}
              {% thumbnail customer.picture '100x100' crop='center' as img %}<a href="{{customer.picture.url}}"
                target="_blank"><img src="{{img.url}}" class="rounded-circle  img-responsive2"></a>{% endthumbnail %}
              {% else %}
              <img class="rounded-circle img-responsive2" width="100" src="{{STATIC_URL}}img/user.png">
              {% endif %}
            </div>
            <div class="col-sm-8">
              <h5>{{customer.business_name}}</h5>
              <h6>{{customer.alias}}</h6>

            </div>
          </div>

          <!-- Contacto operativo -->
          <div class="col-sm-12 border-left-info">
            <label class="h6 m-0 font-weight-bold text-primary">
              Contacto operativo
            </label>
            <div class="row">
              <i class="fas fa-id-card text-gray-600 mx-3"></i> {{customer.operative_contact.name}}
            </div>
            <div class="row">
              <i class="fas fa-phone-alt text-gray-600 mx-3"></i> {{customer.operative_contact.phone}}
            </div>
            <div class="row">
              <i class="fas fa-mobile-alt text-gray-600 mx-3"></i> {{customer.operative_contact.cellphone}}
            </div>
            <div class="row">
              <button data-url="{% url 'customers:customer_sendmail' customer.pk 'operative' %}" type="button"
                class="btn btn-sm btn-info btn-icon-split js-create mx-1">
                <span class="icon text-white-50">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="text">Enviar mensaje</span>
              </button>
              {% if request|is_mobile %}
              {% if customer.operative_contact.cellphone and customer.operative_contact.cellphone != 'nan' %}
              <a class="btn btn-sm btn-primary rounded-circle phone_ref"
                href="tel:{{customer.operative_contact.cellphone}}"><i class="fa fa-phone"></i></a>
              {% elif customer.operative_contact.phone and customer.operative_contact.phone != 'nan' %}
              <a class="btn btn-sm btn-primary rounded-circle phone_ref"
                href="tel:{{customer.operative_contact.phone}}"><i class="fa fa-phone"></i></a>
              {% endif %}
              {% endif %}
              <button data-url="{% url 'routes:routes_note' customer.pk %}" type="button"
                class="btn btn-sm btn-success btn-circle js-create" hidden>
                <i class="fas fa-sticky-note"></i>
              </button>
            </div>
          </div>

          <!-- Contacto administrativo -->
          <div class="col-sm-12 border-left-primary">
            <label class="h6 m-0 font-weight-bold text-primary">
              Contacto administrativo
            </label>
            <div class="row">
              <i class="fas fa-id-card text-gray-600 mx-3"></i> {{customer.administrative_contact.name}}
            </div>
            <div class="row">
              <i class="fas fa-phone-alt text-gray-600 mx-3"></i> {{customer.administrative_contact.phone}}
            </div>
            <div class="row">
              <i class="fas fa-mobile-alt text-gray-600 mx-3"></i> {{customer.administrative_contact.cellphone}}
            </div>
            <div class="row">
              <button data-url="{% url 'customers:customer_sendmail' customer.pk 'administrative' %}" type="button"
                class="btn btn-sm btn-primary btn-icon-split js-create mx-1">
                <span class="icon text-white-50">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="text">Enviar mensaje</span>
              </button>
              {% if request|is_mobile %}
              {% if customer.administrative_contact.cellphone and customer.administrative_contact.cellphone != 'nan' %}
              <a class="btn btn-sm btn-primary rounded-circle phone_ref"
                href="tel:{{customer.administrative_contact.cellphone}}"><i class="fa fa-phone"></i></a>
              {% elif customer.administrative_contact.phone and customer.administrative_contact.phone != 'nan' %}
              <a class="btn btn-sm btn-primary rounded-circle phone_ref"
                href="tel:{{customer.administrative_contact.phone}}"><i class="fa fa-phone"></i></a>
              {% endif %}
              {% endif %}
              <button data-url="{% url 'routes:routes_note' customer.pk %}" type="button"
                class="btn btn-sm btn-success btn-circle js-create" hidden>
                <i class="fas fa-sticky-note"></i>
              </button>
            </div>
          </div>

          <div class="col-sm-12">
            <hr>
            <h6 class="h6 m-0 font-weight-bold text-primary">
              Rutas de interes
            </h6>
            {% if customer.is_national %}
            <label class="label label-success">Nacional</label>
            {% else %}
            {% for route in customer.interest_routes.all %}
            {{route.source_path}} <i class="fas fa-long-arrow-alt-right"></i> {{route.target_path}}
            <br>
            {% endfor %}
            {% endif %}
          </div>
          <div class="col-sm-12">
            <hr>
            <h6 class="h6 m-0 font-weight-bold text-primary">
              Equipos
            </h6>
            {% for equipment in customer.customer_equipment.all %}
            {{equipment.equipment}}
            <br>
            {% endfor %}
          </div>


        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="col-xl-9">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Clientes</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Opciones:</div>
          <a class="dropdown-item" href="#">Ver en mosaicos</a>
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="table-responsive small">
        <table class="table table-sm table-bordered dataTable" id="dataTable" role="grid"
          aria-describedby="dataTable_info" cellspacing="0">
          <thead>
            <tr>
              <th>Alias</th>
              <th>Direccion</th>
              <th>Coordinador</th>
              <th>Rutas</th>
              <th>Equipo</th>
              <th>Mercancia</th>
              <th>Contacto</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Alias</th>
              <th>Direccion TRT</th>
              <th>Coordinador</th>
              <th>Rutas</th>
              <th>Equipo</th>
              <th>Viajes</th>
              <th>Contacto</th>
            </tr>
          </tfoot>
          <tbody>
            {% for customer in customers_list %}
            <tr class="customers">
              <td class="sorting_1"><a class="customer-link"
                  href="#info-{{forloop.counter}}"><strong>{{customer.alias}}</strong></a></td>
              <td>{{customer.city}}, {{customer.region}}</td>
              <td>
                {% if customer.coordinator %}
                <a href="#" data-url="{% url 'employees:employee_detail' customer.coordinator.pk %}"
                  class="js-create"><strong>{{customer.coordinator.first_name}}</strong></a>
                {% endif %}
              </td>
              <td>
                {% for route in customer.customer_interest_routes.all %}
                {{route.source_path}} <i class="fas fa-long-arrow-alt-right"></i> {{route.target_path}}
                <br>
                {% endfor %}
              </td>
              <td>
                {% for equipment in customer.equipments.all %}
                {{equipment}} <br>
                {% endfor %}
              </td>
              <td>
                {% for commodity in customer.commodities.all %}
                {{commodity}} <br>
                {% endfor %}
              </td>
              <td>
                <div class="row">
                  <i class="fas fa-id-card text-gray-600 mx-3"></i> {{customer.operative_contact.name}}
                </div>
                <div class="row">
                  <i class="fas fa-phone-alt text-gray-600 mx-3"></i> {{customer.operative_contact.phone}}
                </div>
                <div class="row">
                  <i class="fas fa-mobile-alt text-gray-600 mx-3"></i> {{customer.operative_contact.cellphone}}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>

{% endblock content %}

{% block customjs %}
<script src="{{STATIC_URL}}plugins/jquery_ui/jquery-ui.js"></script>
{% endblock customjs %}

{% block docready %}
$( function() {
$( document ).tooltip();
} );

$("#dataTable").DataTable();

$(document.body).on("click",".customer-link",function(e){
$(".tab-pane").removeClass('active');
$($(this).attr('href')).addClass("active");
document.querySelector(this.getAttribute('href')).scrollIntoView({
behavior: 'smooth'
});

e.preventDefault();
});


{% endblock docready %}