{% load thumbnail %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<script src="{{STATIC_URL}}js/customer_detail.js?1"></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet'/>

<div class="row">
    <div class="col-lg-12">
        <div class="modal-header">
            <h2>Detalle de Cliente</h2>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Alias: </label>
                                <input id="id_alias" class="form-control" value="{{customer_obj.alias}}" type="text" name="alias" readonly>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" aria-hidden="true">
                                <label> Razon social: </label>
                                <input id="id_business_name" class="form-control" value="{{customer_obj.business_name}}" type="text" name="business_name" readonly>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" aria-hidden="true">
                                <label> Ruta origen: </label>
                                <input id="id_source_path" class="form-control" value="{{customer_obj.source_path}}" type="text" name="source_path" readonly>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" aria-hidden="true">
                                <label> Ruta destino: </label>
                                <input id="id_target_path" class="form-control" value="{{customer_obj.target_path}}" type="text" name="target_path" readonly>
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="col-sm-3 text-center">
                    {% if customer_obj.picture %}
                      {% thumbnail customer_obj.picture '150x150' crop='center' as img %}<a href ="{{customer_obj.picture.url}}" target="_blank"><img src="{{img.url}}" class="rounded-circle img-responsive2"></a>{% endthumbnail %}
                    {% else %}
                      <img class="rounded-circle img-responsive2" src="{{STATIC_URL}}img/user.png">
                    {% endif %}
                </div>
            </div>

            <div class="col-sm-12">
                <hr class="sidebar-divider">
                <div class="row">
                    <div class="col-sm-6 border-left-primary">
                        <label class="h6 m-0 font-weight-bold text-primary">
                            Contacto administrativo
                        </label>
                        <div class="row">
                            <i class="fas fa-id-card text-gray-600 mx-3"></i> {{customer_obj.administrative_contact.name}}
                        </div>
                        <div class="row">
                            <i class="fas fa-phone-alt text-gray-600 mx-3"></i> {{customer_obj.administrative_contact.phone}}
                        </div>
                        <div class="row">
                            <i class="fas fa-mobile-alt text-gray-600 mx-3"></i> {{customer_obj.administrative_contact.cellphone}}
                        </div>
                        <div class="row">
                            <i class="fas fa-at text-gray-600 mx-3"></i> {{customer_obj.administrative_contact.email}}
                        </div>
                    </div>
                    
                    <!-- Contacto operativo -->
                    <div class="col-sm-6 border-left-info">
                        <label class="h6 m-0 font-weight-bold text-primary">
                            Contacto operativo
                        </label>
                        <div class="row">
                            <i class="fas fa-id-card text-gray-600 mx-3"></i> {{customer_obj.operative_contact.name}}
                        </div>
                        <div class="row">
                            <i class="fas fa-phone-alt text-gray-600 mx-3"></i> {{customer_obj.operative_contact.phone}}
                        </div>
                        <div class="row">
                            <i class="fas fa-mobile-alt text-gray-600 mx-3"></i> {{customer_obj.operative_contact.cellphone}}
                        </div>
                        <div class="row">
                            <i class="fas fa-at text-gray-600 mx-3"></i> {{customer_obj.operative_contact.email}}
                        </div>
  
                    </div>  

                </div>
                {% include 'core/snippets/modal_mail.html'  with form=mail_form %}
            </div>

            <hr class="sidebar-divider">  
            <div class="row">
                                  
                <div class="col-sm-5">
                    <div id='map' style="height: 200px;"></div>
                    {% if customer_obj.address and customer_obj.postal_code %}
                    <script>
                        
                        var _address = '{{customer_obj.address}}'.replace(/ /g, '%20');
                        var address = _address.replace('#', '%23')
                        $.ajax({
                            url: 'https://api.mapbox.com/geocoding/v5/mapbox.places/'+ address + '%2C%20{{customer_obj.postal_code}}.json?access_token={{map_token}}',
                            type: 'GET',
                            success: function(data) {
                                coordinates = data.features[0].geometry.coordinates;

                                mapboxgl.accessToken = '{{map_token}}';
                                var map = new mapboxgl.Map({
                                    container: 'map',
                                    center: coordinates,
                                    zoom: 7,
                                    style: 'mapbox://styles/mapbox/streets-v11'
                                });
                                var marker = new mapboxgl.Marker({
                                    draggable: false
                                }).setLngLat(coordinates).addTo(map);
                                map.addControl(new mapboxgl.NavigationControl());
                            ;}
                        });
                    </script>
                    {% endif %}
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" aria-hidden="true">
                                <label> Direccion: </label>
                                <input id="id_address" class="form-control" value="{{customer_obj.address}}" type="text" name="address" readonly>
                            </div>
                        </div> 
                        <div class="col-sm-6">
                            <div class="form-group" aria-hidden="true">
                                <label> Ciudad: </label>
                                <input id="id_city" class="form-control" value="{{customer_obj.city}}" type="text" name="city" readonly>
                            </div>
                        </div> 
                        <div class="col-sm-6">
                            <div class="form-group" aria-hidden="true">
                                <label> Estado: </label>
                                <input id="id_region" class="form-control" value="{{customer_obj.region}}" type="text" name="region" readonly>
                            </div>
                        </div> 
                        <div class="col-sm-6">
                            <div class="form-group" aria-hidden="true">
                                <label> Codigo postal: </label>
                                <input id="id_postal_code" class="form-control" value="{{customer_obj.postal_code}}" type="text" name="postal_code" readonly>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

            <hr class="sidebar-divider">
            <div class="row">
                <div class="col-sm-6">
                    <div class="table-responsive">
                        <table class="table table-stripped">
                            <thead>
                            <tr>
                                <th>Equipo</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if equipments%}
                                {% for equipment in equipments %}
                                <tr>
                                    <td>{{equipment.equipment}}</td>

                                </tr>
                                {% endfor %}
                    
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="table-responsive">
                        <table class="table table-stripped">
                            <thead>
                            <tr>
                                <th>Mercancia</th>
                                <th>Imagen</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if commodities%}
                                {% for commodity in commodities %}
                                <tr>
                                    <td>{{commodity.commodity}}</td>
                                    <td>
                                        {% if commodity.picture %}
                                            {% thumbnail commodity.picture '30x30' crop='center' as img %}<img src="{{img.url}}" class="rounded-circle">{% endthumbnail %}
                                        {% else %}
                                            <img class="rounded-circle" width="30" src="{{STATIC_URL}}img/commodity.png">
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                    
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    
        <div class="modal-footer">
            <div class="col-sm-12">
                <div class="form-group text-right">                
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</div>
