{% load user_agents %}

<div class="modal-header">
    <h2>Documentos</h2>
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
</div>

<div class="modal-body">
    <div class="row">

        {% if documents_list %}
        <div class="{% if documents_missing %} col-sm-6 {% else %} col-sm-12 {% endif %}">
            <h6 class="m-0 font-weight-bold text-primary">
                Documentos subidos
            </h6>
            <ul class="list-group">
                {% for document in documents_list %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-8">
                                {{document.title}}
                            </div>
                            <div class="col-sm-4 text-right">
                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                    <a href="{{document.file.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-eye"></i> Ver</a>
                                </span>
                            </div>
                        </div>
                    </li>
                    
                
                {% endfor %}
            </ul>
            <br> 
        </div>
        {% endif %}
        {% if documents_missing %}
        <div class="{% if documents_list %} col-sm-6 {% else %} col-sm-12 {% endif %}">
            <h6 class="m-0 font-weight-bold text-primary">
                Documentos faltantes
            </h6>
            <ul class="list-group">
                {% for document in documents_missing %}
                    <li class="list-group-item">{{document}}</li>
                {% endfor %}
            </ul>
            <br> 
        </div>
        {% endif %}

        <div class="col-sm-12">
            
            {% if documents_list and not request|is_mobile %}
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  {% for count in documents_list %}
                  <li data-target="#demo" data-slide-to="{{forloop0.counter" class="{% if forloop.counter == 1%}active{% endif %}"></li>
                  {% endfor %}
                </ul>
              
                <!-- The slideshow -->
                <div class="carousel-inner">
                  {% for document in documents_list %}
                  

                  <div class="carousel-item {% if forloop.counter == 1%}active{% endif %}">
                    {% if document.is_pdf %}
                    <iframe src="https://googledriveembedder.collegefam.com/?key=YOUR_API_KEY&folderid=FOLDER_ID_WHIHCH_IS_PUBLICLY_VIEWABLE" class="responsive"></iframe>
                    {% else %}
                    <img src="{{document.file.url}}" alt="{{document.title}}" class="responsive">
                    {% endif %}
                    <div class="carousel-caption">
                        <h3 class="text-gray-800">{{document.title}}</h3>
                        <!-- <p class="text-gray-500"></p> -->
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="btn-group">
                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                    <a href="{{document.file.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-eye"></i> Ver</a>
                                </span>
                            </div>
                        </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button>
</div>