<form method="POST" action="" class="create-form" autocomplete="off">{% csrf_token %}
    <div class="modal-header">
        <h2>Confirmar</h2>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            {% if prospect_form.errors %}
            <div class="alert alert-warning">
                <button class="close" data-close="alert"></button><i class="icon fa fa-warning"></i> Tiene algunos errores. Favor de verificarlos 
            </div>
            {% endif %}
        </div>
    </div>

    <div class="col-sm-12">
        <div class="form-group">
            {{interest_confirm_form.email}}
        </div>
    </div>
    <div class="col-sm-12 div_person_type">
        <div class="text-center">
            <div class="form-group{% if interest_confirm_form.person_type.errors %} has-error{% endif %}">
                {% for radio in interest_confirm_form.person_type %}
                <label class="btn btn-primary" for="{{ radio.id_for_label }}">
                    {{ radio.choice_label }}
                    <span class="radio">{{ radio.tag }}</span>
                </label>
                {% endfor %}  
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-success">Confirmar</button>
        <button type="button" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</button> 
    </div>
</form>

<script>
    $("#id_email").val('hide@hotmail.com');
    $("#id_person_type_0").attr('checked', true);
    // $(".div_person_type").hide();
    // $("#id_email").hide();

</script>