{% extends 'base.html' %}

{% block subtitle %}Interesados{% endblock subtitle %}

{% block header %} {% if interest_obj %} Editar {% else %} Agregar {% endif %} Interesado {% endblock header %}

{% block headerbutton %}
  <a href="{% url 'prospects:prospect_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block customcss %}
    <link href="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
{% endblock customcss %}



{% block content %}
<div class="col-xl-12">
    <form role="form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'core/snippets/form_messages.html' with form=interest_form %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Interesados</h6>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label for="{{prospect_form.name.label}}">{{prospect_form.name.label}}</label>
                                    {{prospect_form.name}}
                                    {% for error in prospect_form.name.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="{{prospect_form.medio.label}}">{{prospect_form.medio.label}}</label>
                                    {{prospect_form.medio}}
                                    {% for error in prospect_form.medio.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{interest_form.phone.label}}">{{interest_form.phone.label}}</label>
                                    {{interest_form.phone}}
                                    {% for error in interest_form.phone.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{prospect_form.phone.label}}">{{prospect_form.phone.label}}</label>
                                    {{prospect_form.phone}}
                                    {% for error in prospect_form.phone.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="interest_routes" class="col-sm-12"> 
                                <hr class="sidebar-divider"> 
                                <h6 class="m-0 font-weight-bold text-primary">Rutas</h6>
                                {% include 'prospects/route_formset.html' with formset=routes_form items_list=interest_routes namespace='prospects/' %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <hr class="sidebar-divider">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Documentos
                        </h6>
                        <br>
                        {% if interest_obj.person_type == 'natural' %}
                        <div class="natural-person">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.tax_number.label}}">{{interest_form.tax_number.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.tax_number %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.tax_number}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.tax_number}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.tax_number.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.oficial_id.label}}">{{interest_form.oficial_id.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.oficial_id %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.oficial_id}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.oficial_id}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.oficial_id.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.transport_allowance.label}}">{{interest_form.transport_allowance.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.transport_allowance %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.transport_allowance}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.transport_allowance}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.transport_allowance.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.proof_address.label}}">{{interest_form.proof_address.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.proof_address %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.proof_address}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.proof_address}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.proof_address.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.e_billin_demo.label}}">{{interest_form.e_billin_demo.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.e_billin_demo %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.e_billin_demo}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.e_billin_demo}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.e_billin_demo.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.bank_statement.label}}">{{interest_form.bank_statement.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.bank_statement %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.bank_statement}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.bank_statement}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.bank_statement.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.unity_list.label}}">{{interest_form.unity_list.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.unity_list %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.unity_list}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.unity_list}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.unity_list.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.contract.label}}">{{interest_form.contract.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.contract %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.contract}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.contract}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.contract.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                                <a class="btn btn-sm btn-primary text-white" href="{{STATIC_URL}}documents/contrato_fisico.pdf" target="_blank" title="Contrato"><i class="fa fa-download"></i>Contrato</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% elif interest_obj.person_type == 'legal' %}
                        <div class="legal-person">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.constitutive_act.label}}">{{interest_form.constitutive_act.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.constitutive_act %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.constitutive_act}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.constitutive_act}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.constitutive_act.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.power_attorney.label}}">{{interest_form.power_attorney.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.power_attorney %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.power_attorney}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.power_attorney}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.power_attorney.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.tax_number.label}}">{{interest_form.tax_number.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.tax_number %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.tax_number}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.tax_number}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.tax_number.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.oficial_id.label}}">{{interest_form.oficial_id.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.oficial_id %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.oficial_id}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.oficial_id}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.oficial_id.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.transport_allowance.label}}">{{interest_form.transport_allowance.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.transport_allowance %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.transport_allowance}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.transport_allowance}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.transport_allowance.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.proof_address.label}}">{{interest_form.proof_address.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.proof_address %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.proof_address}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.proof_address}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.proof_address.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download">Descargar</i></a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.e_billin_demo.label}}">{{interest_form.e_billin_demo.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.e_billin_demo %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.e_billin_demo}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.e_billin_demo}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.e_billin_demo.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.bank_statement.label}}">{{interest_form.bank_statement.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.bank_statement %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.bank_statement}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.bank_statement}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.bank_statement.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.payment_authorization.label}}">{{interest_form.payment_authorization.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.payment_authorization %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.payment_authorization}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.payment_authorization}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.payment_authorization.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.unity_list.label}}">{{interest_form.unity_list.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.unity_list %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.unity_list}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.unity_list}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.unity_list.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="{{interest_form.contract.label}}">{{interest_form.contract.label}}</label>
                                        <br>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="btn-group">
                                                {% if not interest_obj.contract %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.contract}}
                                                </span>
                                                {% else %}
                                                <span class="btn btn-sm btn-success btn-file">
                                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                    <span class="fileinput-exists">Cambiar</span>
                                                    {{interest_form.contract}}
                                                </span>
                                                <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                    <a href="{{interest_obj.contract.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                                </span>
                                                {% endif %}
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                                <a class="btn btn-sm btn-primary text-white" href="{{STATIC_URL}}documents/contrato_moral.pdf" target="_blank" title="Contrato"><i class="fa fa-download"></i>Contrato</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endif %}
                        
                    </div>

                    <div class="col-sm-12">
                        <hr class="sidebar-divider">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Requisitos para asignar viaje
                        </h6>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{interest_form.driving_license.label}}">{{interest_form.driving_license.label}}</label>
                                    <br>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="btn-group">
                                            {% if not interest_obj.driving_license %}
                                            <span class="btn btn-sm btn-success btn-file">
                                                <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                <span class="fileinput-exists">Cambiar</span>
                                                {{interest_form.driving_license}}
                                            </span>
                                            {% else %}
                                            <span class="btn btn-sm btn-success btn-file">
                                                <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                <span class="fileinput-exists">Cambiar</span>
                                                {{interest_form.driving_license}}
                                            </span>
                                            <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                <a href="{{interest_obj.driving_license.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                            </span>
                                            {% endif %}
                                            <span class="fileinput-filename"></span>
                                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{interest_form.insurance.label}}">{{interest_form.insurance.label}}</label>
                                    <br>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="btn-group">
                                            {% if not interest_obj.insurance %}
                                            <span class="btn btn-sm btn-success btn-file">
                                                <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                <span class="fileinput-exists">Cambiar</span>
                                                {{interest_form.insurance}}
                                            </span>
                                            {% else %}
                                            <span class="btn btn-sm btn-success btn-file">
                                                <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                <span class="fileinput-exists">Cambiar</span>
                                                {{interest_form.insurance}}
                                            </span>
                                            <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                <a href="{{interest_obj.insurance.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                            </span>
                                            {% endif %}
                                            <span class="fileinput-filename"></span>
                                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{interest_form.registration.label}}">{{interest_form.registration.label}}</label>
                                    <br>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="btn-group">
                                            {% if not interest_obj.registration %}
                                            <span class="btn btn-sm btn-success btn-file">
                                                <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                <span class="fileinput-exists">Cambiar</span>
                                                {{interest_form.registration}}
                                            </span>
                                            {% else %}
                                            <span class="btn btn-sm btn-success btn-file">
                                                <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                <span class="fileinput-exists">Cambiar</span>
                                                {{interest_form.registration}}
                                            </span>
                                            <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                <a href="{{interest_obj.registration.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                            </span>
                                            {% endif %}
                                            <span class="fileinput-filename"></span>
                                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{interest_form.gps.label}}">{{interest_form.gps.label}}</label>
                                    <br>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="btn-group">
                                            {% if not interest_obj.gps %}
                                            <span class="btn btn-sm btn-success btn-file">
                                                <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                <span class="fileinput-exists">Cambiar</span>
                                                {{interest_form.gps}}
                                            </span>
                                            {% else %}
                                            <span class="btn btn-sm btn-success btn-file">
                                                <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                <span class="fileinput-exists">Cambiar</span>
                                                {{interest_form.gps}}
                                            </span>
                                            <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                <a href="{{interest_obj.gps.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                            </span>
                                            {% endif %}
                                            <span class="fileinput-filename"></span>
                                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{interest_form.mirror_account.label}}">{{interest_form.mirror_account.label}}</label>
                                    <br>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="btn-group">
                                            {% if not interest_obj.mirror_account %}
                                            <span class="btn btn-sm btn-success btn-file">
                                                <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar Archivo</span>
                                                <span class="fileinput-exists">Cambiar</span>
                                                {{interest_form.mirror_account}}
                                            </span>
                                            {% else %}
                                            <span class="btn btn-sm btn-success btn-file">
                                                <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar archivo</span>
                                                <span class="fileinput-exists">Cambiar</span>
                                                {{interest_form.mirror_account}}
                                            </span>
                                            <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                                <a href="{{interest_obj.mirror_account.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-download"></i>Descargar</a>
                                            </span>
                                            {% endif %}
                                            <span class="fileinput-filename"></span>
                                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-sm-12">
                        <br>
                        <hr class="sidebar-divider">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Equipos
                        </h6>
                        {% include 'prospects/equipment_formset.html' with formset=equipment_form items_list=equipments namespace='carriers/' %}
                    </div>
                </div>
            
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-sm btn-success" type="submit">Guardar</button>
                        <a href="{% url 'prospects:prospect_list' %}" class="btn btn-sm btn-white">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content%}

{% block customjs %}
    <script src="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
{% endblock customjs %}

{% block docready %}
    {% include 'core/snippets/messages_error.html' with form=interest_form %}
    {% include 'core/snippets/form_validation.html' with form=interest_form %}

    $(".select2").select2({width: '100%'});
    $(".touchspin").TouchSpin({
        min: 1,
        max: 50,
        step: 1,
        buttondown_class: 'btn btn-light',
        buttonup_class: 'btn btn-light'
    });;

{% endblock docready %}