<form method="POST" action="" class="create-form" autocomplete="off">{% csrf_token %}
    <div class="modal-header">
        <h2>Confirmar</h2>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            {% if prospect_form.errors %}
            <div class="alert alert-warning">
                <button class="close" data-close="alert"></button><i class="icon fa fa-warning"></i> Tiene algunos errores. Favor de verificarlos 
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group{% if prospect_form.name.errors %} has-error{% endif %}">
                    <i class="fa fa-user-tie"></i> <label for="{{prospect_obj.name}}">{{prospect_obj.name}}</label> 
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group{% if prospect_form.phone.errors %} has-error{% endif %}">
                    <i class="fa fa-phone-alt"></i> <label for="{{prospect_obj.phone}}">{{prospect_obj.phone}}</label> 
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="{{interest_confirm_form.email.label}}">{{interest_confirm_form.email.label}}</label>
                    {{interest_confirm_form.email}}
                    {% for error in interest_confirm_form.email.errors %}
                        <span class='help-block has-error help-block-error'>{{error}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="form-group{% if interest_confirm_form.person_type.errors %} has-error{% endif %}">
                        {% for radio in interest_confirm_form.person_type %}
                        <label class="btn btn-primary" for="{{ radio.id_for_label }}">
                            {{ radio.choice_label }}
                            <span class="radio">{{ radio.tag }}</span>
                        </label>
                        {% endfor %}  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-success">Confirmar</button>
        <button type="button" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</button> 
    </div>
</form>