{% extends 'base.html' %}

{% block subtitle %}Prospectos{% endblock subtitle %}

{% block header %} {% if prospect_obj %} Editar {% else %} Agregar {% endif %} prospecto {% endblock header %}

{% block headerbutton %}
  <a href="{% url 'prospects:prospect_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block customcss %}

{% endblock customcss %}



{% block content %}
<div class="col-xl-12">
    <form role="form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'core/snippets/form_messages.html' with form=prospect_form %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Prospectos</h6>
            </div>
            <div class="card-body">
            
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="{{prospect_form.name.label}}">{{prospect_form.name.label}}</label>
                            <span style="color: red;">*</span>
                            {{prospect_form.name}}
                            {% for error in prospect_form.name.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <div>
                                <label for="{{prospect_form.picture.label}}">{{prospect_form.picture.label}}</label> 
                            </div>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="btn-group">
                                    {% if not prospect_obj.picture %}
                                    <span class="btn btn-primary btn-file">
                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar imagen</span>
                                    <span class="fileinput-exists">Cambiar</span>
                                    {{prospect_form.picture}}
                                    </span>
                                    {% else %}
                                    <span class="btn btn-primary btn-file">
                                        <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar imagen</span>
                                        <span class="fileinput-exists">Cambiar</span>
                                        {{prospect_form.picture}}
                                    </span>
                                    <span class="btn btn-primary btn-file">                                        
                                        <a href="{{prospect_obj.picture.url}}" target="blank" style="text-decoration:none; color:white;"><span class="fileinput-new"><i class="fa fa-download"></i></span></a>
                                        <a href="{{prospect_obj.picture.url}}" target="blank" style="text-decoration:none; color:white;"><span class="fileinput-exists"><i class="fa fa-download"></i></span></a>
                                    </span>
                                    {% endif %}
                                    <span class="fileinput-filename"></span>
                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                </div>
                            </div>
                        </div>  
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group required">
                            <label for="{{prospect_form.phone.label}}">{{prospect_form.phone.label}}</label>
                            <span style="color: red;">*</span>
                            {{prospect_form.phone}}
                            {% for error in prospect_form.phone.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{prospect_form.medio.label}}">{{prospect_form.medio.label}}</label>
                            <span style="color: red;">*</span>
                            {{prospect_form.medio}}
                            {% for error in prospect_form.medio.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{prospect_form.source_region.label}}">{{prospect_form.source_region.label}}</label>
                                    {{prospect_form.source_region}}
                                    {% for error in prospect_form.sourceregion.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label for="{{prospect_form.source.label}}">{{prospect_form.source.label}}</label>
                                    {{prospect_form.source}}
                                    {% for error in prospect_form.source.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{prospect_form.target_region.label}}">{{prospect_form.target_region.label}}</label>
                                    {{prospect_form.target_region}}
                                    {% for error in prospect_form.target_region.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label for="{{prospect_form.target.label}}">{{prospect_form.target.label}}</label>
                                    {{prospect_form.target}}
                                    {% for error in prospect_form.target.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 text-right">
                          <button class="btn btn-sm btn-success" type="submit">Guardar</button>
                          <a href="{% url 'prospects:prospect_list' %}" class="btn btn-sm btn-white">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content%}

{% block customjs %}
{% endblock customjs %}

{% block docready %}
    {% include 'core/snippets/messages_error.html' with form=prospect_form %}
    {% include 'core/snippets/form_validation.html' with form=prospect_form %}

    $(".select2").select2({width: '100%'});
{% endblock docready %}