{% extends 'base.html' %}

{% block subtitle %}Prospectos{% endblock subtitle %}

{% block header %}Lista de prospectos{% endblock header %}

{% block headerbutton %}
    <div>
        {% with perm='can_add_'|add:app_name %}   
            {% if perm in permissions or user.is_superuser %}
            <a href="{% url 'prospects:prospect_add' %}" class="btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus text-white-50"></i> Agregar prospecto
            </a>
            {% endif %}
        {% endwith %}
        <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-secondary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text">Regresar</span>
        </a>
    </div>
{% endblock headerbutton %}

         
{% block subheader %}{% endblock subheader %}

{% block customcss %}
  
{% endblock customcss %}

{% block content %}

{% load user_agents %}
{% load thumbnail %}

<div class="col-xl-12">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Buscar prospecto...">
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text" id="filterStatus" class="form-control" onkeyup="filterStatus()" placeholder="Buscar x status...">
            </div>
        </div>
    </div>
    <div class="row" id="prospects">
        {% for prospect in prospect_list %}
        <div class="col-xl-3 col-md-6 mb-4 cards-col">
            <div class="card shadow table_list">
                <div class="card-header d-flex flex-row justify-content-between {% if prospect.prospect_status == 'pd' %} bg-warning {% elif prospect.prospect_status == 'pr' %} bg-primary {% elif prospect.prospect_status == 'wa' %} bg-success {% else %} bg-danger {% endif %}">
                    <div class="h6 text-white"><strong>{{prospect.get_prospect_status_display}}</strong></div>
                    <div>
                        {% with perm='can_edit_'|add:app_name %}   
                            {% if perm in permissions or user.is_superuser %}
                            <a href="{% url 'prospects:prospect_edit' prospect.pk %}" class="btn btn-sm btn-warning btn-circle" style="border-color: white;">
                                <i class="fas fa-edit"></i>
                            </a>
                            {% endif %}
                        {% endwith %}
                        {% with perm='can_delete_'|add:app_name %}   
                            {% if perm in permissions or user.is_superuser %}
                            <button data-url="{% url 'prospects:prospect_delete' prospect.pk %}" title="Eliminar" class="btn btn-sm btn-danger btn-circle js-view-delete" style="border-color: white;">
                                <i class="fa fa-trash"></i>
                            </button>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="card-body">
                    
                    <div class="row no-gutters align-items-center text-center">
                        <div class="col-sm-12 px-5 pb-1">
                            {% if prospect.picture %}
                                {% thumbnail prospect.picture '100x100' crop='center' as img %}
                                <img src="{{img.url}}" class="rounded-circle img-responsive2">{% endthumbnail %}
                            {% else %}
                                <img class="rounded-circle img-responsive2" src="{{STATIC_URL}}img/user.png">
                            {% endif %}
                            </div>
                        <div class="col-sm-12">
                            <div class="h6 mb-0 font-weight-bold text-gray-800">{{prospect.name}}</div>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <small>
                                <i class="fa fa-phone-alt"></i>{{prospect.phone}}
                            </small>
                        </div>
                        <div class="col-sm-12">
                            <div class="small">
                            {% if prospect.prospect_interest.count > 0 %}
                                {% for interest in prospect.prospect_interest.all %}
                                    {% for route in interest.prospect_routes.all %}
                                        {{route.source_path}} <i class="fas fa-long-arrow-alt-right"></i> {{route.target_path}}
                                        <br>
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                {{prospect.source}} <i class="fas fa-long-arrow-alt-right"></i> {{prospect.target}}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    {% if prospect.prospect_status == 'pd' %}
                        <button data-url="{% url 'prospects:interest_confirm' prospect.pk %}" title="Interesado" class="btn btn-primary btn-circle js-create">
                            <i class="fas fa-star"></i>
                        </button>
                    {% else %}
                        {% if prospect.prospect_status == 'wa' %}
                            <button data-url="{% url 'prospects:interest_approve_form' prospect.pk %}" title="Documentos" class="btn btn-success btn-circle js-create">
                                <i class="fas fa-check"></i>
                            </button>
                        {% endif %}
                        <button data-url="{% url 'prospects:interest_documents' prospect.pk %}" title="Documentos" class="btn btn-info btn-circle js-create">
                            <i class="fas fa-file"></i>
                        </button>
                        {% if request|is_mobile %}
                            <a class="btn btn-primary btn-circle" href="tel:{{prospect.phone}}"><i class="fa fa-phone"></i></a>
                        {% else %}
                            <button data-url="{% url 'prospects:interest_sendmail' prospect.pk %}" title="Correo" class="btn btn-warning btn-circle js-create">
                                <i class="fas fa-envelope"></i>
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
  

<script>
    function myFunction() {
        var input, filter, cards, cardContainer, h5, title, i;
        input = document.getElementById("myFilter");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("prospects");
        cards = cardContainer.getElementsByClassName("cards-col");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-body div.h6");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }

    function filterStatus() {
        var input, filter, cards, cardContainer, h5, title, i;
        input = document.getElementById("filterStatus");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("prospects");
        cards = cardContainer.getElementsByClassName("cards-col");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-header div.h6");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>
{% endblock content %}


{% block docready %}
    {% if filter %}
        $("#myFilter").val('{{filter}}');
        myFunction();
    {% endif %}

{% endblock docready %}