
{% extends 'base_login.html' %}

{% block subtitle %}Cuenta Activada{% endblock subtitle %}

{% block content %}
<div class="col-xl-10 col-lg-12 col-md-9">
  
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-6 d-none d-lg-block">
          <img src="{{datapanel.logo.url}}" height="100%" width="100%">
        </div>
        
        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="widget yellow-bg p-lg text-center">
                <div class="m-b-md">
                  <i class="fa fa-warning fa-4x"></i>
                  <h3 class="font-bold no-margins">Esta cuenta ya ha sido activada anteriormente</h3><br>
                </div>
                <a href="{% url 'authorization:login' %}"><button type="button" class="btn btn-w-m btn-success">Iniciar Sesión</button></a>
              </div>
            </div>
          </div>

        </div>
        
      </div>
    </div>
  </div>

</div>
{% endblock content %}