{% extends 'base.html' %}
{% load thumbnail %}

{% block subtitle %}Usuarios{% endblock subtitle %}

{% block header %}{% if user_profile %} Editar Usuario {% else %} Agregar Usuario {% endif %}{% endblock header %}

{% block headerbutton %}
  <a href="{% url 'accounts:accounts_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
{% endblock headerbutton %}

{% block customcss %}
  <link href="{{STATIC_URL}}plugins/dual_select/bootstrap-duallistbox.css" rel="stylesheet">
  <link href="{{STATIC_URL}}plugins/steps/jquery.steps.css" rel="stylesheet">
{% endblock customcss %}

{% block content %}
<div class="col-xl-12">
  <div class="card shadow mb-4">
    <form role="form" method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'core/snippets/form_messages.html' with form=profile_form %}
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Usuario</h6>
      </div>
      <div class="card-body">
        <h6 class="m-0 font-weight-bold text-primary">Acceso</h6>
        <hr class="sidebar-divider"> 
        <div class="row">
         
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{profile_form.email.label}}</label>
              {{profile_form.email}}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{profile_form.user_type.label}}</label>
              {{profile_form.user_type}}                
            </div> 
          </div>
          {% if user_profile %}    
          <div class="col-lg-6">             
            <div class="form-group">
              <label>{{profile_form.is_active.label}}</label>
              <div class="i-checks">
                {{profile_form.is_active}}
              </div>
            </div>
          </div>
          {% endif %}
        </div>

        <h6 class="m-0 font-weight-bold text-primary">Perfil</h6>
        <hr class="sidebar-divider"> 
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{profile_form.first_name.label}}</label>
              {{profile_form.first_name}}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{profile_form.last_name.label}}</label>
              {{profile_form.last_name}}
            </div>
          </div>
        </div>              
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col-sm-12 text-right">
            <button class="btn btn-sm btn-success" type="submit">Guardar</button>
            <a href="{% url 'customers:customer_list' %}" class="btn btn-sm btn-white">Cancelar</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block customjs %}
  <!-- Steps -->
  <script src="{{STATIC_URL}}plugins/steps/jquery.steps.min.js"></script>  
  <script src="{{STATIC_URL}}plugins/dual_select/jquery.bootstrap-duallistbox.min.js"></script>  
{% endblock customjs %}

{% block docready %}
  {% include 'core/snippets/form_validation.html' with form=profile_form %}
  {% include 'core/snippets/messages_error.html' with form=profile_form %}

  $("#wizard").steps();

  var elem = document.querySelector('.js-switch');
  if (elem){
    var switchery = new Switchery(elem, { color: '#1AB394' });
  }
 
  {% if user_profile %}
      var menu_array = [];
      var submenu_array = [];
     
      {% for item_user in user_profile.user_permisssion.all %}
        {% if item_user.menu_item.is_menu == True %}
          {% if item_user.menu_item.has_submenu == False %}
            menu_array.push('{{item_user.menu_item.pk}}|0');
            $('.dual_select').append('<option value="{{item_user.menu_item.pk}}|0" selected>{{item_user.menu_item.title}}</option>');       
          {% endif %}   
        {% endif %}
        {% if item_user.menu_subitems.is_submenu == True %}
          submenu_array.push('{{item_user.menu_subitems.pk}}|1');
          $('.dual_select').append('<option value="{{item_user.menu_subitems.pk}}|1" selected>{{item_user.menu_item.title}} - {{item_user.menu_subitems.title}}</option>');
        {% endif %}
      {% endfor %} 

      {% for item in menu_list %}
        {% if item.has_submenu == False %}
          if ($.inArray("{{item.pk}}|0", menu_array) == -1) {
            $('.dual_select').append('<option value="{{item.pk}}|0">{{item.title}}</option>');
          };
        {% endif %}
        {% for subitem in item.subitems.all %}
          if ($.inArray("{{subitem.pk}}|1",submenu_array) == -1){
            $('.dual_select').append('<option value="{{subitem.pk}}|1">{{item.title}} - {{subitem.title}}</option>');
          }
        {% endfor %}
      {% endfor %}
      $(".dual_select").bootstrapDualListbox();
  {% endif %}

  $(".select2").select2({width: '100%'});

{% endblock docready %}