{% extends 'base.html' %}
{% load thumbnail %}

{% block subtitle %}Usuarios{% endblock subtitle %}

{% block header %}Lista de usuarios{% endblock header %}
 
{% block headerbutton %}
  <div>
    {% with perm='can_add_'|add:app_name %}   
      {% if perm in permissions or user.is_superuser %}
        <a href="{% url 'accounts:accounts_add' %}" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Agregar usuario</a>
      {% endif %}
    {% endwith %}
    <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-secondary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Regresar</span>
    </a>
  </div>
{% endblock headerbutton %}


{% block subheader %}{% endblock subheader %}

{% block content %}
  <div class="col-xl-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Opciones:</div>
            <a class="dropdown-item" href="#">Ver en mosaicos</a>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive small">
          <table class="table table-bordered dataTable table_list" id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
            <thead>
              <tr>
                <th> Email </th>
                <th> Nombre </th>
                <th> Tipo de usuario </th>
                <th> Ultima Sesión </th>
                <th> Status </th>
                <th> Acciones </th>
              </tr>
            </thead>
            <tbody>
              {% for item in user_list %}
              <tr class="odd gradeX">
                <td>{{item.email}}</td>
                <td>{{item.first_name}} {{item.last_name}}</td>
                <td>{{item.user_type.name }}</td>
                <td>{{item.last_login|date:"d F Y"}}</td>
                <td>
                  {% if item.is_active %}
                    <span class="label label-primary"><i class="fa fa-check"></i> Activo</span>
                  {% else %}
                    <button data-url="{% url 'accounts:accounts_sendmail_activation' item.id %}" title="Correo de Activación" class="btn btn-warning btn-sm js-send-activation">
                      <i class="fa fa-envelope-open"></i> Inactivo
                    </button>
                  {% endif %}
                </td>
                <td>
                  <div class="row">
                    {% with perm='can_add_'|add:app_name %}   
                      {% if perm in permissions or user.is_superuser %}
                        <a href="{% url 'accounts:accounts_edit' item.id %}" title="Modificar"><button type="button" class="btn btn-sm btn-warning btn-circle"><i class="fa fa-edit"></i></button></a>
                      {% endif %}
                    {% endwith %}
                    {% if item.is_active %}
                      <a href="{% url 'accounts:accounts_logs' item.id %}" title="Logs"><button type="button" class="btn btn-info btn-sm btn-circle"><i class="fa fa-clipboard-list"></i></button></a>
                      <button data-url="{% url 'accounts:accounts_sendmail' item.pk %}" type="button" class="btn btn-sm btn-warning btn-circle js-create">
                        <i class="fas fa-envelope"></i>
                      </button> 
                      
                    {% endif %}
                    {% with perm='can_add_'|add:app_name %}   
                      {% if perm in permissions or user.is_superuser %}
                        <button data-url="{% url 'accounts:accounts_delete' item.id %}" title="Eliminar" class="btn btn-sm btn-danger btn-circle js-view-delete">
                          <i class="fa fa-trash"></i>
                        </button>
                      {% endif %}
                    {% endwith %}
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
  </div>

{% endblock content %}

{% block docready %}
  $("#dataTable").DataTable();
{% endblock %}