{% extends 'base.html' %}
{% load thumbnail %}

{% block subtitle %}Permisos{% endblock subtitle %}

{% block header %}Permisos de Usuarios{% endblock header %}

{% block headerbutton %}
<div>
  {% with perm='can_add_'|add:app_name %}   
    {% if perm in permissions or user.is_superuser %}
      <a href="{% url 'accounts:userpermissions_add' %}" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Agregar permisos</a>
    {% endif %}
  {% endwith %}
  <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
</div>
{% endblock headerbutton %}
{% block subheader %}{% endblock subheader %}
 
{% block content %}
<div class="col-xl-12">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Permisos</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Opciones:</div>
          <a class="dropdown-item" href="#">Ver en mosaicos</a>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive small">
        <table class="table table-sm table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
          <thead>
            <tr>
              <th> # </th> 
              <th> Permisos para </th>
              <th> Acciones </th>
            </tr>
          </thead>
          <tbody>
            {% for g in permissions_list %}
              {% if g.group.exists %}
              {% ifchanged g.name %}
                <tr class="odd gradeX">
                  <td>{{forloop.counter}}</td>
                  <td><strong>{{g.name}}</strong></td>
                  <td class="table_list">
                    {% with perm='can_edit_'|add:app_name %}   
                      {% if perm in permissions or user.is_superuser %}
                        <a href="{% url 'accounts:userpermissions_edit' g.pk %}" title="Modificar">
                          <button type="button" class="btn btn-sm btn-warning btn-circle">
                            <i class="fas fa-edit"></i>
                          </button>
                        </a>   
                      {% endif %}
                    {% endwith %} 
                    <!-- <a href="{% url 'accounts:userpermissions_options' g.pk %}" title="Opciones">
                      <button type="button" class="btn btn-sm btn-info btn-circle">
                        <i class="fas fa-unlock-alt"></i>
                      </button>
                    </a>         -->
                    {% with perm='can_delete_'|add:app_name %}   
                      {% if perm in permissions or user.is_superuser %}
                      <button data-url="{% url 'accounts:userpermissions_delete' g.pk %}" title="Eliminar" class="btn btn-sm btn-danger btn-circle js-view-delete">
                        <i class="fa fa-trash"></i>
                      </button>
                      {% endif %}
                    {% endwith %} 
                  </td>
                </tr>
              {% endifchanged %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
  </div>
</div>
   
{% endblock content %}

{% block docready %}
  $("#dataTable").DataTable();
{% endblock %}
