{% extends 'base.html' %}
{% load thumbnail %}

{% block subtitle %}Permisos de usuario{% endblock subtitle %}

{% block header %}{% if user_group_list.first %} Editar Permisos {% else %} Agregar Permisos {% endif %}{% endblock header %}

{% block headerbutton %}
  <a href="{% url 'accounts:roles_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block customcss %}
  <link href="{{STATIC_URL}}plugins/dual_list_box/bootstrap-duallistbox.min.css" rel="stylesheet">
{% endblock customcss %}

{% block content %}
  <div class="col-xl-12">
    <div class="card shadow mb-4">
      <form role="form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'core/snippets/form_messages.html' with form=group_form %}
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Permisos</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label id="{{group_form.user_type.label}}">{{group_form.user_type.label}}</label> 
                {{group_form.user_type}}
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Permisos</label> 
                <select class="form-control dual_select" multiple name="modules_group">
                  {% if not user_group_list %}
                    {% for item in menu_list %}
                      {% if item.has_submenu == False %}
                        <option value="{{item.pk}}|0">{{item.title}}</option>
                      {% endif %}
                      {% for subitem in item.subitems.all %}
                        <option value="{{subitem.pk}}|1">{{item.title}} - {{subitem.title}}</option>
                      {% endfor %}
                    {% endfor %}
                  {% endif %}
                </select>
              </div>  
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-12 text-right"> 
              <button class="btn btn-sm btn-success" type="submit">Guardar</button>           
              <a href="{% url 'accounts:roles_list' %}" class="btn btn-sm btn-white">Cancelar</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}

{% block customjs %}
  <!-- Dual Listbox -->
  <script src="{{STATIC_URL}}plugins/dual_list_box/jquery.bootstrap-duallistbox.js"></script>
{% endblock customjs %}

  {% block docready %}
  {% include 'core/snippets/form_validation.html' with form=group_form %}
  {% include 'core/snippets/messages_error.html' with form=group_form %}

  $('.dual_select').bootstrapDualListbox({
    selectorMinimalHeight: 160
  });

  {% if user_group_list.first %}
      var menu_array = [];
      var submenu_array = [];
      
      {% for item in user_group_list %}
        {% if item.menu_item.is_menu == True %}
          {% if item.menu_item.has_submenu == False %}
            menu_array.push('{{item.menu_item.pk}}|0');
            $('.dual_select').append('<option value="{{item.menu_item.pk}}|0" selected>{{item.menu_item.title}}</option>');       
          {% endif %}   
        {% endif %}
        {% if item.menu_subitems.is_submenu == True %}
          submenu_array.push('{{item.menu_subitems.pk}}|1');
          $('.dual_select').append('<option value="{{item.menu_subitems.pk}}|1" selected>{{item.menu_item.title}} - {{item.menu_subitems.title}}</option>');
        {% endif %}
      {% endfor %} 

      {% for item in menu_list %}
        {% if item.has_submenu == False %}
          if ($.inArray("{{item.pk}}|0", menu_array) == -1) {
            $('.dual_select').append('<option value="{{item.pk}}|0">{{item.title}}</option>');
          };
        {% endif %}
        {% for subitem in item.subitems.all %}
          if ($.inArray("{{subitem.pk}}|1",submenu_array) == -1){
            $('.dual_select').append('<option value="{{subitem.pk}}|1">{{item.title}} - {{subitem.title}}</option>');
          }
        {% endfor %}
      {% endfor %}
      $(".dual_select").bootstrapDualListbox('refresh', true);
  {% endif %}

  $(".select2").select2({width: '100%'});

{% endblock docready %}