{% extends 'base.html' %}
{% load thumbnail %}
{% load tags %}

{% block subtitle %}Permisos de usuario{% endblock subtitle %}

{% block header %}{% if user_group_list.first %} Editar Permisos {% else %} Agregar Permisos {% endif %}{% endblock header %}

{% block headerbutton %}
  <a href="{% url 'accounts:roles_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block customcss %}
  <link href="{{STATIC_URL}}plugins/duallistbox/duallistbox.min.css" rel="stylesheet">
{% endblock customcss %}

{% block content %}

  <div class="col-xl-12">
    <form role="form" method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'core/snippets/form_messages.html' with form=group_form %}
      <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Permisos</h6>
        </div>
        <div class="card-body">
            
          <div class="col-sm-6">
            <div class="form-group">
              <label id="{{group_form.user_type.label}}">{{group_form.user_type.label}}</label> 
              {{group_form.user_type}}
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>Permisos</label> 
              <select class="form-control dual_select" multiple name="modules_group">
                {% if not user_group_list %}
                  {% for item in menu_list %}
                    {% if item.has_submenu == False %}
                      <option value="{{item.pk}}|0|can_add_{{item.app_label}}">{{item.title}} - Agregar</option>
                      <option value="{{item.pk}}|0|can_edit_{{item.app_label}}">{{item.title}} - Editar</option>
                      <option value="{{item.pk}}|0|can_delete_{{item.app_label}}">{{item.title}} - Eliminar</option>
                      <option value="{{item.pk}}|0|can_view_{{item.app_label}}">{{item.title}} - Ver</option>
                    {% endif %}
                    {% for subitem in item.subitems.all %}
                      <option value="{{subitem.pk}}|1|can_add_{{subitem.app_label}}">{{item.title}} - {{subitem.title}} - Agregar</option>
                      <option value="{{subitem.pk}}|1|can_edit_{{subitem.app_label}}">{{item.title}} - {{subitem.title}} - Editar</option>
                      <option value="{{subitem.pk}}|1|can_delete_{{subitem.app_label}}">{{item.title}} - {{subitem.title}} - Eliminar</option>
                      <option value="{{subitem.pk}}|1|can_view_{{subitem.app_label}}">{{item.title}} - {{subitem.title}} - Ver</option>
                    {% endfor %}
                  {% endfor %}
                {% endif %}
              </select>
            </div>  
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-12 text-right">
              <a href="{% url 'accounts:roles_list' %}" class="btn btn-sm btn-white">Cancelar</a>
              <button class="btn btn-sm btn-success" type="submit">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </form> 
  </div>

{% endblock content %}

{% block customjs %}
  <!-- Dual Listbox -->
  <script src="{{STATIC_URL}}plugins/duallistbox/duallistbox.js" type="text/javascript"></script>

{% endblock customjs %}

  {% block docready %}
  {% include 'core/snippets/form_validation.html' with form=group_form %}
  {% include 'core/snippets/messages_error.html' with form=group_form %}

  $('.dual_select').bootstrapDualListbox({
    selectorMinimalHeight: 160
  });

  {% if user_group_list.first %}
    var menu_array = [];
    var submenu_array = [];
    
    {% for item in user_group_list %}
      {% if item.menu_item.is_menu == True %}
        {% if item.menu_item.has_submenu == False %}

          {% if item.permission_code|startswith:'can_add'%}
            $('.dual_select').append('<option value="{{item.menu_item.pk}}|0|{{item.permission_code}}" selected>{{item.menu_item.title}} - Agregar</option>');  
            menu_array.push('{{item.menu_item.pk}}|0|{{item.permission_code}}');
          {% elif item.permission_code|startswith:'can_edit' %}
            $('.dual_select').append('<option value="{{item.menu_item.pk}}|0|{{item.permission_code}}" selected>{{item.menu_item.title}} - Editar</option>');       
            menu_array.push('{{item.menu_item.pk}}|0|{{item.permission_code}}');
          {% elif item.permission_code|startswith:'can_delete' %}
            $('.dual_select').append('<option value="{{item.menu_item.pk}}|0|{{item.permission_code}}" selected>{{item.menu_item.title}} - Eliminar</option>');       
            menu_array.push('{{item.menu_item.pk}}|0|{{item.permission_code}}');
          {% elif item.permission_code|startswith:'can_view' %}
            $('.dual_select').append('<option value="{{item.menu_item.pk}}|0|{{item.permission_code}}" selected>{{item.menu_item.title}} - Ver</option>');       
            menu_array.push('{{item.menu_item.pk}}|0|{{item.permission_code}}');
          {% endif %}
        {% endif %}   
      {% endif %}
      {% if item.menu_subitems.is_submenu == True %}
        {% if item.permission_code|startswith:'can_add'%}
          $('.dual_select').append('<option value="{{item.menu_subitems.pk}}|1|{{item.permission_code}}" selected>{{item.menu_item.title}} - {{item.menu_subitems.title}} - Agregar</option>');
          submenu_array.push('{{item.menu_subitems.pk}}|1|{{item.permission_code}}');
        {% elif item.permission_code|startswith:'can_edit' %}
          $('.dual_select').append('<option value="{{item.menu_subitems.pk}}|1|{{item.permission_code}}" selected>{{item.menu_item.title}} - {{item.menu_subitems.title}} - Editar</option>');
          submenu_array.push('{{item.menu_subitems.pk}}|1|{{item.permission_code}}');
        {% elif item.permission_code|startswith:'can_delete' %}
          $('.dual_select').append('<option value="{{item.menu_subitems.pk}}|1|{{item.permission_code}}" selected>{{item.menu_item.title}} - {{item.menu_subitems.title}} - Eliminar</option>');
          submenu_array.push('{{item.menu_subitems.pk}}|1|{{item.permission_code}}');
        {% elif item.permission_code|startswith:'can_view' %}
          $('.dual_select').append('<option value="{{item.menu_subitems.pk}}|1|{{item.permission_code}}" selected>{{item.menu_item.title}} - {{item.menu_subitems.title}} - Ver</option>');
          submenu_array.push('{{item.menu_subitems.pk}}|1|{{item.permission_code}}');
        {% endif %}
      {% endif %}
    {% endfor %} 

    <!-- llena el panel izquierdo y escluye los que estan en el derecho -->
    {% for item in menu_list %}
      {% if item.has_submenu == False %}
        if ($.inArray("{{item.pk}}|0|can_add_{{item.app_label}}", menu_array) == -1) {
          $('.dual_select').append('<option value="{{item.pk}}|0|can_add_{{item.app_label}}">{{item.title}} - Agregar</option>');
        };
        if ($.inArray("{{item.pk}}|0|can_edit_{{item.app_label}}", menu_array) == -1){
          $('.dual_select').append('<option value="{{item.pk}}|0|can_edit_{{item.app_label}}">{{item.title}} - Editar</option>');
        }
        if ($.inArray("{{item.pk}}|0|can_delete_{{item.app_label}}", menu_array) == -1){
          $('.dual_select').append('<option value="{{item.pk}}|0|can_delete_{{item.app_label}}">{{item.title}} - Eliminar</option>');
        }
        if ($.inArray("{{item.pk}}|0|can_view_{{item.app_label}}", menu_array) == -1){
          $('.dual_select').append('<option value="{{item.pk}}|0|can_view_{{item.app_label}}">{{item.title}} - Ver</option>');
        }
      {% endif %}
      {% for subitem in item.subitems.all %}
        if ($.inArray("{{subitem.pk}}|1|can_add_{{subitem.app_label}}",submenu_array) == -1){
          $('.dual_select').append('<option value="{{subitem.pk}}|1|can_add_{{subitem.app_label}}">{{item.title}} - {{subitem.title}} - Agregar</option>');
        }
        if ($.inArray("{{subitem.pk}}|1|can_edit_{{subitem.app_label}}",submenu_array) == -1){
          $('.dual_select').append('<option value="{{subitem.pk}}|1|can_edit_{{subitem.app_label}}">{{item.title}} - {{subitem.title}} - Editar</option>');
        }
        if ($.inArray("{{subitem.pk}}|1|can_delete_{{subitem.app_label}}",submenu_array) == -1){
          $('.dual_select').append('<option value="{{subitem.pk}}|1|can_delete_{{subitem.app_label}}">{{item.title}} - {{subitem.title}} - Eliminar</option>');
        }
        if ($.inArray("{{subitem.pk}}|1|can_view_{{subitem.app_label}}",submenu_array) == -1){
          $('.dual_select').append('<option value="{{subitem.pk}}|1|can_view_{{subitem.title}}">{{item.title}} - {{subitem.title}} - Ver</option>');
        }
      {% endfor %}
    {% endfor %}

    $(".dual_select").bootstrapDualListbox('refresh', true);
  {% endif %}

  $(".select2").select2({width: '100%'});

{% endblock docready %}