
{% extends 'base.html' %}

{% block subtitle %}Logs de Usuarios{% endblock subtitle %}
 
{% block header %}Logs de Usuarios{% endblock header %}
 
{% block headerbutton %}
  <a href="{% url 'accounts:roles_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block content %}
<div class="col-xl-12">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Logs</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Opciones:</div>
          <a class="dropdown-item" href="#">Ver en mosaicos</a>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div>              
        <ul class="nav nav-tabs mb-3">
          <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-info"></i> Info</a></li>
          <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-sign-in-alt"></i> Accesos</a></li>
          <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-exclamation-triangle"></i> Errores</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <div class="full-height-scroll">
              <div class="table-responsive table-sm small">
                <table class="table table-striped table-bordered table-hover table_list">
                  <thead>
                    <tr>
                      <th>Usuario</th>
                      <th>IP</th>
                      <th>URL</th>
                      <th>Fecha</th>
                      <th>Mensaje</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for log in logs_info %}
                      <tr>
                        <td>{{log.user.email}}</td>
                        <td>{{log.ip}}</td>
                        <td>{{log.url}}</td>
                        <td>{{log.created|date:"d F Y"}}</td>
                        <td class="client-status">
                          <p>{{log.message}}</p>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="tab-2" class="tab-pane">
            <div class="full-height-scroll">
              <div class="table-responsive table-sm small">
                <table class="table table-striped table-bordered table-hover table_list">
                  <thead>
                    <tr>
                      <th>Usuario</th>
                      <th>IP</th>
                      <th>URL</th>
                      <th>Fecha</th>
                      <th>Mensaje</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for log in logs_access %}
                      <tr>
                        <td>{{log.user.email}}</td>
                        <td>{{log.ip}}</td>
                        <td>{{log.url}}</td>
                        <td>{{log.created|date:"d F Y"}}</td>
                        <td class="client-status">
                          <p>{{log.message}}</p>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="tab-3" class="tab-pane">
            <div class="full-height-scroll">
              <div class="table-responsive table-sm small">
                <table class="table table-striped table-bordered table-hover table_list">
                  <thead>
                    <tr>
                      <th>Usuario</th>
                      <th>IP</th>
                      <th>URL</th>
                      <th>Fecha</th>
                      <th>Mensaje</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for log in logs_error %}
                      <tr>
                        <td>{{log.user.email}}</td>
                        <td>{{log.ip}}</td>
                        <td>{{log.url}}</td>
                        <td>{{log.created|date:"d F Y"}}</td>
                        <td class="client-status">
                          <p>{{log.message}}</p>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
  </div>
</div>
{% endblock content %}

{% block docready %}
   $(".table_list").DataTable();
{% endblock %}