 {% extends 'base.html' %}
 {% load thumbnail %}
 
 {% block subtitle %}Roles de Usuarios{% endblock subtitle %}
 
 {% block header %}{% if roles_obj %} Editar Rol {% else %} Agregar Rol {% endif %}{% endblock header %}
 
 {% block headerbutton %}
 <a href="{% url 'accounts:roles_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
   <span class="icon text-white-50">
     <i class="fas fa-arrow-left"></i>
   </span>
   <span class="text">Regresar</span>
 </a>
{% endblock headerbutton %}

 {% block subheader %}{% endblock subheader %}
   
 {% block content %}
  <div class="col-xl-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Permisos</h6>
      </div>
      <div class="card-body">
        <form role="form" method="post" action="" enctype="multipart/form-data">
          {% csrf_token %}
          {% include 'core/snippets/form_messages.html' with form=roles_form %}
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label id="{{roles_form.name.label}}">{{roles_form.name.label}}</label> 
                {{roles_form.name}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label id="{{roles_form.description.label}}">{{roles_form.description.label}}</label> 
                {{roles_form.description}}
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>{{roles_form.is_group.label}}</label>
                <div class="i-checks">
                  {{roles_form.is_group}}
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group text-right">
              
                <hr class="sidebar-divider">
                <a href="{% url 'accounts:roles_list' %}" class="btn btn-sm btn-white">Cancelar</a>
                <button class="btn btn-sm btn-success" type="submit">Guardar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

 <!-- validation form snippet -->
 {% block docready %}
   {% include 'core/snippets/form_validation.html' with form=roles_form %}
   {% include 'core/snippets/messages_error.html' with form=roles_form %}

   var elem = document.querySelector('.js-switch');
   var switchery = new Switchery(elem, { color: '#1AB394' });
{% endblock %}