<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{datapanel.title}} | Acceso no permitido</title>

    <link href="{{STATIC_URL}}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="{{STATIC_URL}}assets/css/animate.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <div>
          <img src="{{datapanel.logo.url}}" class="img-responsive" style="margin:0 auto;">
        </div><br>
        <img src="{{STATIC_URL}}assets/img/lock_403.png">
        <h2 class="font-bold">Acceso no permitido</h2>
        <div class="error-desc">
            Usted no tiene permisos para accesar al modulo<br/>
            Puede regresar al inicio: <br/><a href="{% url 'authorization:dashboard' %}" class="btn btn-primary m-t">Inicio</a>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{{STATIC_URL}}assets/js/jquery-3.1.1.min.js"></script>
    <script src="{{STATIC_URL}}assets/js/bootstrap.min.js"></script>

</body>

</html>
