<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{datapanel.title}} | Página no encontrada</title>

    <link href="{{STATIC_URL}}css/sb-admin-2.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}plugins/fontawesome/css/font-awesome.css" rel="stylesheet">

    <link href="{{STATIC_URL}}css/animate.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <div>
          <img src="{{datapanel.logo.url}}" class="img-responsive" style="margin:0 auto;">
        </div><br>
        <div class="error mx-auto" data-text="404">404</div>
        <h2 class="font-bold">Página no encontrada</h2>
        <div class="error-desc">
            La página solicitada no fue encontrada<br/>
            Puede regresar al inicio: <br/><a href="{% url 'authorization:dashboard' %}" class="btn btn-primary m-t">Inicio</a>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{{STATIC_URL}}js/jquery-3.1.1.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

</body>

</html>
