<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>{% block subtitle %}{% endblock subtitle %}</title>
  
    <!-- Custom fonts for this template-->
    <link href="{{STATIC_URL}}vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  
    <!-- Custom styles for this template-->
    <link href="{{STATIC_URL}}css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}img/favicon.ico"/>

  </head>
  
  <body class="bg-gradient-primary">
  
    <div class="container">
  
      <!-- Outer Row -->
      <div class="row justify-content-center">
  
        {% block content %}
        {% endblock content %}
  
      </div>
  
    </div>
  
    <!-- Bootstrap core JavaScript-->
    <script src="{{STATIC_URL}}vendor/jquery/jquery.min.js"></script>
    <script src="{{STATIC_URL}}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Core plugin JavaScript-->
    <script src="{{STATIC_URL}}vendor/jquery-easing/jquery.easing.min.js"></script>
  
    <!-- Custom scripts for all pages-->
    <script src="{{STATIC_URL}}js/sb-admin-2.min.js"></script>
  
  
  
  
  </body>