<!DOCTYPE html>
<html>
{% load thumbnail %}
{% load compress %}

{% load user_agents %}

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> {% block subtitle %}{% endblock subtitle %} - 3PLNaves </title>
  <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}img/favicon.ico"/>
  {% compress css %}
  <!-- Custom fonts for this template-->

  <link href="{{STATIC_URL}}vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  
  <link href="{{STATIC_URL}}plugins/jasny/css/jasny-bootstrap.min.css" rel="stylesheet">
  <link href="{{STATIC_URL}}plugins/select2/select2.min.css" rel="stylesheet">
  <link href="{{STATIC_URL}}plugins/toastr/toastr.css" rel="stylesheet">
  <link href="{{STATIC_URL}}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{STATIC_URL}}vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <!-- Switchery -->
  <link href="{{STATIC_URL}}plugins/switchery/switchery.css" rel="stylesheet">
  <!-- <link href="{{STATIC_URL}}vendor/datatables/datatables.min.css" rel="stylesheet"> -->

  <!--
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet"> 
  -->
  <!-- Custom styles for this template-->
  <link href="{{STATIC_URL}}css/animate.css" rel="stylesheet">
  <link href="{{STATIC_URL}}css/sb-admin-2.css" rel="stylesheet">
  {% endcompress %}

  {% block customcss %}{% endblock customcss %}

  
</head>

<body id="page-top" class="sidebar-toggled">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{datapanel.url}}" target="_blank">
        <div class="sidebar-brand-icon">
          <img class="rounded-circle" src="{{datapanel.logo_menu.url}}" height="60" width="60">
        </div>
        <div class="sidebar-brand-text mx-3"> {{datapanel.title}} </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'authorization:dashboard' %}">
          <i class="fas fa-fw fa-chart-line"></i>
          <span>Dashboard</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Menú
      </div>

      {% if request.user.is_superuser %}
        {% for item in menu_user %}
        <li class="nav-item">
          <a class="nav-link {% if item.has_submenu %}collapsed" href="#" data-toggle="collapse" data-target="#collapse{{item.title}}" aria-expanded="true" aria-controls="collapseTwo" {% else %}" href="{{item.url}}" {% endif %}>
            <i class="fas fa-fw {{item.icon}}"></i>
            <span>{{item.title}}</span>
          </a>
          {% if item.has_submenu %}
            <div id="collapse{{item.title}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
              {% for subitem in item.subitems.all %}
                <a class="collapse-item" href="{{subitem.url}}">{{subitem.title}}</a>
              {% endfor %}
              </div>
            </div>
          {% endif %}
        </li>

        {% endfor %}
        <!-- Divider -->
        <hr class="sidebar-divider">  

        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Configuracion</span>
          </a>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{% url 'config:panel_list' %}">Panel</a>
              <a class="collapse-item" href="{% url 'config:menu_list' %}">Menu</a>
              <a class="collapse-item" href="{% url 'config:submenu_list' %}">SubMenú</a>
            </div>
          </div>
        </li> 
        {% else %}
        {% regroup menu_user by menu_item.title as menu_list_modules %}
        {% for item in menu_list_modules %}
          {% for idx in item.list %}
            <li class="nav-item">
            {% ifchanged %}
            
              <a class="nav-link {% if idx.menu_item.has_submenu %}collapsed" href="#" data-toggle="collapse" data-target="#collapse{{idx.menu_item.title}}" aria-expanded="true" aria-controls="collapseTwo" {% else %}" href="{{idx.menu_item.url}}" {% endif %}>
                <i class="fas fa-fw {{idx.menu_item.icon}}"></i>
                <span>{{item.grouper}}</span>
              </a>
            {% endifchanged %}    
            {% if idx.menu_item.has_submenu %}
              <div id="collapse{{idx.menu_item.title}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                {% for idxsub in item.list %}
                  <a class="collapse-item" href="{{idxsub.menu_subitems.url}}">{{idxsub.menu_subitems.title}}</a>
                {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
          </li>
        {% endfor %}
      {% endif %}

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

       <!-- Nav Item - Acerca de -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-info"></i>
          <span>Acerca de</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                
                
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user.get_full_name}}</span>
                {% if request.user.avatar %}
                  {% thumbnail request.user.avatar '48x48' crop='center' as img %}
                    <img src="{{img.url}}" class="rounded-circle img-responsive" alt="{{request.user.get_full_name}}">
                  {% endthumbnail %}
                {% else %}
                  <img src="{{STATIC_URL}}/img/user.png" class="rounded-circle img-responsive" alt="{{request.user.get_full_name}}">              
                {% endif %}
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{request.user.get_absolute_url}}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
                <!-- <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a> -->
                <a class="dropdown-item" href="{% url 'accounts:accounts_logs' request.user.pk %}">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <a class="dropdown-item" href="{% url 'personal:change_password' %}">
                  <i class="fas fa-user-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cambiar contraseña
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

      
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{% block header %}{% endblock header %} <small>{% block subheader %}{% endblock subheader %}</small></h1>
            {% block headerbutton %}
            {% endblock headerbutton %}
              <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>

          <!-- Content to extend -->
          <div class="row">
            {% block content %}
            {% endblock content %}
          </div>

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Delete record modal -->
  <div class="modal inmodal" id="modal-box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated flipInY"></div>
    </div>
  </div>
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Desea salair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Seleccione "Logout" debajo si usted esta listo para terminar tu sesion actual.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url  'authorization:logout'%}">Logout</a>
        </div>
      </div>
    </div>
  </div>


  {% compress js %}
  <script src="{{STATIC_URL}}plugins/jquery/jquery-3-5-1.js"></script>
  <script src="{{STATIC_URL}}plugins/jasny/js/jasny-bootstrap.min.js"></script>
  <script src="{{STATIC_URL}}plugins/select2/select2.full.min.js"></script>

  <!-- Bootstrap core JavaScript-->
  <script src="{{STATIC_URL}}vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="{{STATIC_URL}}vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script src="{{STATIC_URL}}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{STATIC_URL}}vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{STATIC_URL}}js/sb-admin-2.min.js"></script>

  

  <!-- Switchery -->
  <script src="{{STATIC_URL}}plugins/switchery/switchery.js"></script>
  <!-- Toggle -->

  {% endcompress %}
  <script src="{{STATIC_URL}}js/django_ajax.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/core.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}plugins/jquery_formset/js/jquery_formset.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/modal.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}plugins/toastr/toastr.js"></script>


  {% block customjs %}{% endblock customjs %}
  <script>
    $(document).ready(function() {
        {% block docready %}
        {% endblock docready %}
        
        {% include 'core/snippets/messages.html' %}
    });

  </script>

</body>

</html>