{% extends 'base.html' %}

{% block subtitle %}Menu{% endblock subtitle %}

{% block header %} {% if carrier_obj %} Editar {% else %} Agregar {% endif %} Menú {% endblock header %}

{% block headerbutton %}
  <a href="{% url 'config:menu_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block customcss %}
  <link href="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-xl-12">
  <div class="card shadow mb-4">
    <form role="form" method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'core/snippets/form_messages.html' with form=menu_form %}
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Menú</h6>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label id="{{menu_form.app_label.label}}">{{menu_form.app_label.label}}</label> 
                  {{menu_form.app_label}}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label id="{{menu_form.title.label}}">{{menu_form.title.label}}</label> 
                  {{menu_form.title}}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label id="{{menu_form.module.label}}">{{menu_form.module.label}}</label> 
                  {{menu_form.module}}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label id="{{menu_form.url.label}}">{{menu_form.url.label}}</label> 
                  {{menu_form.url}}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label id="{{menu_form.icon.label}}">{{menu_form.icon.label}}</label> 
                  {{menu_form.icon}}
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label id="{{menu_form.order.label}}">{{menu_form.order.label}}</label> 
                  {{menu_form.order}}
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>{{menu_form.has_submenu.label}}</label>
                  <div class="i-checks">
                    {{menu_form.has_submenu}}
                  </div>
                </div>
              </div>
            </div>  
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-12 text-right">
                <button class="btn btn-sm btn-success" type="submit">Guardar</button>
                <a href="{% url 'config:menu_list' %}" class="btn btn-sm btn-white">Cancelar</a>
              </div>
            </div>
          </div>
      </form>
    </div>
</div>

{% endblock content%}


{% block customjs %}
  <script src="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
{% endblock %}

<!-- validation form snippet -->
{% block docready %}
   {% include 'core/snippets/form_validation.html' with form=menu_form %}
   {% include 'core/snippets/messages_error.html' with form=menu_form %}

   $(".touchspin").TouchSpin({
    min: 1,
    max: 100,
    boostat: 5,
    maxboostedstep: 10,
    buttondown_class: 'btn btn-light',
    buttonup_class: 'btn btn-light'
   });
{% endblock %}