{% extends 'base.html' %}

{% block subtitle %}Menu{% endblock subtitle %}

{% block header %}Lista de Menus{% endblock header %}

{% block headerbutton %}
    <a href="{% url 'config:menu_add' %}" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Agregar Menú</a>
{% endblock headerbutton %}

         
{% block subheader %}{% endblock subheader %}


{% block content %}

{% load thumbnail %}

<div class="col-xl-12">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Menus</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Opciones:</div>
              <a class="dropdown-item" href="#">Ver en mosaicos</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive small">
            <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                <thead>
                  <tr role="row"><th>#</th><th>App Label</th><th>Título</th><th>Módulo</th><th>URL</th><th>Orden</th><th>Acciones</th></tr>
                </thead>
                <tfoot>
                  <tr><th>#</th><th>App Label</th><th>Título</th><th>Modulo</th><th>URL</th><th>Orden</th><th>Acciones</th></tr>
                </tfoot>
                <tbody>
                  {% for menu in menu_list %}
                    <tr role="row">
                      <td class="sorting_1">{{forloop.counter}}</td>
                      <td><strong>{{menu.app_label}}</strong></td>
                      <td>{{menu.title}}</td>
                      <td>{{menu.module}}</td>
                      <td>{{menu.url}}</td>
                      <td>{{menu.order}}</td>
                      <td class="table_list">
                        <a href="{% url 'config:menu_edit' menu.pk %}" class="btn btn-sm btn-warning btn-circle">
                          <i class="fas fa-edit"></i>
                        </a>
                        <button data-url="{% url 'config:menu_delete' menu.pk %}" title="Eliminar" class="btn btn-sm btn-danger btn-circle js-view-delete">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      </div>
</div>
{% endblock content%}


{% block docready %}
    $("#dataTable").DataTable();
  
{% endblock docready %}