{% extends 'base.html' %}
{% load thumbnail %}

{% block subtitle %}Panel{% endblock subtitle %}

{% block header %}Datos del Panel{% endblock header %}

{% block headerbutton %}
 <a href="{% url 'config:panel_add' %}" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Agregar panel</a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block content %}
<div class="col-xl-12">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Panel</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
          <div class="dropdown-header">Opciones:</div>
          <a class="dropdown-item" href="#">Ver en mosaicos</a>
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="table-responsive small">
        <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
          <thead>
            <tr>
              <th> # </th> 
              <th> Título </th>
              <th> Logo </th>
              <th> URL </th>
              <th> Acciones </th>
           </tr>
          </thead>
          <tbody>
            {% for panel in panel_list %}
            <tr class="odd gradeX">
              <td>{{forloop.counter}}</td>
              <td>{{panel.title}}</td>
              <td>
                {% if panel.logo %}
                  {% thumbnail panel.logo_menu '80x80' crop='center' as img %}
                    <img src="{{img.url}}" class="img-responsive rounded-circle">
                  {% endthumbnail %}
                {% endif %}
              </td>
                <td>{{panel.url}}</td>
              <td>
                <a href="{% url 'config:panel_edit' panel.pk %}" title="Modificar"><button type="button" class="btn btn-warning btn-circle btn-sm"><i class="fa fa-edit"></i></button></a>       
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
       
{% endblock content %}

{% block docready %}
{% endblock %}