{% extends 'base.html' %}
{% load thumbnail %}

{% block subtitle %}Datos del Panel{% endblock subtitle %}

{% block header %}{% if panel_obj %} Editar Dato {% else %} Agregar Dato {% endif %}{% endblock header %}

{% block headerbutton %}
<a href="{% url 'config:panel_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
  <span class="icon text-white-50">
    <i class="fas fa-arrow-left"></i>
  </span>
  <span class="text">Regresar</span>
</a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block customcss %}
  <link href="{{STATIC_URL}}assets/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
{% endblock customcss %}

{% block content %}
<div class="col-xl-12">
  <div class="card shadow mb-4">
    <form role="form" method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'core/snippets/form_messages.html' with form=panel_form %}
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Panel</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label id="{{panel_form.author.label}}">{{panel_form.author.label}}</label> 
              {{panel_form.author}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label id="{{panel_form.title.label}}">{{panel_form.title.label}}</label> 
              {{panel_form.title}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label id="{{panel_form.url.label}}">{{panel_form.url.label}}</label> 
              {{panel_form.url}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="{{profile_form.logo.label}}">{{panel_form.logo.label}}</label>
              <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                <div class="form-control" data-trigger="fileinput">
                  <i class="glyphicon glyphicon-file fileinput-exists"></i>
                  <span class="fileinput-filename"></span>
                </div>
                <span class="input-group-addon btn btn-primary btn-file">
                <span class="fileinput-new">Selecccionar</span>
                <span class="fileinput-exists">Cambiar</span>
                {{panel_form.logo}}
              </span>
              <a href="#" class="input-group-addon btn btn-primary fileinput-exists" data-dismiss="fileinput">Eliminar</a>
            </div>
          </div>
            {% if panel_obj.logo %}
            <div class="file-box" style="float:none;">
              <div class="file">
                <a href="#">
                  <span class="corner"></span>
                  <div class="icon">
                    {% thumbnail panel_obj.logo '200x104' crop='center' as img %}
                      <img src="{{img.url}}" class="img-responsive">
                    {% endthumbnail %} 
                  </div>
                  <div class="file-name">{{panel_obj.logo.url}}<br>
                  </div>
                </a>
              </div>
            </div>
          {% endif %} 
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="{{profile_form.logo_menu.label}}">{{panel_form.logo_menu.label}}</label>
              <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                <div class="form-control" data-trigger="fileinput">
                  <i class="glyphicon glyphicon-file fileinput-exists"></i>
                  <span class="fileinput-filename"></span>
                </div>
                <span class="input-group-addon btn btn-primary btn-file">
                <span class="fileinput-new">Selecccionar</span>
                <span class="fileinput-exists">Cambiar</span>
                {{panel_form.logo_menu}}
                </span>
                <a href="#" class="input-group-addon btn btn-primary fileinput-exists" data-dismiss="fileinput">Eliminar</a>
              </div> 
            </div>
            {% if panel_obj.logo_menu %}
            <div class="file-box" style="float:none;">
              <div class="file">
                <a href="#">
                  <span class="corner"></span>
                  <div class="icon">
                    {% thumbnail panel_obj.logo_menu '200x104' crop='center' as img %}
                      <img src="{{img.url}}" class="img-responsive">
                    {% endthumbnail %} 
                  </div>
                  <div class="file-name">{{panel_obj.logo_menu.url}}<br>
                  </div>
                </a>
              </div>
            </div>
          {% endif %}
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col-sm-12 text-right">
              <a href="{% url 'config:panel_list' %}" class="btn btn-sm btn-white">Cancelar</a>
              <button class="btn btn-sm btn-success" type="submit">Guardar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}

{% block customjs %}
  <!-- blueimp gallery -->
  <script src="{{STATIC_URL}}assets/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
{% endblock %}

<!-- validation form snippet -->
{% block docready %}
  {% include 'core/snippets/form_validation.html' with form=panel_form %}
  {% include 'core/snippets/messages_error.html' with form=panel_form %}
{% endblock %}