
 {% extends 'base.html' %}

 {% load user_sessions %}
 
 {% load humanize %}
 
 {% block subtitle %}Sesiones Activas de Usuario{% endblock subtitle %}
 
 {% block header %}Sesiones Activas de Usuario{% endblock header %}
 
 {% block subheader %}Lista de Sesiones Activas{% endblock subheader %}
 
 {% block content %}
   <div class="col-lg-12">
     <div class="ibox float-e-margins">
       <div class="ibox-title">
         <h5>Lista de Sesiones Activas</h5>
         <div class="ibox-tools"><a href="{% url 'accounts:accounts_list' %}"><button type="button" class="btn btn-white">Regresar</button></a></div>          
        </div>
       <div class="ibox-content">
         <div class="row">
           <div class="col-sm-12">
             <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover table_list" >
                <thead>
                    <tr>
                      <th> # </th> 
                      <th> Usuario </th>
                      <th> IP </th>
                      <th> Agente </th>
                      <th> Localización </th>
                      <th> Inicio Sesión </th>
                      <th> Acciones </th>
                    </tr>
                  </thead>
               <tbody>
                  {% for session in sessions_list %}
                    <tr class="odd gradeX">
                      <td>{{forloop.counter}}</td>
                      <td>{{session.user.email}}</td>
                      <td>{{session.ip}}</td>
                      <td>{{session.user_agent|device}}</td>
                      <td>{{session.ip|location}}</td>
                      <td>{{session.last_activity|naturaltime}}</td>
                      <td>
                          <a href="{% url 'user_sessions:session_delete' session.pk %}"><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-close"></i> Cerrar Sesión</button></a>
                         </td>         
                   </tr>
                 {% endfor %}
               </tbody>
            </table>
          </div>
       </div>
     </div>
   </div>
  {% endblock content %}

{% block docready %}
  $(".table_list").DataTable();
{% endblock %}