 {% extends 'base.html' %}
  
  {% block subtitle %} Submenú{% endblock subtitle %}
  
  {% block header %}Lista de Submenus{% endblock header %}
  
  {% block headerbutton %}
    <a href="{% url 'config:submenu_add' %}" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Agregar Submenú</a>
  {% endblock headerbutton %}

  {% block subheader %}{% endblock subheader %}

  {% block content %}
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Subenus</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Opciones:</div>
              <a class="dropdown-item" href="#">Ver en mosaicos</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive small">
            <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
              <thead>
                <tr role="row"><th>#</th><th>Menú Principal</th><th>Título</th><th>Módulo</th><th>URL</th><th>Orden</th><th>Acciones</th></tr>
              </thead>
              <tfoot>
                <tr><th>#</th><th>Menú Principal</th><th>Título</th><th>Modulo</th><th>URL</th><th>Orden</th><th>Acciones</th></tr>
              </tfoot>
              <tbody>
                {% for submenu in submenu_list %}
                  <tr class="odd gradeX">
                    <td>{{forloop.counter}}</td>
                    <td><strong>{{submenu.item.title}}</strong></td>
                    <td>{{submenu.title}}</td>
                    <td>{{submenu.module}}</td>
                    <td>{{submenu.item.url}}{{submenu.url}}</td>
                    <td>{{submenu.order}}</td>
                    <td class="table_list">
                      <a href="{% url 'config:submenu_edit' submenu.pk %}" class="btn btn-sm btn-warning btn-circle">
                        <i class="fas fa-edit"></i>
                      </a>
                      <button data-url="{% url 'config:submenu_delete' submenu.pk %}" title="Eliminar" class="btn btn-sm btn-danger btn-circle js-view-delete">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>        
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
   {% endblock content %}
 
 {% block docready %}
  $("#dataTable").DataTable();
 {% endblock %}