 {% extends 'base.html' %}
 {% load thumbnail %}
 
 {% block subtitle %}{% if submenu_obj %} Editar Submenú {% else %} Agregar Submenú {% endif %}{% endblock subtitle %}
 
 {% block header %}{% endblock header %}

 {% block headerbutton %}
 <a href="{% url 'config:submenu_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
   <span class="icon text-white-50">
     <i class="fas fa-arrow-left"></i>
   </span>
   <span class="text">Regresar</span>
 </a>
{% endblock headerbutton %}

 {% block subheader %}{% if submenu_obj %} Editar Submenú {% else %} Agregar Submenú {% endif %}{% endblock subheader %}

 {% block customcss %}
  <link href="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
 {% endblock %}

 {% block content %}
 <div class="col-xl-12">
    <form role="form" method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'core/snippets/form_messages.html' with form=submenu_form %}
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Submenú</h6>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label id="{{submenu_form.item.label}}">{{submenu_form.item.label}}</label> 
                    {{submenu_form.item}}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label id="{{submenu_form.title.label}}">{{submenu_form.title.label}}</label> 
                  {{submenu_form.title}}
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label id="{{menu_form.module.label}}">{{submenu_form.module.label}}</label> 
                  {{submenu_form.module}}
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label id="{{submenu_form.url.label}}">{{submenu_form.url.label}}</label> 
                  {{submenu_form.url}}
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label id="{{submenu_form.order.label}}">{{submenu_form.order.label}}</label> 
                  {{submenu_form.order}}
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-12 text-right">            
                <button class="btn btn-sm btn-success" type="submit">Guardar</button>
                <a href="{% url 'config:submenu_list' %}" class="btn btn-sm btn-white">Cancelar</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  {% endblock content %}

  {% block customjs %}
    <!-- TouchSpin -->
    <script src="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
  {% endblock %}
 <!-- validation form snippet -->
 {% block docready %}
   {% include 'core/snippets/form_validation.html' with form=submenu_form %}
   {% include 'core/snippets/messages_error.html' with form=submenu_form %}

    $(".touchspin").TouchSpin({
      buttondown_class: 'btn btn-light',
      buttonup_class: 'btn btn-light'
    });
     
    $(".select2").select2({width: '100%'});

{% endblock %}