{% extends 'base.html' %}

{% block subtitle %}Dashboard{% endblock subtitle %}

{% block header %}Dashboard{% endblock header %}

{% block subheader %}{% endblock subheader %}

{% block content %}

<div class="col-xl-12">
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ganancias (Mensual)</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                </div>
                <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
          </div>
        </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Ganancias (Anual)</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                </div>
                <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
            </div>
            </div>
        </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tareas</div>
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                    </div>
                    <div class="col">
                    <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
            </div>
            </div>
        </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <a href="{% url 'matchs:match_list' %}">

            <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Match Pendientes</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                </div>
                <div class="col-auto">
                <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
            </div>
            </div>
          </a>
        </div>
        </div>
    </div>
</div>

<div class="col-xl-6">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Impacto nacional origenes</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      
      <div id='sourceChart'></div>

    </div>
  </div>
</div>

<div class="col-xl-6">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Impacto nacional destino</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      
      <div id='targetChart'></div>

    </div>
  </div>
</div>

<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Resumen de Ganacias</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
          <canvas id="myAreaChart" style="display: block; width: 627px; height: 320px;" width="627" height="320" class="chartjs-render-monitor"></canvas>
        </div>
      </div>
    </div>
</div>

<div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Impacto en Medios</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
          <canvas id="myPieChart" style="display: block; width: 280px; height: 245px;" width="280" height="245" class="chartjs-render-monitor"></canvas>
        </div>
        <div class="mt-4 text-center small">
          <span class="mr-2">
            <i class="fas fa-circle text-primary"></i> Direct
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-success"></i> Social
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-info"></i> Referral
          </span>
        </div>
      </div>
    </div>
</div>

<div class="col-lg-6 mb-4">

    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
      </div>
      <div class="card-body">
        <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span></h4>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>



</div>

{% endblock %}


{% block customjs %}
<!-- Page level plugins -->
  <script src="{{STATIC_URL}}vendor/chart.js/Chart.js"></script>
  <!-- Page level custom scripts -->
  <script src="{{STATIC_URL}}js/demo/chart-area-demo.js"></script>
  <script src="{{STATIC_URL}}js/demo/chart-pie-demo.js"></script>

  <script src="{{STATIC_URL}}plugins/zingchart/zingchart.min.js"></script>
  <script>
    var states = [];
    {% for data in data_source %}
    states.push({'name': '{{data.name}}', 'code': '{{data.code}}', 'quantity': '{{data.quantity}}', 'percentage': '{{data.percentage}}', 'category': '{{data.category}}'});
    {% endfor %}
    var colorGradient = ["#efffeb", "#d0fbc5", "#acf29a", "#8ceb75", "#69de4c", "#33ff00", "#29ae08"];
    function setResults() {
      var stateResults2 = {};

      states.forEach(function (state) {
        var stateName = state.name;
        var colorIndex = state.category;
        var stateCode = state.code;
        var quantity = state.quantity;
        var styleObject = {
          "background-color": colorGradient[colorIndex - 1],
          "label": {
            "font-size": 10
          },
          "tooltip": {
            "text": 'Han sido enviadas ' + quantity + ' cargas desde el estado de ' + stateName,
            "width": 200,
            "wrap-text": true,
            "text-align": "left",
            "font-size": 14
          }
        };
        stateResults2[stateCode] = styleObject;
      });
      
      return {
        "legend": {
          "toggle-action": "none",
          "y": 0,
          "border-width": 0,
          "background-color": "none",
          "marker": {
            "type": "rectangle",
            "width": 20,
            "height": 10,
          },
          "item": {
            "font-size": 16
          }
        },
        "series": [ // render legend items
          {
            "legend-item": {
              "text": "0"
            },
            "legend-marker": {
              "background-color": "#d4d4d4",
            }
          },
          {
            "legend-item": {
              "text": "< 1%"
            },
            "legend-marker": {
              "background-color": "#efffeb",
            }
          },
          {
            "legend-item": {
              "text": "< 5%"
            },
            "legend-marker": {
              "background-color": "#d0fbc5",
            }
          },
          {
            "legend-item": {
              "text": "< 10%"
            },
            "legend-marker": {
              "background-color": "#acf29a",
            }
          },
          {
            "legend-item": {
              "text": "< 15%"
            },
            "legend-marker": {
              "background-color": "#8ceb75",
            }
          },
          {
            "legend-item": {
              "text": "< 20%"
            },
            "legend-marker": {
              "background-color": "#69de4c",
            }
          },
          {
            "legend-item": {
              "text": "< 30%"
            },
            "legend-marker": {
              "background-color": "#33ff00",
            }
          },
          {
            "legend-item": {
              "text": "< 50%"
            },
            "legend-marker": {
              "background-color": "#29ae08",
            }
          }
        ],
        "shapes": [ // render map
          {
            "type": "zingchart.maps",
            "options": {
              "id": "sourceChart",
              "name": "mex",
              "scale": true,
              "style": {
                "hover-state": {
                  "background-color": "#FFF",
                  "alpha": 0.3,
                  "border-width": 3
                },
                "label": {
                  "visible": false,
                },
                "border-color": "#c5c5c5",
                "items": stateResults2
              }
            }
          }
        ]
      }
    };


    var states_target = [];
    {% for data in data_target %}
      states_target.push({'name': '{{data.name}}', 'code': '{{data.code}}', 'quantity': '{{data.quantity}}', 'percentage': '{{data.percentage}}', 'category': '{{data.category}}'});
    {% endfor %}
    function setResultsTarget() {
      var stateResults = {};

      states_target.forEach(function (state) {
        var stateName = state.name;
        var colorIndex = state.category;
        var stateCode = state.code;
        var quantity = state.quantity;
        var styleObject = {
          "background-color": colorGradient[colorIndex - 1],
          "label": {
            "font-size": 10
          },
          "tooltip": {
            "text": 'Han sido recibidas ' + quantity + ' cargas desde el estado de ' + stateName,
            "width": 200,
            "wrap-text": true,
            "text-align": "left",
            "font-size": 14
          }
        };
        stateResults[stateCode] = styleObject;
      });
      
      return {
        "legend": {
          "toggle-action": "none",
          "y": 0,
          "border-width": 0,
          "background-color": "none",
          "marker": {
            "type": "rectangle",
            "width": 20,
            "height": 10,
          },
          "item": {
            "font-size": 16
          }
        },
        "series": [ // render legend items
          {
            "legend-item": {
              "text": "0"
            },
            "legend-marker": {
              "background-color": "#d4d4d4",
            }
          },
          {
            "legend-item": {
              "text": "< 1%"
            },
            "legend-marker": {
              "background-color": "#efffeb",
            }
          },
          {
            "legend-item": {
              "text": "< 5%"
            },
            "legend-marker": {
              "background-color": "#d0fbc5",
            }
          },
          {
            "legend-item": {
              "text": "< 10%"
            },
            "legend-marker": {
              "background-color": "#acf29a",
            }
          },
          {
            "legend-item": {
              "text": "< 15%"
            },
            "legend-marker": {
              "background-color": "#8ceb75",
            }
          },
          {
            "legend-item": {
              "text": "< 20%"
            },
            "legend-marker": {
              "background-color": "#69de4c",
            }
          },
          {
            "legend-item": {
              "text": "< 30%"
            },
            "legend-marker": {
              "background-color": "#33ff00",
            }
          },
          {
            "legend-item": {
              "text": "< 50%"
            },
            "legend-marker": {
              "background-color": "#29ae08",
            }
          }
        ],
        "shapes": [ // render map
          {
            "type": "zingchart.maps",
            "options": {
              "id": "sourceChart",
              "name": "mex",
              "scale": true,
              "style": {
                "hover-state": {
                  "background-color": "#FFF",
                  "alpha": 0.3,
                  "border-width": 3
                },
                "label": {
                  "visible": false,
                },
                "border-color": "#c5c5c5",
                "items": stateResults
              }
            }
          }
        ]
      }
    };


    zingchart.MODULESDIR="{{STATIC_URL}}plugins/zingchart/modules/";
    zingchart.loadModules("maps,maps-mex", function(){
      //Render your charts with the modules.
      zingchart.render({
        id: 'sourceChart',
        name: 'source', 
        data: setResults(),
        height: 400,
        width: '100%'
      });
    });

    zingchart.loadModules("maps,maps-mex", function() {
      zingchart.render({
        id: 'targetChart',
        name: 'target',
        data: setResultsTarget(),
        height: 400,
        width: '100%'
      });
    });

  </script>

{% endblock customjs %}

{% block docready %}

{% endblock docready %}