{% extends 'base_login.html' %}

{% block subtitle %}Login{% endblock subtitle %}

{% block content %}

<div class="col-xl-10 col-lg-12 col-md-9">
  
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block">
            <img src="{{datapanel.logo.url}}" height="100%" width="100%">
          </div>
          
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Bienvenidos!</h1>
              </div>
              <form class="user" action="" method="POST">
                {% csrf_token %}
                {% if message %}
                <div class="alert alert-warning">
                  <i class="icon fab fa-warning"></i> {{message}}
                </div>
                {% endif %}
                <div class="form-group">
                  {{form_login.email}}
                </div>
                <div class="form-group">
                  {{form_login.password}}
                </div>
                <div class="form-group">
                  <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck">Recordarme</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Iniciar Sesión</button>
                <hr>
                <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Login with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                </a>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="{% url 'authorization:password_reset' %}">Olvidaste tu Contraseña?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

{% endblock content %}