{% extends 'base_login.html' %}

{% block subtitle %}Restablecer contraseña{% endblock subtitle %}

{% block content %}

<div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-2">¿Olvidaste tu contraseña?</h1>
                            <p class="mb-4">
                                Lo entendemos, suele pasar. Solo ingresa tu email debajo y 
                                te enviaremos un link para restablecer tu contraseña!
                            </p>
                        </div>
                        <form role="form" method="post" action="" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            {% include 'core/snippets/form_messages.html' with form=carrier_form %}
                            <div class="form-group">
                                {{reset_password_form.email}}
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">Restablecer Contraseña</button>

                        </form>
                        <hr>

                        <div class="text-center">
                            <a class="small" href="{% url 'authorization:login' %}">¿Ya tienes una cuenta? Ingresa aqui!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}