{% extends 'base_login.html' %}

{% block title %}Password changed!{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Contraseña cambiada!</h3>
          <div class="alert alert-success" role="alert">
            Se ha cambiado tu contraseña de manera exitosa! ya puedes ir al inicio de sesion.
          </div>
          <a href="{% url 'authorization:login' %}" class="btn btn-secondary btn-block">Inicio de sesion</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}