{% extends 'base_login.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Reinicie su contraseña</h3>
          <p>Verifique un enlace en su email para establecer su contraseña. Si no aparece espere unos minutos, cheque su carpeta de spam.</p>
          <a href="{% url 'authorization:login' %}" class="btn btn-secondary btn-block">Regrese al inicio de sesion</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}