{% extends 'base.html' %}

{% block subtitle %}Mercancias{% endblock subtitle %}

{% block header %} {% if commodity_obj %} Editar {% else %} Agregar {% endif %} mercancia {% endblock header %}

{% block headerbutton %}
  <a href="{% url 'commodities:commodity_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block customcss %}

{% endblock customcss %}



{% block content %}
<div class="col-xl-8">
    <div class="card shadow mb-4">
        <form role="form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'core/snippets/form_messages.html' with form=commodity_form %}
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Mercancia</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="{{commodity_form.name.label}}">{{commodity_form.name.label}}</label>
                            {{commodity_form.name}}
                            {% for error in commodity_form.name.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <div>
                                <label for="{{commodity_form.picture.label}}">{{commodity_form.picture.label}}</label> 
                            </div>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="btn-group">
                                    {% if not commodity_obj.picture %}
                                    <span class="btn btn-primary btn-file">
                                    <span class="fileinput-new"><i class="fa fa-upload"></i> Seleccionar imagen</span>
                                    <span class="fileinput-exists">Cambiar</span>
                                    {{commodity_form.picture}}
                                    </span>
                                    {% else %}
                                    <span class="btn btn-primary btn-file">
                                        <span class="fileinput-new"><i class="fa fa-upload"></i> Reemplazar imagen</span>
                                        <span class="fileinput-exists">Cambiar</span>
                                        {{commodity_form.picture}}
                                    </span>
                                    <span class="btn btn-primary btn-file">                                        
                                        <a href="{{commodity_obj.picture.url}}" target="blank" style="text-decoration:none; color:white;"><span class="fileinput-new"><i class="fa fa-download"></i></span></a>
                                        <a href="{{commodity_obj.picture.url}}" target="blank" style="text-decoration:none; color:white;"><span class="fileinput-exists"><i class="fa fa-download"></i></span></a>
                                    </span>
                                    {% endif %}
                                    <span class="fileinput-filename"></span>
                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 text-right">                        
                        <button class="btn btn-sm btn-success" type="submit">Guardar</button>
                        <a href="{% url 'commodities:commodity_list' %}" class="btn btn-sm btn-white">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content%}

{% block customjs %}
{% endblock customjs %}

{% block docready %}
    {% include 'core/snippets/messages_error.html' with form=commodity_form %}
    {% include 'core/snippets/form_validation.html' with form=commodity_form %}
{% endblock docready %}