{% load humanize %}

<div class="row">
    <div class="col-lg-12">
        <div class="modal-header">
            <h2>{{employee_obj}}</h2>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        </div>
        <div class="modal-body">
            <div class="table-responsive small">
            <table class="table table-sm table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Transportista</th>
                    <th>Ruta</th>
                    <th>Opcion</th>
                    <th>Detalle</th>
                </tr>
                </thead>
                <tfoot>
                <tr><th>Fecha</th><th>Transportista</th><th>Ruta</th><th>Opcion</th><th>Detalle</th></tr>
                </tfoot>
                <tbody>
                {% for call in calls_info %}
                    <tr>                     
                        <td>{{call.created|naturaltime}}</td>
                        <td>{{call.carrier.alias}}</td>
                        <td>{{call.source}} <i class="fas fa-long-arrow-alt-right"></i> {{call.target}}</td>
                        <td>{{call.get_options_display}}</td>
                        <td>{{call.note}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-sm-12">
                <div class="form-group text-right">                
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</div>
