{% extends 'base.html' %}

{% block subtitle %}Reportes{% endblock subtitle %}

{% block header %}Detalle de reportes{% endblock header %}

{% block headerbutton %}
    <div>
        <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-secondary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text">Regresar</span>
        </a>
    </div>
{% endblock headerbutton %}

         
{% block subheader %}{% endblock subheader %}

{% block customcss %}
  <link href="{{STATIC_URL}}plugins/datepicker/datepicker3.css" rel="stylesheet">
{% endblock customcss %}

{% load user_agents %}
{% load thumbnail %}
{% load humanize %}

{% block content %}
<!-- Llamadas diarias -->
<div class="col-xl-12">
  <div class="row">
    <div class="col-xl-2 col-md-3 col-sm-6 px-1 mb-4">
      <div id="div_today_calls" class="card card-link shadow h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Llamadas (diarias)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{today_calls|length}}</div>
              </div>
              <div class="col-auto">
              <i class="fas fa-phone fa-2x text-gray-300"></i>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 px-1 mb-4">
      <div id="div_yesterday_calls" class="card card-link shadow h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Llamadas (Ayer)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{yesterday_calls|length}}</div>
              </div>
              <div class="col-auto">
              <i class="fas fa-calendar-day fa-2x text-gray-300"></i>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Llamadas semanales -->
    <div class="col-xl-2 col-md-3 col-sm-6 px-1 mb-4">
      <div id="div_week_calls" class="card card-link shadow h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Llamadas (semanales)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{week_calls|length}}</div>
              </div>
              <div class="col-auto">
              <i class="fas fa-phone fa-2x text-gray-300"></i>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 px-1 mb-4">
      <div id="div_last_week_calls" class="card card-link shadow h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Llamadas (Semana pasada)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{last_week_calls|length}}</div>
              </div>
              <div class="col-auto">
              <i class="fas fa-calendar-week fa-2x text-gray-300"></i>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 px-1 mb-4">
      <div id="div_month_calls" class="card card-link shadow h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Llamadas (Mensual)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{month_calls|length}}</div>
              </div>
              <div class="col-auto">
              <i class="fas fa-phone fa-2x text-gray-300"></i>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 px-1 mb-4">
      <div id="div_last_month_calls" class="card card-link shadow h-100">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Llamadas (Mes pasado)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{last_month_calls|length}}</div>
              </div>
              <div class="col-auto">
              <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if calls_info %}
<div class="col-xl-12">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
          <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Buscar empleados..">
      </div>
    </div>
  </div>

  <div class="row" id="employees">
    {% for info in calls_info %}
    <div class="col-xl-3 col-md-4 col-sm-6 mb-4 cards-col">
        <div class="card shadow table_list">
            <div class="card-header d-flex flex-row justify-content-between">
                <div class="h6"><strong>{{info.employee.position.title}}</strong></div>
                <div>
                  <!-- header buttons -->
                </div>
            </div>
            <div class="card-body">
                
                <div class="row no-gutters align-items-center text-center">
                    <div class="col-sm-12 px-5 pb-1">
                        {% if info.employee.picture %}
                            {% thumbnail info.employee.picture '100x100' crop='center' as img %}
                            <img src="{{img.url}}" class="rounded-circle img-responsive2">
                            {% endthumbnail %}
                        {% else %}
                            <img class="rounded-circle img-responsive2" src="{{STATIC_URL}}img/user.png">
                        {% endif %}
                        </div>
                    <div class="col-sm-12">
                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{info.employee}}</div>
                    </div>
                    <div class="col-sm-12 mb-2">
                      <strong>Llamadas:</strong>
                      {{info.calls}}
                      <button data-url="{% url 'reports:call_detail' info.employee.pk %}" type="button" class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>     
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
              {% if info.employee.user.online %}
                <span class="dot dot-positive mx-1"></span>online
              {% else %}
                <span class="dot dot-negative mx-1"></span>offline
              {% endif %}
              
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}


<div class="col-xl-12">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Llamadas</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Opciones:</div>
              <a class="dropdown-item" href="#">Ver en mosaicos</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive small">
            <div class="row">
              <div class="col-md-12 col-sm-6 text-right">
                <label for="Fecha inicio:">Fecha inicio:</label>
                <input type="text" name="date" required="" id="fini" name="fini">
                <label for="Fecha fin:">Fecha fin:</label>
                <input type="text" name="date" required="" id="ffin" name="ffin">
              </div>
            </div>
            
            <table class="table table-sm table-bordered" id="calls_table" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Empleado</th>
                    <th>Transportista</th>
                    <th>Ruta</th>
                    <th>Opcion</th>
                    <th>Detalle</th></tr>
                </thead>
                <tfoot>
                  <tr><th>Fecha</th><th>Empleado</th><th>Transportista</th><th>Ruta</th><th>Opcion</th><th>Detalle</th></tr>
                </tfoot>
                <tbody>
                  {% for call in calls_list %}
                      <tr>                     
                        <td>{{call.created|date:"d/m/Y"}}</td>
                        <td>{% for employee in call.user.employee_user.all %} {{employee}} {% endfor %}</td>
                        <td>{{call.carrier.alias}} </td>
                        <td>{{call.source}} <i class="fas fa-long-arrow-alt-right"></i> {{call.target}}</td>
                        <td>{{call.get_options_display}}</td>
                        <td>{{call.note}}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      </div>
</div>


<div class="modal inmodal fade" id="modal_daily_calls" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-header">
            <h2 id="modal_title"></h2>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
          </div>
          <div class="modal-body">
            <div class="table-responsive small">
              <table class="table table-sm table-bordered dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Empleado</th>
                    <th>Transportista</th>
                    <th>Ruta</th>
                    <th>Opcion</th>
                    <th>Detalle</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr><th>Fecha</th><th>Empleado</th><th>Transportista</th><th>Ruta</th><th>Opcion</th><th>Detalle</th></tr>
                </tfoot>
                <tbody>
                  {% for call in today_calls %}
                      <tr>                     
                        <td>{{call.created }}</td>
                        <td>{% for employee in call.user.employee_user.all %} {{employee}} {% endfor %}</td>
                        <td>{{call.carrier.alias}}</td>
                        <td>{{call.source}} <i class="fas fa-long-arrow-alt-right"></i> {{call.target}}</td>
                        <td>{{call.get_options_display}}</td>
                        <td>{{call.note}}</td>
                        {% endfor %}
                      </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-12">
                <div class="form-group text-right">                
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal fade" id="modal_yesterday_calls" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-header">
            <h2 id="modal_title"></h2>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
          </div>
          <div class="modal-body">
            <div class="table-responsive small">
              <table class="table table-sm table-bordered dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Empleado</th>
                    <th>Transportista</th>
                    <th>Ruta</th>
                    <th>Opcion</th>
                    <th>Detalle</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr><th>Fecha</th><th>Empleado</th><th>Transportista</th><th>Ruta</th><th>Opcion</th><th>Detalle</th></tr>
                </tfoot>
                <tbody>
                  {% for call in yesterday_calls %}
                      <tr>                     
                        <td>{{call.created}}</td>
                        <td>{% for employee in call.user.employee_user.all %} {{employee}} {% endfor %}</td>
                        <td>{{call.carrier.alias}}</td>
                        <td>{{call.source}} <i class="fas fa-long-arrow-alt-right"></i> {{call.target}}</td>
                        <td>{{call.get_options_display}}</td>
                        <td>{{call.note}}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-12">
                <div class="form-group text-right">                
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal fade" id="modal_week_calls" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-header">
            <h2 id="modal_title"></h2>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
          </div>
          <div class="modal-body">
            <div class="table-responsive small">
              <table class="table table-sm table-bordered dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Empleado</th>
                    <th>Transportista</th>
                    <th>Ruta</th>
                    <th>Opcion</th>
                    <th>Detalle</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr><th>Fecha</th><th>Empleado</th><th>Transportista</th><th>Ruta</th><th>Opcion</th><th>Detalle</th></tr>
                </tfoot>
                <tbody>
                  {% for call in week_calls %}
                      <tr>                     
                        <td>{{call.created}}</td>
                        <td>{% for employee in call.user.employee_user.all %} {{employee}} {% endfor %}</td>
                        <td>{{call.carrier.alias}}</td>
                        <td>{{call.source}} <i class="fas fa-long-arrow-alt-right"></i> {{call.target}}</td>
                        <td>{{call.get_options_display}}</td>
                        <td>{{call.note}}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-12">
                <div class="form-group text-right">                
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal fade" id="modal_last_week_calls" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-header">
            <h2 id="modal_title"></h2>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
          </div>
          <div class="modal-body">
            <div class="table-responsive small">
              <table class="table table-sm table-bordered dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Empleado</th>
                    <th>Transportista</th>
                    <th>Ruta</th>
                    <th>Opcion</th>
                    <th>Detalle</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr><th>Fecha</th><th>Empleado</th><th>Transportista</th><th>Ruta</th><th>Opcion</th><th>Detalle</th></tr>
                </tfoot>
                <tbody>
                  {% for call in last_week_calls %}
                      <tr>                     
                        <td>{{call.created}}</td>
                        <td>{% for employee in call.user.employee_user.all %} {{employee}} {% endfor %}</td>
                        <td>{{call.carrier.alias}}</td>
                        <td>{{call.source}} <i class="fas fa-long-arrow-alt-right"></i> {{call.target}}</td>
                        <td>{{call.get_options_display}}</td>
                        <td>{{call.note}}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-12">
                <div class="form-group text-right">                
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal fade" id="modal_month_calls" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-header">
            <h2 id="modal_title"></h2>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
          </div>
          <div class="modal-body">
            <div class="table-responsive small">
              <table class="table table-sm table-bordered dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Empleado</th>
                    <th>Transportista</th>
                    <th>Ruta</th>
                    <th>Opcion</th>
                    <th>Detalle</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr><th>Fecha</th><th>Empleado</th><th>Transportista</th><th>Ruta</th><th>Opcion</th><th>Detalle</th></tr>
                </tfoot>
                <tbody>
                  {% for call in month_calls %}
                      <tr>                     
                        <td>{{call.created}}</td>
                        <td>{% for employee in call.user.employee_user.all %} {{employee}} {% endfor %}</td>
                        <td>{{call.carrier.alias}}</td>
                        <td>{{call.source}} <i class="fas fa-long-arrow-alt-right"></i> {{call.target}}</td>
                        <td>{{call.get_options_display}}</td>
                        <td>{{call.note}}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-12">
                <div class="form-group text-right">                
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal fade" id="modal_last_month_calls" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-header">
            <h2 id="modal_title"></h2>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
          </div>
          <div class="modal-body">
            <div class="table-responsive small">
              <table class="table table-sm table-bordered dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Empleado</th>
                    <th>Transportista</th>
                    <th>Ruta</th>
                    <th>Opcion</th>
                    <th>Detalle</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr><th>Fecha</th><th>Empleado</th><th>Transportista</th><th>Ruta</th><th>Opcion</th><th>Detalle</th></tr>
                </tfoot>
                <tbody>
                  {% for call in last_month_calls %}
                      <tr>                     
                        <td>{{call.created}}</td>
                        <td>{% for employee in call.user.employee_user.all %} {{employee}} {% endfor %}</td>
                        <td>{{call.carrier.alias}}</td>
                        <td>{{call.source}} <i class="fas fa-long-arrow-alt-right"></i> {{call.target}}</td>
                        <td>{{call.get_options_display}}</td>
                        <td>{{call.note}}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-12">
                <div class="form-group text-right">                
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
  </div>
</div>

{% endblock content %}

{% block customjs %}
<script src="{{STATIC_URL}}plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="{{STATIC_URL}}js/date-range-filter.js?1"></script>
<script src="{{STATIC_URL}}js/employee-filter.js?1"></script>
{% endblock customjs %}

{% block docready %}
  var table = $("#calls_table").DataTable({
    "order": [[ 0, "desc" ]]
  });
  $(".dataTable").DataTable({
    "order": [[ 0, "desc" ]]
  });

  $('#fini').datepicker({
    'format': 'dd/mm/yyyy',
    'isRTL': 'false',
    'autoclose':'true',
    'language': 'es',
   });
   $('#ffin').datepicker({
    'format': 'dd/mm/yyyy',
    'isRTL': 'false',
    'autoclose':'true',
    'language': 'es',
   });

  $("#div_today_calls").click(function() {
    $("#modal_daily_calls").modal("show");
  });
  $("#div_yesterday_calls").click(function() {
    $("#modal_yesterday_calls").modal("show");
  });
  $("#div_week_calls").click(function() {
    $("#modal_week_calls").modal("show");
  });
  $("#div_last_week_calls").click(function() {
    $("#modal_last_week_calls").modal("show");
  });
  $("#div_month_calls").click(function() {
    $("#modal_month_calls").modal("show");
  });
  $("#div_last_month_calls").click(function() {
    $("#modal_last_month_calls").modal("show");
  });
    
  

  // Add event listeners to the two range filtering inputs
  $('#fini, #ffin').change( function() { 
    table.draw(); 
  } );


{% endblock docready %}