{% extends 'base.html' %}

{% block subtitle %}routes{% endblock subtitle %}

{% block header %} {% if route_obj %} Editar {% else %} Crear {% endif %} route {% endblock header %}

{% block headerbutton %}
  <a href="{% url 'routes:routes_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block customcss %}
<link href="{{STATIC_URL}}plugins/datepicker/datepicker3.css" rel="stylesheet">
  <style>
    #id_date_day {
        width: 19%;
    }
    #id_date_year {
        width: 30%;
    }
    #id_date_month {
        width: 50%;
    }
  </style>
{% endblock customcss %}


{% block content %}
<div class="col-xl-12">
    <form role="form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'core/snippets/form_messages.html' with form=route_form %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Rutas</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="{{route_form.date.label}}">{{route_form.date.label}}</label>
                            <br>
                            {{route_form.date}}
                            {% for error in route_form.date.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="{{route_form.carrier.label}}">{{route_form.carrier.label}}</label>
                            {{route_form.carrier}}
                            {% for error in route_form.carrier.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>  
                    </div>

                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="{{route_form.customer.label}}">{{route_form.customer.label}}</label>
                            {{route_form.customer}}
                            {% for error in route_form.customer.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>  
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{route_form.source_region.label}}">{{route_form.source_region.label}}</label>
                            {{route_form.source_region}}
                            {% for error in route_form.source_region.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{route_form.source.label}}">{{route_form.source.label}}</label>
                            {{route_form.source}}
                            {% for error in route_form.source.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{route_form.target_region.label}}">{{route_form.target_region.label}}</label>
                            {{route_form.target_region}}
                            {% for error in route_form.target_region.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>  
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="{{route_form.target.label}}">{{route_form.target.label}}</label>
                        {{route_form.target}}
                        {% for error in route_form.target.errors %}
                            <span class='help-block has-error help-block-error'>{{error}}</span>
                        {% endfor %}
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-right">
                            <button class="btn btn-sm btn-success" type="submit">Guardar</button>
                            <a href="{% url 'routes:routes_list' %}" class="btn btn-sm btn-white">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content%}

{% block customjs %}
    <script src="{{STATIC_URL}}plugins/datepicker/bootstrap-datepicker.js"></script>
{% endblock customjs %}

{% block docready %}
    {% include 'core/snippets/form_validation.html' with form=route_form %}
    {% include 'core/snippets/messages_error.html' with form=route_form %}

   $(".select2").select2();

   $('#id_date').datepicker({
    'format': 'yyyy-mm-dd',
    'isRTL': 'false',
    'autoclose':'true',
    'language': 'es',
   });
{% endblock docready %}