{% extends 'base.html' %}
{% load user_agents %}
{% load humanize %}

{% block subtitle %}Rutas{% endblock subtitle %}

{% block header %}Informacion de rutas{% endblock header %}

{% block headerbutton %}
  <div>
    {% with perm='can_add_'|add:app_name %}   
        {% if perm in permissions or user.is_superuser %}
        <a href="{% url 'routes:routes_add' %}" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Agregar ruta</a>
        {% endif %}
    {% endwith %}
    <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-secondary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Regresar</span>
    </a>
  </div>
{% endblock headerbutton %}
         
{% block subheader %}{% endblock subheader %}

{% block customcss %}
  <link href="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{STATIC_URL}}plugins/jquery_ui/jquery-ui.css">  
{% endblock %}



{% block content %}

<!-- Filtros recientes -->
<div class="col-xl-3 col-md-4">
  <div class="card shadow mb-4">
      <div class="card-header d-sm-flex align-items-center justify-content-between py-3">
          <h6 class="m-0 font-weight-bold text-primary">Filtros recientes</h6>
      </div>
      <div class="card-body small">
          
          {% for filter in last_filters%}
          <div class="row">
              <div class="col-sm-12">
                <div class="font-weight-bold">
                  <div class="text-truncate">
                    <a class="last_search" href="#" data-source="{{filter.source_path.pk}}" data-target="{{filter.target_path.pk}}">                        
                      <span class="source">{{filter.source_path}}</span>
                      <span><i class="fas fa-long-arrow-alt-right"></i></span>
                      <span class="target">{{filter.target_path}}</span>
                    </a>
                  </div>
                  <div class="text-gray-500">{{filter.last|naturaltime}}</div>
                </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
  <div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
  </div>
</div>

<div class="col-xl-9 col-md-8 filter">
  <form method="POST" action="" class="create-form" autocomplete="off">
    {% csrf_token %}
    {% include 'core/snippets/form_messages.html' with form=mail_form %}
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Filtro</h6>
          <button type="submit" class="btn btn-sm btn-light btn-icon-split" type="button">
            <span class="icon text-gray-600">
              <i class="fas fa-search"></i>
            </span>
            <span class="text">Buscar</span>
          </button>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="row">
            {% for radio in route_form.person_type %}
            <div class="col-sm-4">
                {{ radio }}
            </div>
            {% endfor %}
          </div>
          <div id="div_source" class="row">
            <div class="form-group col-sm-4">
              <label for="{{route_form.source_region.label}}">{{route_form.source_region.label}}</label>
              {{route_form.source_region}}
              {% for error in route_form.source_region.errors %}
                  <span class='help-block has-error help-block-error'>{{error}}</span>
              {% endfor %}
            </div>
            <div class="form-group col-sm-4">
              <label for="{{route_form.source_path.label}}">{{route_form.source_path.label}}</label>
              {{route_form.source_path}}
              {% for error in route_form.source_path.errors %}
                  <span class='help-block has-error help-block-error'>{{error}}</span>
              {% endfor %}
            </div>
            <div class="form-group col-sm-3">
              <label for="{{route_form.source_radio.label}}">{{route_form.source_radio.label}}</label>
              {{route_form.source_radio}}
              {% for error in route_form.source_radio.errors %}
                  <span class='help-block has-error help-block-error'>{{error}}</span>
              {% endfor %}
            </div>
          </div>

          <div id="div_target" class="row">
            <div class="form-group col-sm-4">
              <label for="{{route_form.target_region.label}}">{{route_form.target_region.label}}</label>
                {{route_form.target_region}}
                {% for error in route_form.target_region.errors %}
                    <span class='help-block has-error help-block-error'>{{error}}</span>
                {% endfor %}
            </div>
            <div class="form-group col-sm-4">
              <label for="{{route_form.target_path.label}}">{{route_form.target_path.label}}</label>
              {{route_form.target_path}}
              {% for error in route_form.target_path.errors %}
                  <span class='help-block has-error help-block-error'>{{error}}</span>
              {% endfor %}
            </div>
            <div class="form-group col-sm-3">
              <label for="{{route_form.target_radio.label}}">{{route_form.target_radio.label}}</label>
              {{route_form.target_radio}}
              {% for error in route_form.target_radio.errors %}
                  <span class='help-block has-error help-block-error'>{{error}}</span>
              {% endfor %}
            </div>
          </div>
          
          <div class="row">
            {% for radio in route_form.search_type %}
            <div class="col-sm-4">
                {{ radio }}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
  </form>
</div>

{% endblock content %}


{% block customjs %}
  <script src="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
  <script src="{{STATIC_URL}}plugins/jquery_ui/jquery-ui.js"></script>
  <script src="{{STATIC_URL}}js/routes.js?1"></script>
{% endblock %}

{% block docready %}
    $( function() {
      $( document ).tooltip();
    } );

    $(".dataTable").DataTable({
      "order": [[ 0, "desc" ]]
    });
    $(".select2").select2({width: '100%'});
    $(".touchspin").TouchSpin({
      min: 0,
      max: 2500,
      step: 10,
      boostat: 5,
      maxboostedstep: 10,
      buttondown_class: 'btn btn-light',
      buttonup_class: 'btn btn-light'
     });

    $("#id_person_type_0").prop("checked", true);
    $("#id_search_type_0").prop("checked", true);

    $(".last_search").on('click', function(){
      var ahref = $(this);
      var source = ahref.attr("data-source");
      var target = ahref.attr("data-target");

      $("#id_source_path").select2('val', source)
      $("#id_target_path").select2('val', target);
    });

{% endblock docready %}