{% extends 'base.html' %}
{% load user_agents %}
{% load humanize %}

{% block subtitle %}Rutas{% endblock subtitle %}

{% block header %}Informacion de rutas{% endblock header %}

{% block headerbutton %}
  <div>
    {% with perm='can_add_'|add:app_name %}   
        {% if perm in permissions or user.is_superuser %}
        <a href="{% url 'routes:routes_add' %}" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Agregar ruta</a>
        {% endif %}
    {% endwith %}
    <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-secondary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Regresar</span>
    </a>
  </div>
{% endblock headerbutton %}
         
{% block subheader %}{% endblock subheader %}

{% block customcss %}
  <link href="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{STATIC_URL}}plugins/jquery_ui/jquery-ui.css">  
{% endblock %}



{% block content %}

{% if count %}
<div class="col-xl-12">
  <div class="px-3 py-3 toast-success text-center text-lg text-white">Se encontraron {{count}} transportistas</div>
</div>
{% endif %}

<!-- Filtros recientes -->
<div class="col-xl-3 col-md-4">
  <div class="card shadow mb-4">
      <div class="card-header d-sm-flex align-items-center justify-content-between py-3">
          <h6 class="m-0 font-weight-bold text-primary">Filtros recientes</h6>
      </div>
      <div class="card-body small">
          
          {% for filter in last_filters%}
          <div class="row">
              <div class="col-sm-12">
                <div class="font-weight-bold">
                  <div class="text-truncate">
                    <a class="last_search" href="#" data-source="{{filter.source_path.pk}}" data-target="{{filter.target_path.pk}}">                        
                      <span class="source">{{filter.source_path}}</span>
                      <span><i class="fas fa-long-arrow-alt-right"></i></span>
                      <span class="target">{{filter.target_path}}</span>
                    </a>
                  </div>
                  <div class="text-gray-500">{{filter.last|naturaltime}}</div>
                </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
  <div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
  </div>
</div>

<div class="col-xl-9 col-md-8 filter">
  <form method="POST" action="" class="create-form" autocomplete="off">
    {% csrf_token %}
    {% include 'core/snippets/form_messages.html' with form=mail_form %}
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Filtro</h6>
          <button type="submit" class="btn btn-sm btn-light btn-icon-split" type="button">
            <span class="icon text-gray-600">
              <i class="fas fa-search"></i>
            </span>
            <span class="text">Buscar</span>
          </button>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="row">
            {% for radio in route_form.person_type %}
            <div class="col-sm-4">
                {{ radio }}
            </div>
            {% endfor %}
          </div>
          <div id="div_source" class="row">
            <div class="form-group col-sm-4">
              <label for="{{route_form.source_region.label}}">{{route_form.source_region.label}}</label>
              {{route_form.source_region}}
              {% for error in route_form.source_region.errors %}
                  <span class='help-block has-error help-block-error'>{{error}}</span>
              {% endfor %}
            </div>
            <div class="form-group col-sm-4">
              <label for="{{route_form.source_path.label}}">{{route_form.source_path.label}}</label>
              {{route_form.source_path}}
              {% for error in route_form.source_path.errors %}
                  <span class='help-block has-error help-block-error'>{{error}}</span>
              {% endfor %}
            </div>
            <div class="form-group col-sm-3">
              <label for="{{route_form.source_radio.label}}">{{route_form.source_radio.label}}</label>
              {{route_form.source_radio}}
              {% for error in route_form.source_radio.errors %}
                  <span class='help-block has-error help-block-error'>{{error}}</span>
              {% endfor %}
            </div>
          </div>

          <div id="div_target" class="row">
            <div class="form-group col-sm-4">
              <label for="{{route_form.target_region.label}}">{{route_form.target_region.label}}</label>
                {{route_form.target_region}}
                {% for error in route_form.target_region.errors %}
                    <span class='help-block has-error help-block-error'>{{error}}</span>
                {% endfor %}
            </div>
            <div class="form-group col-sm-4">
              <label for="{{route_form.target_path.label}}">{{route_form.target_path.label}}</label>
              {{route_form.target_path}}
              {% for error in route_form.target_path.errors %}
                  <span class='help-block has-error help-block-error'>{{error}}</span>
              {% endfor %}
            </div>
            <div class="form-group col-sm-3">
              <label for="{{route_form.target_radio.label}}">{{route_form.target_radio.label}}</label>
              {{route_form.target_radio}}
              {% for error in route_form.target_radio.errors %}
                  <span class='help-block has-error help-block-error'>{{error}}</span>
              {% endfor %}
            </div>
          </div>
          <div class="row">
            {% for radio in route_form.search_type %}
            <div class="col-sm-4">
                {{ radio }}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
  </form>
</div>

{% if count %}

<div id="routes" class="col-xl-12">
  <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Resultados</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Opciones:</div>
            <a class="dropdown-item" href="#">Ver en mosaicos</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
          {% if interest_routes_list or near_carriers or near_national or national_list %}
          <h6 class="m-0 font-weight-bold text-primary">Rutas de interes</h6>
          <br>
          <div class="table-responsive small">
            <table class="table table-sm table-bordered dataTable table_list" id="dataTable">
                <thead>
                  <tr>
                    <th>Alias</th>
                    <th>Direccion TRT</th>
                    <th>Rutas de interes</th>
                    <th>Equipos</th>
                    <th>Viajes</th>
                    <th>Coordinador</th>
                    <th>Contacto</th>
                    <th>Acciones</th></tr>
                </thead>
                <tfoot>
                  <tr><th>Alias</th><th>Direccion TRT</th><th>Rutas de interes</th><th>Equipos</th><th>Viajes</th><th>Coordinador</th><th>Contacto</th><th>Acciones</th></tr>
                </tfoot>
                <tbody>
                  {% for interest in interest_routes_list %}
                    {% if interest.carrier.notes.all|length %}
                      {% for note in interest.carrier.notes.all %}
                        {% if forloop.last %}
                        <tr id="interest_{{forloop.counter}}" title="{{note.created}} - {{note.get_options_display}}">
                        {% endif %}    
                      {% endfor %}           
                    {% else %}
                      <tr id="interest_{{forloop.counter}}">   
                    {% endif %}                  
                    <td><strong><a href="#interest_{{forloop.counter}}" data-url="{% url 'carriers:carrier_detail' interest.carrier.pk %}" carrier-id="{{interest.carrier.pk}}" class="js-create carrier-id">{{interest.carrier.alias}}</a></strong></td>
                    <td>{{interest.carrier.city}}, {{interest.carrier.region}}</td>
                    <td>
                      {% for route in interest.carrier.interest_routes.all %}
                        {{route.source_path}} <i class="fas fa-long-arrow-alt-right"></i> {{route.target_path}}
                        <br>
                      {% endfor %}
                    </td>
                    <td>
                      {% for equipment in interest.carrier.carrier_equipment.all %}
                      {{equipment.equipment}}
                      <br>
                      {% endfor %}
                    </td>
                    <td class="text-center">
                      {% if interest.carrier.carrier_route.all|length %} 
                        <button data-url="{% url 'carriers:carrier_routes' interest.carrier.pk %}" type="button" class="btn btn-sm btn-primary js-create"> 
                            {{interest.carrier.carrier_route.all|length}}                            
                        </button>
                      {% else %}
                        <strong>0</strong>
                      {% endif %}
                    </td>
                    <td>
                      {% if interest.carrier.coordinator %}
                      <button data-url="{% url 'employees:employee_detail' interest.carrier.coordinator.pk %}" class="btn btn-sm btn-primary js-create"><strong>{{interest.carrier.coordinator.first_name}}</strong></button>
                      {% endif %}
                    </td>
                    <td>
                      <i class="col-sm-2 fas fa-phone-alt text-gray-600"></i> {{interest.carrier.operative_contact.phone}}
                      <br>
                      <i class="col-sm-2 fas fa-id-card text-gray-600"></i> {{interest.carrier.operative_contact.name}}
                      <br>
                      <i class="col-sm-2 fas fa-mobile-alt text-gray-600"></i> {{interest.carrier.operative_contact.cellphone}}
                    </td>
                    <td>
                      {% if request|is_mobile %}
                        {% if interest.carrier.operative_contact.cellphone and interest.carrier.operative_contact.cellphone != 'nan' %}
                        <a class="btn btn-sm btn-primary btn-circle phone_ref" href="tel:{{interest.carrier.operative_contact.cellphone}}"><i class="fas fa-phone"></i></a>
                        {% elif interest.carrier.operative_contact.phone and interest.carrier.operative_contact.phone != 'nan' %}
                        <a class="btn btn-sm btn-primary btn-circle phone_ref" href="tel:{{interest.carrier.operative_contact.phone}}"><i class="fas fa-phone"></i></a>
                        {% endif %}
                      {% endif %}

                      {% if filter_obj.target_path and filter_obj.source_path %}
                      <button data-url="{% url 'routes:routes_note' interest.carrier.pk filter_obj.source_path.pk filter_obj.target_path.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create" {% if request.user.pk != 10 %}  hidden {% endif %}>
                        <i class="fas fa-sticky-note"></i>
                      </button> 
                      {% else %}
                      <button data-url="{% url 'routes:routes_note' interest.carrier.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create" {% if request.user.pk != 10 %}  hidden {% endif %}>
                        <i class="fas fa-sticky-note"></i>
                      </button> 
                      {% endif %}
                      <button data-url="{% url 'carriers:carrier_sendmail' interest.carrier.pk 'operative' %}" type="button" class="btn btn-sm btn-warning btn-circle js-create">
                        <i class="fas fa-envelope"></i>
                      </button> 
                      <button data-url="{% url 'carriers:carrier_detail' interest.carrier.pk %}" type="button" class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>     
                    </td>
                  </tr>
                  {% endfor %}  
                  {% for carrier in near_carriers %}
                    {% if carrier.carrier.notes.all|length %}
                      {% for note in carrier.carrier.notes.all %}
                        {% if forloop.last %}
                        <tr id="carrier_{{forloop.counter}}" title="{{note.created}} - {{note.get_options_display}}">
                        {% endif %}    
                      {% endfor %}           
                    {% else %}
                      <tr id="carrier_{{forloop.counter}}">   
                    {% endif %}    
                    <td><strong><a href="#carrier_{{forloop.counter}}" data-url="{% url 'carriers:carrier_detail' carrier.pk %}" carrier-id="{{carrier.carrier.pk}}" class="js-create carrier-id">{{carrier.carrier.alias}}</a></strong></td>
                    <td>{{carrier.carrier.city}}, {{carrier.carrier.region}}</td>
                    <td>
                      {% for route in carrier.carrier.interest_routes.all %}
                        {{route.source_path}} <i class="fas fa-long-arrow-alt-right"></i> {{route.target_path}}
                        <br>
                      {% endfor %}
                    </td>
                    <td>
                      {% for equipment in carrier.carrier.carrier_equipment.all %}
                      {{equipment.equipment}}
                      <br>
                      {% endfor %}
                    </td>
                    <td class="text-center">
                      {% if carrier.carrier.carrier_route.all|length %} 
                        <button data-url="{% url 'carriers:carrier_routes' carrier.carrier.pk %}" type="button" class="btn btn-sm btn-primary js-create"> 
                            {{carrier.carrier.carrier_route.all|length}}                            
                        </button>
                      {% else %}
                        <strong>0</strong>
                      {% endif %}
                    </td>
                    <td>
                      {% if carrier.carrier.coordinator %}
                      <button data-url="{% url 'employees:employee_detail' carrier.carrier.coordinator.pk %}" class="btn btn-sm btn-primary js-create">{{carrier.carrier.coordinator.first_name}}</button>
                      {% endif %}
                    </td>
                    <td>
                      <i class="col-sm-2 fas fa-id-card text-gray-600"></i> {{carrier.carrier.operative_contact.name}}
                      <br>
                      <i class="col-sm-2 fas fa-mobile-alt text-gray-600"></i> {{carrier.carrier.operative_contact.cellphone}}
                      <br>
                      <i class="col-sm-2 fas fa-phone-alt text-gray-600"></i> {{carrier.carrier.operative_contact.phone}}
                    </td>
                    <td>
                      {% if request|is_mobile %}
                        {% if carrier.carrier.operative_contact.cellphone and carrier.carrier.operative_contact.cellphone != 'nan' %}
                        <a class="btn btn-sm btn-primary btn-circle phone_ref" href="tel:{{carrier.carrier.operative_contact.cellphone}}"><i class="fas fa-phone"></i></a>
                        {% elif carrier.carrier.operative_contact.phone and carrier.carrier.operative_contact.phone != 'nan' %}
                        <a class="btn btn-sm btn-primary btn-circle phone_ref" href="tel:{{carrier.carrier.operative_contact.phone}}"><i class="fas fa-phone"></i></a>
                        {% endif %}
                      {% endif %}
                      {% if filter_obj.target_path and filter_obj.source_path %}
                      <button data-url="{% url 'routes:routes_note' carrier.pk filter_obj.source_path.pk filter_obj.target_path.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create"  {% if request.user.pk != 10 %}  hidden {% endif %}>
                        <i class="fas fa-sticky-note"></i>
                      </button> 
                      {% else %}
                      <button data-url="{% url 'routes:routes_note' carrier.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create"  {% if request.user.pk != 10 %}  hidden {% endif %}>
                        <i class="fas fa-sticky-note"></i>
                      </button> 
                      {% endif %}
                      <button data-url="{% url 'carriers:carrier_sendmail' carrier.pk 'operative' %}" type="button" class="btn btn-sm btn-warning btn-circle js-create">
                        <i class="fas fa-envelope"></i>
                      </button> 
                      <button data-url="{% url 'carriers:carrier_detail' carrier.pk %}" type="button" class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>     
                    </td>
                  </tr>
                  {% endfor %}   
                  {% for carrier in national_list %}
                    {% if carrier.notes.all|length %}
                      {% for note in carrier.notes.all %}
                        {% if forloop.last %}
                        <tr id="national_{{forloop.counter}}" title="{{note.created}} - {{note.get_options_display}}">
                        {% endif %}    
                      {% endfor %}           
                    {% else %}
                      <tr id="national_{{forloop.counter}}">   
                    {% endif %}  
                    <td><strong><a href="#national_{{forloop.counter}}" data-url="{% url 'carriers:carrier_detail' carrier.pk %}" carrier-id="{{carrier.pk}}" class="js-create carrier-id">{{carrier.alias}}</a></strong></td>
                    <td>{{carrier.city}}, {{carrier.region}}</td>
                    <td>
                      {{carrier.base_city}} <i class="fas fa-long-arrow-alt-right"></i>
                      <span class="label label-success">Nacional</span>
                    </td>
                    <td>
                      {% for equipment in carrier.carrier_equipment.all %}
                      {{equipment.equipment}}
                      <br>
                      {% endfor %}
                    </td>
                    <td class="text-center">
                      {% if carrier.carrier_route.all|length %} 
                        <button data-url="{% url 'carriers:carrier_routes' carrier.pk %}" type="button" class="btn btn-sm btn-primary js-create"> 
                            {{carrier.carrier_route.all|length}}                            
                        </button>
                      {% else %}
                        <strong>0</strong>
                      {% endif %}
                    </td>
                    <td>
                      {% if carrier.coordinator %}
                      <button data-url="{% url 'employees:employee_detail' carrier.coordinator.pk %}" class="btn btn-sm btn-primary js-create">{{carrier.coordinator.first_name}}</button>
                      {% endif %}
                    </td>
                    <td>
                      <i class="col-sm-2 fas fa-id-card text-gray-600"></i> {{carrier.operative_contact.name}}
                      <br>
                      <i class="col-sm-2 fas fa-mobile-alt text-gray-600"></i> {{carrier.operative_contact.cellphone}}
                      <br>
                      <i class="col-sm-2 fas fa-phone-alt text-gray-600"></i> {{carrier.operative_contact.phone}}
                    </td>
                    <td>
                      {% if request|is_mobile %}
                        {% if carrier.operative_contact.cellphone and carrier.operative_contact.cellphone != 'nan' %}
                        <a class="btn btn-sm btn-primary btn-circle phone_ref" href="tel:{{carrier.operative_contact.cellphone}}"><i class="fas fa-phone"></i></a>
                        {% elif carrier.operative_contact.phone and carrier.operative_contact.phone != 'nan' %}
                        <a class="btn btn-sm btn-primary btn-circle phone_ref" href="tel:{{carrier.operative_contact.phone}}"><i class="fas fa-phone"></i></a>
                        {% endif %}
                      {% endif %}
                      
                      {% if filter_obj.target_path and filter_obj.source_path %}
                      <button data-url="{% url 'routes:routes_note' carrier.pk filter_obj.source_path.pk filter_obj.target_path.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create"  {% if request.user.pk != 10 %}  hidden {% endif %}>
                        <i class="fas fa-sticky-note"></i>
                      </button> 
                      {% else %}
                      <button data-url="{% url 'routes:routes_note' carrier.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create"  {% if request.user.pk != 10 %}  hidden {% endif %}>
                        <i class="fas fa-sticky-note"></i>
                      </button> 
                      {% endif %}
                      <button data-url="{% url 'carriers:carrier_sendmail' carrier.pk 'operative' %}" type="button" class="btn btn-sm btn-warning btn-circle js-create">
                        <i class="fas fa-envelope"></i>
                      </button> 
                      <button data-url="{% url 'carriers:carrier_detail' carrier.pk %}" type="button" class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>     
                    </td>
                  </tr>
                  {% endfor %}   
                  {% for carrier in near_national %}
                    {% if carrier.notes.all|length %}
                      {% for note in carrier.notes.all %}
                        {% if forloop.last %}
                        <tr id="near_national_{{forloop.counter}}" title="{{note.created}} - {{note.get_options_display}}">
                        {% endif %}    
                      {% endfor %}           
                    {% else %}
                      <tr id="near_national_{{forloop.counter}}">   
                    {% endif %}  
                    <td><strong><a href="#near_national_{{forloop.counter}}" data-url="{% url 'carriers:carrier_detail' carrier.pk %}" carrier-id="{{carrier.pk}}" class="js-create carrier-id">{{carrier.alias}}</a></strong></td>
                    <td>{{carrier.city}}, {{carrier.region}}</td>
                    <td>
                      {{carrier.base_city}} <i class="fas fa-long-arrow-alt-right"></i>
                      <span class="label label-success">Nacional</span>
                    </td>
                    <td>
                      {% for equipment in carrier.carrier_equipment.all %}
                      {{equipment.equipment}}
                      <br>
                      {% endfor %}
                    </td>
                    <td class="text-center">
                      {% if carrier.carrier_route.all|length %} 
                        <button data-url="{% url 'carriers:carrier_routes' carrier.pk %}" type="button" class="btn btn-sm btn-primary js-create"> 
                            {{carrier.carrier_route.all|length}}                            
                        </button>
                      {% else %}
                        <strong>0</strong>
                      {% endif %}
                    </td>
                    <td class="text-center">
                      {% if carrier.coordinator %}
                      <button data-url="{% url 'employees:employee_detail' carrier.coordinator.pk %}" class="btn btn-sm btn-primary js-create">{{carrier.coordinator.first_name}}</button>
                      {% endif %}
                    </td>
                    <td>
                      <i class="col-sm-2 fas fa-id-card text-gray-600"></i> {{carrier.operative_contact.name}}
                      <br>
                      <i class="col-sm-2 fas fa-mobile-alt text-gray-600"></i> {{carrier.operative_contact.cellphone}}
                      <br>
                      <i class="col-sm-2 fas fa-phone-alt text-gray-600"></i> {{carrier.operative_contact.phone}}
                    </td>
                    <td>
                      {% if request|is_mobile %}
                        {% if carrier.operative_contact.cellphone and carrier.operative_contact.cellphone != 'nan' %}
                        <a class="btn btn-sm btn-primary btn-circle phone_ref" href="tel:{{carrier.operative_contact.cellphone}}"><i class="fas fa-phone"></i></a>
                        {% elif carrier.operative_contact.phone and carrier.operative_contact.phone != 'nan' %}
                        <a class="btn btn-sm btn-primary btn-circle phone_ref" href="tel:{{carrier.operative_contact.phone}}"><i class="fas fa-phone"></i></a>
                        {% endif %}
                      {% endif %}

                      {% if filter_obj.target_path and filter_obj.source_path %}
                      <button data-url="{% url 'routes:routes_note' carrier.pk filter_obj.source_path.pk filter_obj.target_path.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create"  {% if request.user.pk != 10 %}  hidden {% endif %}>
                        <i class="fas fa-sticky-note"></i>
                      </button> 
                      {% else %}
                      <button data-url="{% url 'routes:routes_note' carrier.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create"  {% if request.user.pk != 10 %}  hidden {% endif %}>
                        <i class="fas fa-sticky-note"></i>
                      </button> 
                      {% endif %}
                      <button data-url="{% url 'carriers:carrier_sendmail' carrier.pk 'operative' %}" type="button" class="btn btn-sm btn-warning btn-circle js-create">
                        <i class="fas fa-envelope"></i>
                      </button> 
                      <button data-url="{% url 'carriers:carrier_detail' carrier.pk %}" type="button" class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>     
                    </td>
                  </tr>
                {% endfor %} 
                </tbody>
            </table>
          </div>
          {% endif %}
          

          {% if routes_list %}
            {% if carrier_list or near_carriers %}
              <hr class="sidebar-divider">
              <h6 class="m-0 font-weight-bold text-primary">Rutas realizadas</h6>
              <br>
            {% endif %}
            <div class="table-responsive small">
              <table class="table table-sm table-bordered dataTable table_list" id="dataTable">
                  <thead>
                    <tr role="row">
                      <th>Viajes</th>
                      <th>Alias</th>
                      <th>Equipos</th>
                      <th>Ruta</th>
                      <th>Coordinador</th>
                      <th>Contacto</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr><th>Viajes</th><th>Alias</th><th>Equipos</th><th>Ruta</th><th>Coordinador</th><th>Contacto</th><th>Acciones</th></tr>
                  </tfoot>
                  <tbody>
                    {% for item in routes_list %}
                      {% if item.carrier.notes.all|length %}
                        {% for note in item.carrier.notes.all %}
                          {% if forloop.last %}
                          <tr id="item_{{forloop.counter}}" title="{{note.created}} - {{note.get_options_display}}">
                          {% endif %}    
                        {% endfor %}           
                      {% else %}
                        <tr id="item_{{forloop.counter}}">   
                      {% endif %}  
                      <td>
                        <button data-url="{% url 'carriers:carrier_routes' item.carrier.pk item.source_path.pk item.target_path.pk %}" type="button" class="btn btn-sm btn-primary js-create"> 
                        {{item.travels}} 
                        </button>
                      </td>
                      <td><strong><a href="#item_{{forloop.counter}}" data-url="{% url 'carriers:carrier_detail' item.carrier.pk %}" carrier-id="{{item.carrier.pk}}" class="js-create carrier-id">{{item.carrier.alias}}</a></strong></td>
                      <td>
                        {% for equipment in item.carrier.equipments.all %}
                          {{equipment}} <br>
                        {% endfor %}
                      </td>
                      <td>{{item.source_path.name}} <i class="fas fa-long-arrow-alt-right"></i> {{item.target_path.name}}</td>
                      <td>
                        {% if item.carrier.coordinator %}
                        <button data-url="{% url 'employees:employee_detail' item.carrier.coordinator.pk %}" class="btn btn-sm btn-primary js-create">{{item.carrier.coordinator.first_name}}</button>
                        {% endif %}
                      </td>
                      <td>
                        <i class="col-sm-2 fas fa-id-card text-gray-600"></i> {{item.carrier.operative_contact.name}}
                        <br>
                        <i class="col-sm-2 fas fa-mobile-alt text-gray-600"></i> {{item.carrier.operative_contact.cellphone}}
                        <br>
                        <i class="col-sm-2 fas fa-phone-alt text-gray-600"></i> {{item.carrier.operative_contact.phone}}
                      </td>
                      <td>                        
                        {% if request|is_mobile %}
                          {% if item.carrier.operative_contact.cellphone and item.carrier.operative_contact.cellphone != 'nan' %}
                          <a class="btn btn-sm btn-primary btn-circle phone_ref" href="tel:{{item.carrier.operative_contact.cellphone}}"><i class="fas fa-phone"></i></a>
                          {% elif item.carrier.operative_contact.phone and item.carrier.operative_contact.phone != 'nan' %}
                          <a class="btn btn-sm btn-primary btn-circle phone_ref" href="tel:{{item.carrier.operative_contact.phone}}"><i class="fas fa-phone"></i></a>
                          {% endif %}
                        {% endif %}

                        {% if filter_obj.target_path and filter_obj.source_path %}
                        <button data-url="{% url 'routes:routes_note' item.carrier.pk filter_obj.source_path.pk filter_obj.target_path.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create"  {% if request.user.pk != 10 %}  hidden {% endif %}>
                          <i class="fas fa-sticky-note"></i>
                        </button> 
                        {% else %}
                        <button data-url="{% url 'routes:routes_note' item.carrier.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create"  {% if request.user.pk != 10 %}  hidden {% endif %}>
                          <i class="fas fa-sticky-note"></i>
                        </button> 
                        {% endif %}
                        <button data-url="{% url 'carriers:carrier_sendmail' item.carrier.pk 'operative' %}" type="button" class="btn btn-sm btn-warning btn-circle js-create">
                          <i class="fas fa-envelope"></i>
                        </button> 
                        <button data-url="{% url 'carriers:carrier_detail' item.carrier.pk %}" type="button" class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>     
                      </td>
                    </tr>
                    {% endfor %}           
                  </tbody>
              </table>
            </div>
          {% endif %}

          {% if near_routes %}
            {% if carrier_list or routes_list %}
            <hr class="sidebar-divider">
            {% endif %}

          <h6 class="m-0 font-weight-bold text-primary">Rutas cercanas</h6>
          <br>
          <div class="table-responsive small">
            <table class="table table-sm table-bordered dataTable table_list">
              <thead>
                <tr role="row">
                  <th>Viajes</th>
                  <th>Alias</th>
                  <th>Coordinador</th>
                  <th>Equipo</th>
                  <th>Ruta</th>
                  <th>Contacto</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tfoot>
                <tr><th>Viajes</th><th>Alias</th><th>Coordinador</th><th>Equipo</th><th>Ruta</th><th>Contacto</th><th>Acciones</th></tr>
              </tfoot>
              <tbody>
                {% for route in near_routes %}
                  <tr role="row" id="route_{{forloop.counter}}">                     
                    <td class="sorting_1">
                      <button data-url="{% url 'carriers:carrier_routes' route.carrier.pk route.source_path.pk route.target_path.pk %}" type="button" class="btn btn-sm btn-primary js-create"> 
                        {{route.travels}} 
                      </button>
                    </td>
                    <td><strong><a href="#route_{{forloop.counter}}" data-url="{% url 'carriers:carrier_detail' route.carrier.pk %}" class="js-create">{{route.carrier.alias}}</a></strong></td>
                    <td>
                      {% if route.carrier.coordinator %}
                        <button data-url="{% url 'employees:employee_detail' route.carrier.coordinator.pk %}" class="btn btn-sm btn-primary js-create">{{item.carrier.coordinator.first_name}}</button>
                      {% endif %}
                    </td>
                    <td>
                      {% for equipment in route.carrier.equipments.all %}
                        {{equipment}} <br>
                      {% endfor %}
                    </td>
                    <td>{{route.source_path.name}} <i class="fas fa-long-arrow-alt-right"></i> {{route.target_path.name}}</td>
                    <td>
                      <i class="col-sm-2 fas fa-id-card text-gray-600"></i> {{route.carrier.operative_contact.name}}
                      <br>
                      <i class="col-sm-2 fas fa-mobile-alt text-gray-600"></i> {{route.carrier.operative_contact.cellphone}}
                      <br>
                      <i class="col-sm-2 fas fa-phone-alt text-gray-600"></i> {{route.carrier.operative_contact.phone}}
                    </td>
                    <td>
                      {% if request|is_mobile %}
                        {% if route.carrier.operative_contact.cellphone and route.carrier.operative_contact.cellphone != 'nan' %}
                        <a class="btn btn-sm btn-primary btn-circle phone_ref" href="tel:{{route.carrier.operative_contact.cellphone}}"><i class="fas fa-phone"></i></a>
                        {% elif route.carrier.operative_contact.phone and route.carrier.operative_contact.phone != 'nan' %}
                        <a class="btn btn-sm btn-primary btn-circle phone_ref" href="tel:{{route.carrier.operative_contact.phone}}"><i class="fas fa-phone"></i></a>
                        {% endif %}
                      {% endif %}

                      {% if filter_obj.target_path and filter_obj.source_path %}
                      <button data-url="{% url 'routes:routes_note' route.carrier.pk filter_obj.source_path.pk filter_obj.target_path.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create"  {% if request.user.pk != 10 %}  hidden {% endif %}>
                        <i class="fas fa-sticky-note"></i>
                      </button> 
                      {% else %}
                      <button data-url="{% url 'routes:routes_note' route.carrier.pk %}" type="button" class="btn btn-sm btn-success btn-circle js-create"  {% if request.user.pk != 10 %}  hidden {% endif %}>
                        <i class="fas fa-sticky-note"></i>
                      </button> 
                      {% endif %}
                      <button data-url="{% url 'carriers:carrier_sendmail' route.carrier.pk 'operative' %}" type="button" class="btn btn-sm btn-warning btn-circle js-create">
                        <i class="fas fa-envelope"></i>
                      </button> 
                      <button data-url="{% url 'carriers:carrier_detail' route.carrier.pk %}" type="button" class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>     
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div> 
          {% endif %}     
      </div>
    </div>
</div>

<div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
  </div>
</div>

{% endif %}

{% endblock content %}


{% block customjs %}
  <script src="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
  <script src="{{STATIC_URL}}plugins/jquery_ui/jquery-ui.js"></script>
  <script src="{{STATIC_URL}}js/routes.js?1"></script>
{% endblock %}

{% block docready %}
    $( function() {
      $( document ).tooltip();
    } );

    $(".dataTable").DataTable({
      "order": [[ 0, "desc" ]]
    });
    $(".select2").select2({width: '100%'});
    $(".touchspin").TouchSpin({
      min: 0,
      max: 2500,
      step: 10,
      boostat: 5,
      maxboostedstep: 10,
      buttondown_class: 'btn btn-light',
      buttonup_class: 'btn btn-light'
     });

    $("#id_person_type_0").prop("checked", true);
    $("#id_search_type_0").prop("checked", true);

    $(".last_search").on('click', function(){
      var ahref = $(this);
      var source = ahref.attr("data-source");
      var target = ahref.attr("data-target");

      $("#id_source_path").select2('val', source)
      $("#id_target_path").select2('val', target);
    });

{% endblock docready %}