{% load thumbnail %}

<div class="row">
    <div class="col-lg-12">
        <div class="modal-header">
            <h2>Detalle de empleado</h2>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-sm-3 text-center">
                    {% if employee_obj.picture %}
                      {% thumbnail employee_obj.picture '150x150' crop='center' as img %}
                      <a href ="{{employee_obj.picture.url}}" target="_blank"><img src="{{img.url}}" class="rounded-circle img-responsive2"></a>{% endthumbnail %}
                    {% else %}
                      <img class="rounded-circle img-responsive2" src="{{STATIC_URL}}img/user.png">
                    {% endif %}
                </div>

                <div class="col-sm-9">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Empleado
                    </h6>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Nombre: </label>
                                <input id="id_name" class="form-control" value="{{employee_obj.first_name}} {{employee_obj.last_name}}" type="text" name="name" readonly>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" aria-hidden="true">
                                <label> Posicion: </label>
                                <input id="id_positon" class="form-control" value="{{employee_obj.position.title}}" type="text" name="position" readonly>
                            </div>
                        </div>
                        
                        {% if employee_obj.manager %}
                        <div class="col-sm-12">
                            <span>Encargado: </span> 
                            <a href="{% url 'employees:employee_list'%}?filter={{employee_obj.manager}}">{{employee_obj.manager}}</a>
                        </div>
                        {% endif %}
                        {% if employee_obj.zone %}
                            <div class="col-sm-12">
                                <span>Zona: </span> 
                                {{employee_obj.get_zone_display}}
                            </div>
                        {% endif %}
                    </div>
                </div>  
            </div>


            <hr class="sidebar-divider">
            <div class="row">
                <div class="col-sm-6">
                    <label class="h6 m-0 font-weight-bold text-primary">
                        Info
                    </label>
                    <div class="row">
                        <i class="fas fa-calendar text-gray-600 pt-1 mx-3"></i> {{employee_obj.age}} <span class="ml-1">años</span>
                    </div>
                    <div class="row">
                        <i class="fas fa-birthday-cake text-gray-600 pt-1 mx-3"></i> {{employee_obj.birthdate|date:"j \d\e F"}}
                    </div>
                    {% if employee_obj.hiredate %}
                    <div class="row">
                        <i class="fas fa-calendar-plus text-gray-600 pt-1 mx-3"></i> {{employee_obj.hiredate}}
                    </div>
                    {% endif %}
                    <div class="row">
                        <i class="fas fa-dollar-sign text-gray-600 pt-1 mx-3"></i> {{employee_obj.salary}}
                    </div>
                    
                </div>
                <div class="col-sm-6 border-left-primary">
                    <label class="h6 m-0 font-weight-bold text-primary">
                        Contacto
                    </label>
                    <div class="row">
                        <i class="fas fa-phone-alt text-gray-600 mx-3"></i> {{employee_obj.contact.phone}}
                    </div>
                    <div class="row">
                        <i class="fas fa-mobile-alt text-gray-600 mx-3"></i> {{employee_obj.contact.cellphone}}
                    </div>
                    <div class="row">
                        <i class="fas fa-at text-gray-600 mx-3"></i> {{employee_obj.contact.email}}
                    </div>
                </div>
            
            </div>

            {% if employee_obj.coordinator.all|length %}
            <hr>
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive table-sm">
                        <table class="table table-striped table-bordered table-hover table_list" >
                            <thead>
                                <tr>
                                    <th> # </th> 
                                    <th> Alias </th>
                                    <th> Direccion TRT</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for coordinated in employee_obj.coordinator.all %}
                                
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{coordinated.alias}}</td>
                                <td>
                                    {{coordinated.city}}, {{coordinated.region}}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    
        <div class="modal-footer">
            <div class="col-sm-12">
                <div class="form-group text-right">                
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</div>