{% extends 'base.html' %}

{% block subtitle %}Empleado{% endblock subtitle %}

{% block header %}Lista de empleados{% endblock header %}

{% block headerbutton %}
<div>
    {% with perm='can_add_'|add:app_name %}   
        {% if perm in permissions or user.is_superuser %}
        <a href="{% url 'employees:employee_add' %}" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Agregar Empleado</a>
        {% endif %}
    {% endwith %}
    <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-secondary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Regresar</span>
    </a>
</div>
{% endblock headerbutton %}

         
{% block subheader %}{% endblock subheader %}

{% block customcss %}
  
{% endblock customcss %}

{% block content %}

{% load user_agents %}
{% load thumbnail %}

<div class="col-xl-12">
    <div id='myChart'></div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Buscar empleados..">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <input type="text" id="filter_rol" class="form-control" onkeyup="filterRol()" placeholder="Buscar x rol..">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <input type="text" id="filter_manager" class="form-control" onkeyup="filterManager()" placeholder="Buscar x encargado..">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <input type="text" id="filter_zone" class="form-control" onkeyup="filterZone()" placeholder="Buscar x zona..">
            </div>
        </div>
    </div>
    <div class="row" id="employees">
    {% for employee in employee_list %}
    <!-- <div class="col-xl-3 col-md-6 mb-4"> -->
        <div class="col-xl-6 cards-col">
            <div class="card shadow table_list mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Empleado</h6>
                    <div>
                        <button data-url="{% url 'employees:employee_detail' employee.pk %}" type="button" class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>     
                        {% with perm='can_edit_'|add:app_name %}   
                            {% if perm in permissions or user.is_superuser %}
                            <a href="{% url 'employees:employee_edit' employee.pk %}" class="btn btn-sm btn-warning btn-circle">
                                <i class="fas fa-edit"></i>
                            </a>
                            {% endif %}
                        {% endwith %}
                        {% with perm='can_delete_'|add:app_name %}   
                            {% if perm in permissions or user.is_superuser %}
                            <button data-url="{% url 'employees:employee_delete' employee.pk %}" title="Eliminar" class="btn btn-sm btn-danger btn-circle js-view-delete">
                                <i class="fa fa-trash"></i>
                            </button>
                            {% endif %}
                        {% endwith %}
                    </div>
                
                </div>
                <div class="card-body">
                    
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h6 mb-0 font-weight-bold text-gray-800">{{employee.first_name}} {{employee.last_name}}</div>
                            <div class="rol">{{employee.position.title}}</div>
                            <div class="manager">
                            {% if employee.manager %}
                            
                                <span>Encargado: </span> 
                                <a href="{% url 'employees:employee_list'%}?filter={{employee.manager}}">{{employee.manager}}</a>
                            {% endif %}
                            </div>
                            <div class="zone">
                            {% if employee.zone %}
                                <span>Zona: </span> 
                                {{employee.get_zone_display}}
                                {% if employee.zone == 'north' %}
                                <span style="background: {{zones.north.mouse_over_color}};" class="mx-3 px-4"> </span>
                                {% elif employee.zone == 'center' %}
                                <span style="background: {{zones.center.mouse_over_color}};" class="mx-3 px-4"> </span>
                                {% elif employee.zone == 'southeast' %}
                                <span style="background: {{zones.southeast.mouse_over_color}};" class="mx-3 px-4"> </span>
                                {% elif employee.zone == 'pacific' %}
                                <span style="background: {{zones.pacific.mouse_over_color}};" class="mx-3 px-4"> </span>
                                {% elif employee.zone == 'occident' %}
                                <span style="background: {{zones.occident.mouse_over_color}};" class="mx-3 px-4"> </span>
                                {% endif %}
                                
                            {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                        {% if employee.picture %}
                            {% thumbnail employee.picture '75x75' crop='center' as img %}<img src="{{img.url}}" class="rounded-circle">{% endthumbnail %}
                        {% else %}
                            <img class="rounded-circle" width="75" src="{{STATIC_URL}}img/user.png">
                        {% endif %}
                        </div>
                        <div class="col-sm-12">
                            <hr class="sidebar-divider">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="h6 m-0 font-weight-bold text-primary">
                                        Info
                                    </label>
                                    <div class="row">
                                        <i class="fas fa-calendar text-gray-600 pt-1 mx-3"></i> {{employee.age}} <span class="ml-1">años</span>
                                    </div>
                                    <div class="row">
                                        <i class="fas fa-birthday-cake text-gray-600 pt-1 mx-3"></i> {{employee.birthdate|date:"j \d\e F"}}
                                    </div>
                                    {% if employee.hiredate %}
                                    <div class="row">
                                        <i class="fas fa-calendar-plus text-gray-600 pt-1 mx-3"></i> {{employee.hiredate}}
                                    </div>
                                    {% endif %}
                                    <div class="row">
                                        <i class="fas fa-dollar-sign text-gray-600 pt-1 mx-3"></i> {{employee.salary}}
                                    </div>
                                    
                                </div>
                                <div class="col-sm-6 border-left-primary">
                                    <label class="h6 m-0 font-weight-bold text-primary">
                                        Contacto
                                    </label>
                                    <div class="row">
                                        <i class="fas fa-id-card text-gray-600 pt-1 mx-3"></i> <strong>{{employee.contact.name}}</strong>
                                    </div>
                                    <div class="row">
                                        <i class="fas fa-phone-alt text-gray-600 pt-1 mx-3"></i> {{employee.contact.phone}}
                                    </div>
                                    <div class="row">
                                        <i class="fas fa-mobile-alt text-gray-600 pt-1 mx-3"></i> {{employee.contact.cellphone}}       
                                    </div>
                                    <div class="row">
                                        <button data-url="{% url 'employees:employee_sendmail' employee.pk %}" type="button" class="btn btn-sm btn-primary btn-icon-split mx-1 js-create">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                            <span class="text">Enviar mensaje</span>
                                        </button> 
                                        {% if request|is_mobile %}
                                            {% if employee.contact.cellphone %}
                                            <a class="btn btn-sm btn-primary rounded-circle" href="tel:{{employee.contact.cellphone}}"><i class="fa fa-phone"></i></a>
                                            {% elif employee.contact.phone %}
                                            <a class="btn btn-sm btn-primary rounded-circle" href="tel:{{employee.contact.phone}}"><i class="fa fa-phone"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!-- </div> -->
      {% endfor %}
    </div>
</div>
<div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock content %}

{% block customjs %}
<script src="{{STATIC_URL}}plugins/zingchart/zingchart.min.js"></script>
<script>
    function myFunction() {
        var input, filter, cards, cardContainer, h5, title, i;
        input = document.getElementById("myFilter");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("employees");
        cards = cardContainer.getElementsByClassName("cards-col");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-body div.h6");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
    function filterRol() {
        var input, filter, cards, cardContainer, h5, title, i;
        input = document.getElementById("filter_rol");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("employees");
        cards = cardContainer.getElementsByClassName("cards-col");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-body div.rol");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
    function filterManager() {
        var input, filter, cards, cardContainer, h5, title, i;
        input = document.getElementById("filter_manager");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("employees");
        cards = cardContainer.getElementsByClassName("cards-col");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-body div.manager");
            if(title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
    function filterZone() {
        var input, filter, cards, cardContainer, h5, title, i;
        input = document.getElementById("filter_zone");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("employees");
        cards = cardContainer.getElementsByClassName("cards-col");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-body div.zone");
            if(title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>
<script>
    zingchart.MODULESDIR="{{STATIC_URL}}plugins/zingchart/modules/";
    zingchart.loadModules('maps, maps-mex', function(e) {
    zingchart.render({
        id: 'myChart',
        data: {
          legend: {
            "toggle-action": "none",
            "y": 0,
            "border-width": 0,
            "background-color": "none",
            "marker": {
                "type": "rectangle",
                "width": 20,
                "height": 10,
            },
            "item": {
                "font-size": 16
            }
          },
          series: [ // render legend items
            {
                "legend-item": {
                "text": "Pacifico"
                },
                "legend-marker": {
                "background-color": "{{zones.pacific.mouse_over_color}}",
                }
            },
            {
                "legend-item": {
                "text": "Norte"
                },
                "legend-marker": {
                "background-color": "{{zones.north.mouse_over_color}}",
                }
            },
            {
                "legend-item": {
                "text": "Bajio"
                },
                "legend-marker": {
                "background-color": "{{zones.center.mouse_over_color}}",
                }
            },
            {
                "legend-item": {
                "text": "Sureste"
                },
                "legend-marker": {
                "background-color": "{{zones.southeast.mouse_over_color}}",
                }
            },
            {
                "legend-item": {
                "text": "Occidente"
                },
                "legend-marker": {
                "background-color": "{{zones.occident.mouse_over_color}}",
                }
            }
          ],
          shapes: [{
            type: 'zingchart.maps',
            options: {
              name: 'mex',
              style: {
                items: {
                  {% for region in zones.southeast.regions %}
                    '{{region}}': {
                        group:1,
                        backgroundColor: '{{zones.southeast.color}}',
                        hoverState: {
                            backgroundColor: '{{zones.southeast.mouse_over_color}}'
                        }
                    },
                  {% endfor %}
                  {% for region in zones.north.regions %}
                    '{{region}}': {
                        group:2,
                        backgroundColor: '{{zones.north.color}}',
                        hoverState: {
                            backgroundColor: '{{zones.north.mouse_over_color}}'
                        }
                    },
                  {% endfor %}
                  {% for region in zones.center.regions %}
                    '{{region}}': {
                        group:3,
                        backgroundColor: '{{zones.center.color}}',
                        hoverState: {
                            backgroundColor: '{{zones.center.mouse_over_color}}'
                        }
                    },
                  {% endfor %}
                  {% for region in zones.pacific.regions %}
                    '{{region}}': {
                        group:4,
                        backgroundColor: '{{zones.pacific.color}}',
                        hoverState: {
                            backgroundColor: '{{zones.pacific.mouse_over_color}}'
                        }
                    },
                  {% endfor %}
                  {% for region in zones.occident.regions %}
                    '{{region}}': {
                        group:5,
                        backgroundColor: '{{zones.occident.color}}',
                        hoverState: {
                            backgroundColor: '{{zones.occident.mouse_over_color}}'
                        }
                    },
                  {% endfor %}
                },
                tooltip: {
                  alpha: 0.5,
                  backgroundColor: 'white',
                  borderColor: 'white',
                  borderRadius: 3,
                  fontColor: 'black',
                  fontFamily: 'Georgia',
                  fontSize: 12,
                  textAlpha: 1
                }
              }
            }
          }]
        },
        height: 400,
        width: '100%'
      });
    });

    zingchart.shape_click = function(e) {
      console.log(e);
 
    //   zingchart.exec(e.id, 'updateobject', {
    //     type: 'shape',
    //     data: {
    //       id: e.shapeid,
    //       backgroundColor: 'red',
    //       label: {
    //         fontColor: 'white'
    //       }
    //     }
    //   });
    };
</script>
{% endblock customjs %}

{% block docready %}

    {% if filter %}
        $("#myFilter").val('{{filter}}');
        myFunction();
    {% endif %}

{% endblock docready %}