{% extends 'base.html' %}

{% block subtitle %}Empleados{% endblock subtitle %}

{% block header %} {% if employee_obj %} Editar {% else %} Agregar {% endif %} Empleado {% endblock header %}

{% block headerbutton %}
  <a href="{% url 'employees:employee_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block customcss %}

<style>
    #id_birthdate_day {
        width: 19%;
    }
    #id_birthdate_year {
        width: 30%;
    }
    #id_birthdate_month {
        width: 50%;
    }
    #id_hiredate_day {
        width: 19%;
    }
    #id_hiredate_year {
        width: 30%;
    }
    #id_hiredate_month {
        width: 50%;
    }
</style>
{% endblock customcss %}

{% block content %}
<div class="col-lg-12">
    <form role="form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'core/snippets/form_messages.html' with form=employee_form %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Empleado</h6>
            </div>
            <div class="card-body">
                {% if employee_form.errors %}
                <div class="alert alert-warning">
                    <button class="close" data-close="alert"></button><i class="icon fa fa-warning"></i> Tiene algunos errores. Favor de verificarlos
                </div>
                {% endif %}
            
                <div class="row">
                    <div class="col-xl-8">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="{{employee_form.first_name.label}}">{{employee_form.first_name.label}}</label>
                                    {{employee_form.first_name}}
                                    {% for error in employee_form.first_name.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="{{employee_form.last_name.label}}">{{employee_form.last_name.label}}</label>
                                    {{employee_form.last_name}}
                                    {% for error in employee_form.last_name.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{employee_form.birthdate.label}}">{{employee_form.birthdate.label}}</label>
                                    <br>
                                    {{employee_form.birthdate}}
                                    {% for error in employee_form.birthdate.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{employee_form.position.label}}">{{employee_form.position.label}}</label>
                                    {{employee_form.position}}
                                    {% for error in employee_form.position.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{employee_form.hiredate.label}}">{{employee_form.hiredate.label}}</label>
                                    <br>
                                    {{employee_form.hiredate}}
                                    {% for error in employee_form.hiredate.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{employee_form.salary.label}}">{{employee_form.salary.label}}</label>
                                    {{employee_form.salary}}
                                    {% for error in employee_form.salary.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="{{employee_form.manager.label}}">{{employee_form.manager.label}}</label>
                                    {{employee_form.manager}}
                                    {% for error in employee_form.manager.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="{{employee_form.zone.label}}">{{employee_form.zone.label}}</label>
                                    {{employee_form.zone}}
                                    {% for error in employee_form.zone.errors %}
                                        <span class='help-block has-error help-block-error'>{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="{{employee_form.picture.label}}">{{employee_form.picture.label}}</label>
                                <br>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                  <span class="btn btn-sm btn-primary btn-file"><span class="fileinput-new">Subir imagen</span>
                                  <span class="fileinput-exists">Cambiar</span>{{employee_form.picture}}</span>
                                  <span class="fileinput-filename"></span>
                                  <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                </div> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="border-left-primary">
                                
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="{{contact_form.email.label}}">{{contact_form.email.label}}</label>
                                        {{contact_form.email}}
                                        {% for error in contact_form.email.errors %}
                                            <span class='help-block has-error help-block-error'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="{{contact_form.phone.label}}">{{contact_form.phone.label}}</label>
                                        {{contact_form.phone}}
                                        {% for error in contact_form.phone.errors %}
                                            <span class='help-block has-error help-block-error'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="{{contact_form.cellphone.label}}">{{contact_form.cellphone.label}}</label>
                                        {{contact_form.cellphone}}
                                        {% for error in contact_form.cellphone.errors %}
                                            <span class='help-block has-error help-block-error'>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>   
                    {% if request.user.is_superuser %}
                    <div class="col-sm-12">
                        <hr>
                        <div class="form-group">
                            <label for="{{employee_form.user.label}}">{{employee_form.user.label}}</label>
                            {{employee_form.user}}
                            {% for error in employee_form.user.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>  
                    {% endif %}
                </div>            
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 text-right">                        
                        <button class="btn btn-sm btn-success" type="submit">Guardar</button>
                        <a href="{% url 'employees:employee_list' %}" class="btn btn-sm btn-white">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content%}

{% block customjs %}
{% endblock customjs %}

{% block docready %}
    {% include 'core/snippets/messages_error.html' with form=employee_form %}
    {% include 'core/snippets/form_validation.html' with form=employee_form%}

    $(".select2").select2();

{% endblock docready %}