{% extends 'base.html' %}
{% load thumbnail %}

{% block subtitle %}Seguridad{% endblock subtitle %}

{% block header %}Cambiar contraseña{% endblock header %}
 
{% block subheader %}{% endblock subheader %}

{% block customcss %}

{% endblock customcss %}

{% block content %}
<div class="col-xl-12">
    <div class="card shadow mb-4">
        <form id="form" method="post">
            {% csrf_token %}
            {% include 'core/snippets/form_messages.html' with form=group_form %}

            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Contraseña</h6>
                <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Opciones:</div>
                    <a class="dropdown-item" href="#">Ver en mosaicos</a>
                </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label id="{{change_password_form.old_password.label}}">{{change_password_form.old_password.label}}</label> 
                                    {{ change_password_form.old_password }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <ul>
                                    <li>Su contraseña no puede ser muy similar a su otra información personal.</li>
                                    <li>Su contraseña es muy corta. Debe contener al menos 8 caracteres.</li>
                                    <li>Su contraseña no puede ser una contraseña de uso común.</li>
                                    <li>Su contraseña no puede ser completamente numérica.</li>
                                  </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label id="{{change_password_form.new_password1.label}}">{{change_password_form.new_password1.label}}</label> 
                                    {{ change_password_form.new_password1 }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label id="{{change_password_form.new_password2.label}}">{{change_password_form.new_password2.label}}</label> 
                                    {{ change_password_form.new_password2 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 text-right"> 
                        <button class="btn btn-sm btn-success" type="submit">Guardar</button>           
                        <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-white">Cancelar</a>
                    </div>
                </div>
            </div>
            
            
          </form>
      </div>
    </div>
</div>

{% endblock content %}

{% block docready %}
    {% include 'core/snippets/form_validation.html' with form=change_password_form %}
    {% include 'core/snippets/messages_error.html' with form=change_password_form %}

    var inputs = document.getElementById("form").getElementsByTagName('input');
    for (var i=0; i < inputs.length; i++) {
        inputs[i].className = 'form-control';
    }

{% endblock docready %}