{% extends 'base.html' %}
{% load thumbnail %}

{% block subtitle %}Perfil{% endblock subtitle %}

{% block header %}Perfil{% endblock header %}

{% block subheader %}{% endblock subheader %}

{% block customcss %}

{% endblock customcss %}

{% block content %}
<div class="col-xl-4 col-md-6 pb-2">
  <div class="card shadow text-center">
    <div class="card-header d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Información de Perfil</h6>
    </div>
    <div class="row">
      <div class="col-sm-12 py-2">
        {% if request.user.avatar %}
          {%   thumbnail request.user.avatar '70x70' crop='center' as img %}
            <img class="rounded-circle" src="{{img.url}}" alt="{{request.user.get_short_name}}">
          {% endthumbnail %}
        {% else %}
          <img src="{{STATIC_URL}}img/user.png" class="rounded-circle" width="80" height="80" alt="{{request.user.get_full_name}}">
        {% endif %}
      </div>
    </div>
      <h3 class="m-b-xs"><strong>{{request.user.get_full_name}}</strong></h3>
      <div class="font-bold">{{request.user.user_type.name}}</div>
      <address class="m-t-md">
        <i class="fa fa-calendar"></i> Registrado desde: <strong>{{request.user.created|date:"F Y"}}</strong><br>
        {% if request.user.phone %}
        <abbr title="Phone"><i class="fa fa-phone-alt"></i></abbr> {{request.user.phone}}
        {% endif %}
      </address>
      <div class="contact-box-footer mb-2">
          <div class="btn-group">
            {% if request.user.facebook %}
            <a class="btn btn-primary btn-circle" {% if request.user.facebook %} href="https://www.facebook.com/{{request.user.facebook}}" target="_blank"{% else %} href="#"{% endif %}><i class="fab fa-facebook-f"></i></a>
            {% endif %}
            <!--
            <a class="btn btn-sm btn-twitter" {% if request.user.twitter %} href="https://www.twitter.com/{{request.user.twitter}}" target="_blank"{% else %} href="#"{% endif %}><i class="fab fa-twitter-f fa-fw"></i> Twitter</a>
            -->
          </div>
      </div>
  </div>
</div>

<div class="col-xl-8 col-md-6 pb-2">
  <div class="card shadow">
    <form role="form" method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% include 'core/snippets/form_messages.html' with form=profile_form %}
      <div class="card-header d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Perfil</h6>
      </div>
      <!-- Card Header - Dropdown -->
      <!-- Card Body -->
      <div class="card-body">
        <div class="row">
          <div class=col-sm-6>
              <label for={{profile_form.email.label}}>{{profile_form.email.label}}</label>
              {{profile_form.email}}
          </div>
          <div class=col-sm-6>
              <label for={{profile_form.phone.label}}>{{profile_form.phone.label}}</label>
              {{profile_form.phone}}
          </div>
          <div class=col-sm-6>
              <label for={{profile_form.first_name.label}}>{{profile_form.first_name.label}}</label>
              {{profile_form.first_name}}
          </div>
          <div class=col-sm-6>
              <label for={{profile_form.last_name.label}}>{{profile_form.last_name.label}}</label>
              {{profile_form.last_name}}
          </div>
          <div class="col-sm-6">
              <label for="{{profile_form.facebook.label}}">{{profile_form.facebook.label}}</label>
              {{profile_form.facebook}}
          </div>
          <div class="col-sm-6">
              <label for="{{profile_form.avatar.label}}">{{profile_form.avatar.label}}</label>
              <br>
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-sm btn-primary btn-file"><span class="fileinput-new">Subir imagen</span>
                <span class="fileinput-exists">Cambiar</span>{{profile_form.avatar}}</span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
              </div> 
          </div>
        </div>        
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-12 text-right">
            <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-light">Cancelar</a>
            <button class="btn btn-sm btn-success" type="submit">Guardar</button>
          </div>
        </div>
      </div>
    </form>
  </div> 
</div>
{% endblock %}

{% block docready %}
   {% include 'core/snippets/messages_error.html' with form=profile_form %}
   {% include 'core/snippets/form_validation.html' with form=profile_form %}
{% endblock %}






