<form method="POST" action="" class="create-form" autocomplete="off">{% csrf_token %}
    <div class="modal-header">
        <h2>{% if position_obj %} Editar {% else %} Agregar {% endif %} posicion</h2>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            {% if position_form.errors %}
            <div class="alert alert-warning">
                <button class="close" data-close="alert"></button><i class="icon fa fa-warning"></i> Tiene algunos errores. Favor de verificarlos 
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group{% if position_form.title.errors %} has-error{% endif %}">
                  <label for="{{position_form.title.label}}">{{position_form.title.label}}</label> 
                  {{position_form.title}}
                  {% for error in position_form.title.errors %}
                    <span class='help-block has-error help-block-error'>{{error}}</span>
                  {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group{% if position_form.description.errors %} has-error{% endif %}">
                  <label for="{{position_form.description.label}}">{{position_form.description.label}}</label> 
                  {{position_form.description}}
                  {% for error in position_form.description.errors %}
                    <span class='help-block has-error help-block-error'>{{error}}</span>
                  {% endfor %}
                </div>
            </div>
        </div>
        
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-success">Guardar</button>
        <button type="button" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</button>
        
    </div>
</form>