{% extends 'base.html' %}

{% block subtitle %}Posicion{% endblock subtitle %}

{% block header %}Lista de posiciones{% endblock header %}

{% block headerbutton %}
  <div>
    {% with perm='can_add_'|add:app_name %}   
      {% if perm in permissions or user.is_superuser %}
      <button data-url="{% url 'position:position_add' %}" type="button" class="btn btn-sm btn-primary js-create"><i class="fas fa-plus text-white-50"></i> Agregar Posicion</button>
      {% endif %}
    {% endwith %}
    <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-secondary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Regresar</span>
    </a>
  </div>
{% endblock headerbutton %}

         
{% block subheader %}{% endblock subheader %}

{% block customcss %}
  
{% endblock customcss %}

{% block content %}

{% load thumbnail %}

<div class="col-xl-12">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Posiciones</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Opciones:</div>
              <a class="dropdown-item" href="#">Ver en mosaicos</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive small">
            <table class="table table-striped" id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                <thead>
                  <tr role="row"><th>Título</th><th>Descripcion</th><th>Acciones</th></tr>
                </thead>
                <tfoot>
                  <tr><th>Título</th><th>Descripcion</th><th>Acciones</th></tr>
                </tfoot>
                <tbody>
                  {% for position in position_list %}
                      <tr role="row">                     
                        <td class="sorting_1"><strong>{{position.title}}</strong></td>
                        <td>{{position.description}}</td>
                        <td>
                          {% with perm='can_edit_'|add:app_name %}   
                            {% if perm in permissions or user.is_superuser %}
                            <button data-url="{% url 'position:position_edit' position.pk%}" type="button" class="btn btn-sm btn-warning btn-circle js-create">
                              <i class="fas fa-edit"></i>
                            </button>
                            {% endif %}
                          {% endwith %}
                          {% with perm='can_delete_'|add:app_name %}   
                            {% if perm in permissions or user.is_superuser %}
                            <button data-url="{% url 'position:position_delete' position.pk %}" title="Eliminar" class="btn btn-sm btn-danger btn-circle js-view-delete">
                              <i class="fa fa-trash"></i>
                            </button>
                            {% endif %}
                          {% endwith %}
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>



<div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
  </div>
</div>

{% endblock content %}


{% block docready %}
  $("#dataTable").DataTable();
{% endblock docready %}