{% load thumbnail %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<script src="{{STATIC_URL}}js/carrier_detail.js?1"></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet'/>

<div class="row">
    <div class="col-lg-12">
        <div class="modal-header">
            <h2>Detalle de transportista</h2>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-9">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Info
                    </h6>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> Alias: </label>
                                <input id="id_alias" class="form-control" value="{{carrier_obj.alias}}" type="text" name="alias" readonly>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" aria-hidden="true">
                                <label> Razon social: </label>
                                <input id="id_business_name" class="form-control" value="{{carrier_obj.business_name}}" type="text" name="business_name" readonly>
                            </div>
                        </div>
                        {% if carrier_obj.coordinator %}
                            <div class="col-sm-12">
                                <span>Coordinador: </span> 
                                <a href="{% url 'employees:employee_list'%}?filter={{carrier_obj.coordinator}}" target="_blank">{{carrier_obj.coordinator}}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-3 text-center">
                    {% if carrier_obj.picture %}
                      {% thumbnail carrier_obj.picture '150x150' crop='center' as img %}<a href ="{{carrier_obj.picture.url}}" target="_blank"><img src="{{img.url}}" class="rounded-circle img-responsive2"></a>{% endthumbnail %}
                    {% else %}
                      <img class="rounded-circle img-responsive2" src="{{STATIC_URL}}img/user.png">
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <hr class="sidebar-divider">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Rutas de interes
                    </h6>

                    <div class="text-center">
                        {% if carrier_obj.is_national %}
                            {{carrier_obj.base_city}}<i class="fa fa-long-arrow-alt-right"></i>A toda la republica
                        {% else %}
                            {% if interest_routes%}
                                {% for route in interest_routes %}
                                    <label>{{route.source_path}} - {{route.source_path.region}}</label>
                                    <i class="fa fa-long-arrow-alt-right"></i>
                                    <label>{{route.target_path}} - {{route.target_path.region}}</label>
                                    <br>
                                {% endfor %}
                    
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <hr class="sidebar-divider">
                <div class="row">
                    <div class="col-sm-6 border-left-primary">
                        <label class="h6 m-0 font-weight-bold text-primary">
                            Contacto administrativo
                        </label>
                        <div class="row">
                            <i class="fas fa-id-card text-gray-600 mx-3"></i> {{carrier_obj.administrative_contact.name}}
                        </div>
                        <div class="row">
                            <i class="fas fa-phone-alt text-gray-600 mx-3"></i> {{carrier_obj.administrative_contact.phone}}
                        </div>
                        <div class="row">
                            <i class="fas fa-mobile-alt text-gray-600 mx-3"></i> {{carrier_obj.administrative_contact.cellphone}}
                        </div>
                        <div class="row">
                            <i class="fas fa-at text-gray-600 mx-3"></i> {{carrier_obj.administrative_contact.email}}
                        </div>
                    </div>
                    
                    <!-- Contacto operativo -->
                    <div class="col-sm-6 border-left-info">
                        <label class="h6 m-0 font-weight-bold text-primary">
                            Contacto operativo
                        </label>
                        <div class="row">
                            <i class="fas fa-id-card text-gray-600 mx-3"></i> {{carrier_obj.operative_contact.name}}
                        </div>
                        <div class="row">
                            <i class="fas fa-phone-alt text-gray-600 mx-3"></i> {{carrier_obj.operative_contact.phone}}        
                        </div>
                        <div class="row">
                            <i class="fas fa-mobile-alt text-gray-600 mx-3"></i> {{carrier_obj.operative_contact.cellphone}}       
                        </div>
                        <div class="row">
                            <i class="fas fa-at text-gray-600 mx-3"></i> {{carrier_obj.operative_contact.email}}                            
                        </div>
                    </div>  

                </div>
                {% include 'core/snippets/modal_mail.html'  with form=mail_form %}
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <hr class="sidebar-divider">
                    <div class="row">
                        <div class="col-sm-5">
                            <div id='map' style="height: 200px;"></div>
                            {% if carrier_obj.postal_code %}
                            <script>
                                
                                var _address = '{{carrier_obj.address}}'.replace(/ /g, '%20');
                                var address = _address.replace('#', '%23')
                                $.ajax({
                                    url: 'https://api.mapbox.com/geocoding/v5/mapbox.places/{{carrier_obj.postal_code}}%2C%20Mexico.json?access_token={{map_token}}',
                                    type: 'GET',
                                    success: function(data) {
                                        coordinates = data.features[0].geometry.coordinates;

                                        mapboxgl.accessToken = '{{map_token}}';
                                        var map = new mapboxgl.Map({
                                            container: 'map',
                                            center: coordinates,
                                            zoom: 7,
                                            style: 'mapbox://styles/mapbox/streets-v11'
                                        });
                                        var marker = new mapboxgl.Marker({
                                            draggable: false
                                        }).setLngLat(coordinates).addTo(map);
                                        map.addControl(new mapboxgl.NavigationControl());
                                    ;}
                                });
                            </script>
                            {% endif %}
                        </div>
                        <div class="col-sm-7">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" aria-hidden="true">
                                        <label> Direccion: </label>
                                        <input id="id_address" class="form-control" value="{{carrier_obj.address}}" type="text" name="address" readonly>
                                    </div>
                                </div> 
                                <div class="col-sm-6">
                                    <div class="form-group" aria-hidden="true">
                                        <label> Ciudad: </label>
                                        <input id="id_city" class="form-control" value="{{carrier_obj.city}}" type="text" name="city" readonly>
                                    </div>
                                </div> 
                                <div class="col-sm-6">
                                    <div class="form-group" aria-hidden="true">
                                        <label> Estado: </label>
                                        <input id="id_region" class="form-control" value="{{carrier_obj.region}}" type="text" name="region" readonly>
                                    </div>
                                </div> 
                                <div class="col-sm-6">
                                    <div class="form-group" aria-hidden="true">
                                        <label> Codigo postal: </label>
                                        <input id="id_postal_code" class="form-control" value="{{carrier_obj.postal_code}}" type="text" name="postal_code" readonly>
                                    </div>
                                </div> 
                            </div>  
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <hr class="sidebar-divider">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Equipos
                    </h6>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-stripped">
                                <thead>
                                <tr>
                                    <th class="col-md-9">Equipo</th>
                                    <th class="col-md-3">Cantidad</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if equipments%}
                                    {% for equipment in equipments %}
                                    <tr>
                                        <td>{{equipment.equipment__name}}</td>
                                        <td>{{equipment.quantity}}</td>

                                    </tr>
                                    {% endfor %}
                        
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        {% if documents_list %}
        <div class="row">
            <div class="col-sm-12">
                <h6 class="m-0 font-weight-bold text-primary">
                    Documentos
                </h6>
            
                <ul class="list-group">
                    {% for document in documents_list %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-8">
                                    {{document.title}}
                                </div>
                                <div class="col-sm-4 text-right">
                                    <span class="btn btn-sm btn-primary btn-file fileinput-new">                                        
                                        <a href="{{document.file.url}}" target="_blank" style="text-decoration:none; color:white;"><i class="fa fa-eye"></i> Ver</a>
                                    </span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            <br> 
            </div>
        </div>
        {% endif %}

        </div>
    
        <div class="modal-footer">
            <div class="col-sm-12">
                <div class="form-group text-right">                
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</div>
