<div class="modal-header">
    <h2>Viajes</h2>
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-sm table-bordered dataTable table_list" id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                <thead>
                  <tr role="row"><th>Fecha</th><th>Cliente</th><th>Ruta</th><th>Transportista</th></tr>
                </thead>
                <tfoot>
                  <tr><th>Fecha</th><th>Cliente</th><th>Ruta</th><th>Transportista</th></tr>
                </tfoot>
                <tbody>
                  {% for item in routes_list %}
                  <tr role="row">                     
                    <td><strong>{{item.date}}</strong></td>
                    <td>{{item.customer.alias}}                    </td>
                    <td>{{item.source.name}} <i class="fas fa-long-arrow-alt-right"></i> {{item.target.name}}</td>
                    <td>{{item.carrier.alias}}</td>
                  </tr>
                  {% endfor %}           
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-white" data-dismiss="modal">Cerrar</button>
    
</div>