{% extends 'base.html' %}

{% block subtitle %}Fletes{% endblock subtitle %}

{% block header %}Lista de fletes{% endblock header %}

{% block headerbutton %}
  <div>
    {% with perm='can_add_'|add:app_name %}   
      {% if perm in permissions or user.is_superuser %}
      <a href="{% url 'freight:freight_add' %}" class="btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus text-white-50"></i> Agregar flete</a>
      {% endif %}
    {% endwith %}
    <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-secondary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Regresar</span>
    </a>
  </div>
{% endblock headerbutton %}

         
{% block subheader %}{% endblock subheader %}

{% block customcss %}
  
{% endblock customcss %}

{% block content %}

{% load thumbnail %}
<div class="col-sm-12">
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Fletes (Mensual)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {% if freight_info.count_month%}
                  {{freight_info.count_month.earnings}}
                {% else %}
                  0
                {% endif %}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-receipt fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Ganancias (Mensual)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {% if freight_info.earnings_month%}
                  ${{freight_info.earnings_month.earnings}}
                {% else %}
                  $0
                {% endif %}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Fletes (Anual)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{freight_info.count_year.earnings}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-receipt fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Ganancias (Anual)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">${{freight_info.earnings_year.earnings}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <!-- Informacion del cliente -->
    <div class="col-xl-4 col-lg-5">
      <div class="tab-content">
      {% for freight in freight_list %}
        <div id="info-{{forloop.counter}}" class="tab-pane {% if forloop.counter == 1 %}active {%endif%}">
          <div class="card shadow table_list mb-4">
            <div class="card-header d-flex flex-row justify-content-between">
                <div class="h6 m-0 font-weight-bold text-primary">Informacion</div>
                <div>
                  <!-- <button id="btn_detail" data-url="{% url 'freight:freight_detail' freight.pk %}" type="button" class="btn btn-sm btn-info btn-circle js-create"><i class="fas fa-info-circle"></i></button>      -->
                  {% with perm='can_edit_'|add:app_name %}   
                    {% if perm in permissions or user.is_superuser %}
                    <a href="{% url 'freight:freight_edit' freight.pk %}" class="btn btn-sm btn-warning btn-circle">
                      <i class="fas fa-edit"></i>
                    </a>
                    {% endif %}
                  {% endwith %}
                  {% with perm='can_delete_'|add:app_name %}   
                    {% if perm in permissions or user.is_superuser %}
                    <button data-url="{% url 'freight:freight_delete' freight.pk %}" title="Eliminar" class="btn btn-sm btn-danger btn-circle js-view-delete">
                      <i class="fa fa-trash"></i>
                    </button>
                    {% endif %}
                  {% endwith %}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-7">

                        <h5>{{freight.title}}</h5>
                        
                    </div>
                    <div class="col-sm-5 lead text-right">
                      <strong>$ {{freight.cost}}</strong>
                    </div>
                </div>

                <!-- Ruta -->
                <div  class="col-sm-12 border-left-warning mb-2">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Ruta
                    </h6>
                    <div>
                    {{freight.source_path}}
                     <i class="fas fa-long-arrow-alt-right"></i> 
                     {{freight.target_path}}
                    </div>  
                </div>
                
                <!-- Carga -->
                <div  class="col-sm-12 border-left-info mb-2">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Carga
                    </h6>
                    <div class="justify-content-between">
                        {{freight.commodity.name}}
                        {% if freight.commodity.picture %}
                          {% thumbnail freight.commodity.picture '48x48' crop='center' as img %}
                            <img src="{{img.url}}" class="rounded-circle" alt="Mercancia">
                          {% endthumbnail %}
                        {% else %}
                          <img src="{{STATIC_URL}}/img/commodity.png" class="rounded-circle" width="48" height="48" alt="Mercancia">              
                        {% endif %}
                    </div>
                    <div>
                      <i class="fas fa-weight-hanging mr-3"></i>{{freight.commodity_amount}} <span>&nbspToneladas</span>
                    </div>
                    <div>
                      <i class="fas fa-truck mr-2"></i> {{freight.equipment.equipment}}
                        
                    </div>
                </div>

                <!-- Detalles -->
                <div  class="col-sm-12 border-left-success mb-2">
                  <h6 class="m-0 font-weight-bold text-primary">
                      Detalles
                  </h6>
                  <div>
                    {{freight.note}}
                  </div>  
                </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Fletes</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Opciones:</div>
              <a class="dropdown-item" href="#">Ver en mosaicos</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive small">
            <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" cellspacing="0">
                <thead>
                  <tr role="row">
                    <th>Fecha</th><th>Cliente</th><th>Transportista</th><th>Carga</th></tr>
                </thead>
                <tfoot>
                  <tr><th>Fecha</th><th>Cliente</th><th>Transportista</th><th>Carga</th></tr>
                </tfoot>
                <tbody>
                  {% for freight in freight_list %}
                      <tr role="row">                     
                        <td class="sorting_1"><a class="freight-link" href="#info-{{forloop.counter}}"><strong>{{freight.created | date:"d / F / Y" }}</strong></a></td>
                        <td>{{freight.customer.alias}}</td>
                        <td>{{freight.carrier.alias}}</td>
                        <td>{{freight.commodity}}</td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
  </div>
</div>

{% endblock content %}


{% block docready %}
  $("#dataTable").DataTable();

  $(document.body).on("click",".freight-link",function(e){
    
    $(".tab-pane").removeClass('active');
    $($(this).attr('href')).addClass("active");
    document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
    });

    e.preventDefault();
    
  });  

{% endblock docready %}