{% extends 'base.html' %}

{% block subtitle %}Fletes{% endblock subtitle %}

{% block header %} {% if freight_obj %} Editar {% else %} Agregar {% endif %} Flete {% endblock header %}

{% block headerbutton %}
  <a href="{% url 'freight:freight_list' %}" class="btn btn-sm btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text">Regresar</span>
  </a>
{% endblock headerbutton %}

{% block subheader %}{% endblock subheader %}

{% block customcss %}
    <link href="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
{% endblock customcss %}



{% block content %}
<div class="col-xl-12">
    <form role="form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'core/snippets/form_messages.html' with form=freight_form %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Fletes</h6>
            </div>
            <div class="card-body">
            
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="{{freight_form.title.label}}">{{freight_form.title.label}}</label>
                            {{freight_form.title}}
                            {% for error in freight_form.title.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="{{freight_form.cost.label}}">{{freight_form.cost.label}}</label>
                            {{freight_form.cost}}
                            {% for error in freight_form.cost.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>  
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{freight_form.carrier.label}}">{{freight_form.carrier.label}}</label>
                            {{freight_form.carrier}}
                            {% for error in freight_form.carrier.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>  
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{freight_form.customer.label}}">{{freight_form.customer.label}}</label>
                            {{freight_form.customer}}
                            {% for error in freight_form.customer.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>  
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{freight_form.source_region.label}}">{{freight_form.source_region.label}}</label>
                            {{freight_form.source_region}}
                            {% for error in freight_form.source_region.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{freight_form.source_path.label}}">{{freight_form.source_path.label}}</label>
                            {{freight_form.source_path}}
                            {% for error in freight_form.source_path.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="{{freight_form.target_region.label}}">{{freight_form.target_region.label}}</label>
                        {{freight_form.target_region}}
                        {% for error in freight_form.target_region.errors %}
                            <span class='help-block has-error help-block-error'>{{error}}</span>
                        {% endfor %}
                        </div>  
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="{{freight_form.target_path.label}}">{{freight_form.target_path.label}}</label>
                        {{freight_form.target_path}}
                        {% for error in freight_form.target_path.errors %}
                            <span class='help-block has-error help-block-error'>{{error}}</span>
                        {% endfor %}
                        </div>
                    </div>


                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="{{freight_form.equipment.label}}">{{freight_form.equipment.label}}</label>
                            {{freight_form.equipment}}
                            {% for error in freight_form.equipment.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{freight_form.commodity.label}}">{{freight_form.commodity.label}}</label>
                            {{freight_form.commodity}}
                            {% for error in freight_form.commodity.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="{{freight_form.commodity_amount.label}}">{{freight_form.commodity_amount.label}}</label>
                            {{freight_form.commodity_amount}}
                            {% for error in freight_form.commodity_amount.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="{{freight_form.note.label}}">{{freight_form.note.label}}</label>
                            {{freight_form.note}}
                            {% for error in freight_form.note.errors %}
                                <span class='help-block has-error help-block-error'>{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>    
            </div>
            <div class="card-footer">
                <div class="col-sm-12 text-right">                        
                    <button class="btn btn-sm btn-success" type="submit">Guardar</button>
                    <a href="{% url 'freight:freight_list' %}" class="btn btn-sm btn-white">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content%}

{% block customjs %}
    <script src="{{STATIC_URL}}plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
{% endblock customjs %}

{% block docready %}
    {% include 'core/snippets/form_validation.html' with form=freight_form %}
    {% include 'core/snippets/messages_error.html' with form=freight_form %}
    
    $("#id_cost").TouchSpin({
        min: 0,
        max: 100000,
        step: 1000,
        buttondown_class: 'btn btn-light',
        buttonup_class: 'btn btn-light'
    });
    $("#id_commodity_amount").TouchSpin({
        min: 0,
        max: 100,
        step: 1,
        buttondown_class: 'btn btn-light',
        buttonup_class: 'btn btn-light'
    });

   $(".select2").select2({width: '100%'});
{% endblock docready %}