{% extends 'base.html' %}

{% block subtitle %}Equipos{% endblock subtitle %}

{% block header %}Lista de equipos{% endblock header %}

{% block headerbutton %}
<div>
    {% with perm='can_add_'|add:app_name %}   
        {% if perm in permissions or user.is_superuser %}
        <a href="{% url 'equipments:equipment_add' %}" class="btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus text-white-50"></i> Agregar equipo
        </a>
        {% endif %}
    {% endwith %}
    <a href="{% url 'authorization:dashboard' %}" class="btn btn-sm btn-secondary btn-icon-split">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text">Regresar</span>
    </a>
</div>
{% endblock headerbutton %}

         
{% block subheader %}{% endblock subheader %}

{% block customcss %}
  
{% endblock customcss %}

{% block content %}

{% load thumbnail %}

<div class="col-xl-12">
    
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Buscar equipo...">
            </div>
        </div>
    </div>
    <div class="row" id="equipments">
    {% for equipment in equipment_list %}
        <div class="col-xl-4 col-md-6 mb-4 cards_col">
            <div class="card border-left-success shadow table_list">
                <div class="card-header d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Equipos</h6>
                    <div>
                        {% with perm='can_edit_'|add:app_name %}   
                            {% if perm in permissions or user.is_superuser %}
                            <a href="{% url 'equipments:equipment_edit' equipment.pk %}" class="btn btn-sm btn-warning btn-circle">
                                <i class="fas fa-edit"></i>
                            </a>
                            {% endif %}
                        {% endwith %}
                        {% with perm='can_delete_'|add:app_name %}   
                            {% if perm in permissions or user.is_superuser %}
                            <button data-url="{% url 'equipments:equipment_delete' equipment.pk %}" title="Eliminar" class="btn btn-sm btn-danger btn-circle js-view-delete">
                                <i class="fa fa-trash"></i>
                            </button>
                            {% endif %}
                        {% endwith %}
                    </div>
                
                </div>
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{equipment.name}}</div>
                        </div>
                        <div class="col-auto">
                        {% if equipment.picture %}
                            {% thumbnail equipment.picture '50x50' crop='center' as img %}<img src="{{img.url}}" class="rounded-circle">{% endthumbnail %}
                        {% else %}
                            <img class="rounded-circle" width="50" src="{{STATIC_URL}}img/equipment.png">
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<script>
    function myFunction() {
        var input, filter, cards, cardContainer, h5, title, i;
        input = document.getElementById("myFilter");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("equipments");
        cards = cardContainer.getElementsByClassName("cards_col");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-body div.h5");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>

<div class="modal inmodal fade" id="modal_form" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
  </div>
</div>

{% endblock content %}


{% block docready %}
    
{% endblock docready %}